@charset "UTF-8";

.textBox{
    padding: 20px 30px;
    border: 1px solid #dadada;
    border-radius: 7px;
}
.title{
    margin-left: 118px;
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    color: #444;
    border-bottom: 5px solid #dadada;
    margin-bottom: 20px;
}
.lineBox{
    display: flex;
    margin-bottom: 15px;
}