@charset "UTF-8";

.wrap{
    width: 1200px;
    margin: 0 auto;
}
.wrapInner{
    padding: 30px;
}
.title{
    margin-left: 70px;
    width: 150px;
    font-size: 22px;
    font-weight: 700;
    color: #444;
    border-bottom: 5px solid #dadada;
    margin-bottom: 20px;
}
#calendar{
    width: 1000px;
    margin: 30px auto;
}
.selectBtns{
    width: 200px;
    border-radius: 5px;
}
.selectBtn{
    margin-right: -4px;
    cursor: pointer;
    padding: 10px 36px;
    border-radius: 3px 0 0 3px;
    border: 0;
    outline: none;
    background-color: #fff;
    color: #666;
    border: 1px solid #dadada;
}
.selectBtn:last-child{
    border-radius: 0 3px 3px 0;
}
.selectBtn.on{
    background-color: #03c75a;
    color: #fff;
    border: 1px solid #1ab754;
}
.submitBtn{
    width: 201px;
    cursor: pointer;
    padding: 10px 80px;
    border-radius: 5px;
    border: 0;
    outline: none;
    background-color: #03c75a;
    color: #fff;
}
.btnBox{
    margin: 0 auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.hiddenDiv{
    display: none;
}