<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<head>
    <meta charset="UTF-8">
    <title>업소 정보 페이지</title>

</head>

<body>
    <th:block layout:fragment="content">
        <th:block class="accomDetail-wrap">
            <div class="accomDetail-inner">
                <link rel="stylesheet" href="/css/accom/accomDetail.css">
                <input type="hidden" name="accomCode" th:value="${mAccom.accomCode}">
                <div class="header">
                    <div class="title">숙소 상세</div>
                </div>
                <div class="accomdetail-head">
                    <div class="accomCateBox">
                        <span class="head1-span-gwal"></span>
                        <div class="accomLocal">[[${mAccom.accomLoc}]]</div>
                        <span class="head1-span-slash">/</span>
                        <div class="accomCate">[[${mAccom.accomCategory.cateName}]]</div>
                    </div>

                    <div class="mainAccomName-inner">
                        <div style="display: none;" class="col-3 align-middle">업소명</div>
                        <div class="accomName" id="accomName">[[${mAccom.accomName}]] </div>
                        <input type="text" class="input_textarea" id="inputAccomName" name="inputAccomName"
                            style="display : none">
                        <th:block th:if="${(userName != null )&&(mAccom.accomCeo == userName)}">
                            <button id="updateButton" type="button" class="btn btn-primary"
                                onclick="updateAccomForm()">변경</button>
                            <button id="updateButton" type="button" class="btn btn-primary"
                                th:onclick="updateMainAccomName([[${mAccom.accomCode}]],[[${mAccom.accomName}]],[[${mAccom.accomIntro}]]),returnUpdateForm()"
                                style="display : none">변경완료</button>
                        </th:block>
                    </div>

                </div>
                <div class="mainAccom-detail">
                    <div class="mainAccomDetail-inner">
                        <div class="mainAccomImg-main">
                            <div class="mainAccomMainImg" th:if="${img.isMain == 'Y'}" th:each="img : ${imgList}">
                                <th:block>
                                    <img width="100%" height="280px" th:src="${'/img/accom/'+ img.attachedFileName}"
                                        alt="">
                                </th:block>
                            </div>
                            <div class="cartImg1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="red"
                                    class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg>
                            </div>
                            <div class="cartImg2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="red"
                                    class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                </svg>
                            </div>
                        </div>
                        <div class="mainAccomDetail">
                            <div class="reviewPoint">
                                <div class="review" th:onclick="|location.href='@{/buy/accomReviewList(accomCode=${mAccom.accomCode})}'|">
                                    <div class="reviewImg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#dadada"
                                            class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                    </div>
                                    <div class="reviewSpan" >
                                        <span class="span">[[${score.avg}]]</span>
                                        <span class="span">/</span>
                                        <span class="span">5</span>
                                        <span class="span">( [[${score.count}]] )</span>
                                    </div>
                                </div>
                            </div>

                            <div class="mainAccomAddrForm">
                                <div class="addrImg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#dadada"
                                        viewBox="0 0 18 18" class="DNzQ2" aria-hidden="true">
                                        <path
                                            d="M9 1C5.4 1 2.5 3.7 2.5 7.1c0 1.2.4 2.3 1 3.3l5.1 6.1c.2.2.6.2.8 0l5.1-6.1c.7-1 1-2.1 1-3.3C15.5 3.7 12.6 1 9 1zm0 8c-.8 0-1.5-.7-1.5-1.5S8.2 6 9 6s1.5.7 1.5 1.5S9.8 9 9 9z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="mainAccomAddr-inner">
                                    <div style="display: none;" class="col-3 align-middle">주소</div>
                                    <div class="accomAddr" id="accomAddr">[[${mAccom.accomAddr}]]</div>
                                    <input type="text" class="form-control" id="inputAccomAddr" name="inputAccomAddr"
                                        style="display : none" onclick="openPost2();" readonly>
                                    <input type="button" class="addrSearch" value="주소검색" onclick="openPost2();"
                                        style="display : none">
                                    <div class="addrDetail" id="addrDetail">[[${mAccom.addrDetail}]]</div>
                                    <input type="text" class="form-control" id="inputAddrDetail" name="inputAddrDetail"
                                        style="display : none">
                                    <th:block th:if="${(userName != null )&&(mAccom.accomCeo == userName)}">
                                        <button id="updateButton1" type="button" class="btn btn-primary"
                                            onclick="updateAccomForm1()">변경</button>
                                        <button id="updateButton1" type="button" class="btn btn-primary"
                                            th:onclick="updateMainAccomAddr([[${mAccom.accomCode}]] ,returnUpdateForm1())"
                                            style="display : none">변경완료</button>
                                    </th:block>
                                    <div class="error-div" id="id-error-div2"></div>
                                </div>
                            </div>
                            <div class="introBox">
                                <div class="introHeader">
                                    INTRODUCE
                                </div>
                                <div class="mainAccomIntro-inner">
                                    <div style="display: none;" class="col-3 align-middle">소개</div>
                                    <div class="accomIntro">[[${mAccom.accomIntro}]]</div>
                                    <textarea type="text" class="form-control" id="inputAccomIntro"
                                        name="inputAccomIntro" style="display : none"></textarea>
                                    <th:block th:if="${(userName != null )&&(mAccom.accomCeo == userName)}">
                                        <button id="updateButton2" type="button" class="btn btn-primary"
                                            onclick="updateAccomForm2()">변경</button>
                                        <button id="updateButton2" type="button" class="btn btn-primary"
                                            th:onclick="updateMainAccomName([[${mAccom.accomCode}]],[[${mAccom.accomName}]],[[${mAccom.accomIntro}]]), returnUpdateForm2()"
                                            style="display : none">변경완료</button>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mainImgSlide-inner">
                        <div class="mainAccomSubImg">
                            <th:block th:if="${(userName != null )&&(mAccom.accomCeo == userName)}">
                                <div class="addSubImg">
                                    <div class="plus">
                                        <span>+</span>
                                        <form action="" id="mainAccomSubImgs" enctype="multipart/form-data">
                                            <input class="plusbutton" type="file" name="subImg" multiple
                                                th:onchange="addsubImg(this, [[${mAccom.accomCode}]])">
                                        </form>
                                    </div>
                                    <div class="plusText">
                                        사진 추가
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${#lists.size(imgList) != 0}">
                                <div class="imgListSlide" th:each="img : ${imgList}">
                                    <img class="imgSlideList" th:src="${'/img/accom/'+ img.attachedFileName}" alt="">
                                    <input type="hidden" name="mainAccomImgCode" th:value="${img.mainImgCode}">
                                    <th:block th:if="${(userName != null )&&(mAccom.accomCeo == userName)}">
                                        <div class="deletebutton"
                                            th:onclick="deleteSubImg([[${img.mainImgCode}]], [[${mAccom.accomCode}]])">
                                            <span>X</span>
                                        </div>
                                    </th:block>
                                </div>
                            </th:block>
                            <th:block th:if="${#lists.size(imgList) == 0}">
                            </th:block>

                        </div>

                    </div>
                    <div class="accomAddrWrap">
                        <div class="mapTitle">숙소 위치</div>
                        <div class="mapbox">

                            <div class="mapIn">
                                <div id="map" style="width:100%;height:600px; border-radius: 7px;"></div>
                            </div>
                            <div class="mapText">
                                <div class="addrTextBox">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#dadada"
                                        viewBox="0 0 18 18" class="DNzQ2" aria-hidden="true">
                                        <path
                                            d="M9 1C5.4 1 2.5 3.7 2.5 7.1c0 1.2.4 2.3 1 3.3l5.1 6.1c.2.2.6.2.8 0l5.1-6.1c.7-1 1-2.1 1-3.3C15.5 3.7 12.6 1 9 1zm0 8c-.8 0-1.5-.7-1.5-1.5S8.2 6 9 6s1.5.7 1.5 1.5S9.8 9 9 9z">
                                        </path>
                                    </svg>
                                    <span>[[${mAccom.accomAddr}]]</span>
                                </div>

                                <div class="parking">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#dadada"
                                        class="bi bi-car-front-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17 1.247 0 3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z" />
                                    </svg>
                                    <div class="parkingText">유형 : 숙소 내 주차장<br>안내 : 사전문의 필수</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subAccomWrap">
                        <div class="subAccomTitle">객실</div>
                        <div class="subAccomInner">
                            <div class="subAccomBox" th:if="${subList != null}" th:each="sub, state : ${subList}">
                                <th:block th:if="${sub.delete == 'N'}">
                                    <div class="subAccomImg"><img class="img"
                                            th:src="${'/img/subaccom/'+ sub.subAccomImgList[0].attachedFileName}"
                                            th:alt="sub.subAccomImgList[0].originFileName">
                                    </div>
                                    <div class="subAccomText">
                                        <div class="subAccomName">[[${sub.subAccomName}]]</div>
                                        <div class="cateBox">
                                            <th:block th:if="${sub.subAccomCate != null}">
                                                <div class="subAccomCate">[[${sub.subAccomCate}]]</div>
                                            </th:block>
                                            <th:block th:if="${sub.subAccomCate == null}">
                                                <div class="subAccomCate">태그가 없습니다</div>
                                            </th:block>
                                        </div>
                                        <div class="manBox">
                                            <div class="basicManBox">
                                                <div class="basicManText">기준</div>
                                                <div class="basicMan">[[${sub.basicMan}]]</div>
                                                <div class="man">인</div>
                                            </div>
                                            <div class="into">~</div>
                                            <div class="maxManBox">
                                                <div class="maxManText">최대</div>
                                                <th:block th:if="${sub.maxMan == '100'}">
                                                    <div class="noMan">제한없음</div>
                                                </th:block>
                                                <th:block th:if="${sub.maxMan != '100'}">
                                                    <div class="maxMan">[[${sub.maxMan}]]</div>
                                                    <div class="man">인</div>
                                                </th:block>
                                            </div>
                                        </div>
                                        <div class="accomTime">
                                            <div class="accomStartTime">
                                                <div class="checkIn">IN</div>
                                                <div class="time">
                                                    [[${#strings.arraySplit(sub.accomStartTime,':')[0]}]]:[[${#strings.arraySplit(sub.accomStartTime,':')[1]}]]
                                                </div>
                                            </div>
                                            <div class="accomEndTime">
                                                <div class="checkOut">OUT</div>
                                                <div class="time out">
                                                    [[${#strings.arraySplit(sub.accomEndTime,':')[0]}]]:[[${#strings.arraySplit(sub.accomEndTime,':')[1]}]]
                                                </div>
                                            </div>
                                        </div>
                                        <th:block th:if="${sub.dayuseCan == 'Y'}">
                                            <div class="rentBox">
                                                <div class="rent">대실</div>
                                                <div class="rentTime">[[${sub.rentTime}]] 시간</div>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${sub.dayuseCan == 'N'}">
                                            <div class="rentBox">
                                                <div class="rent not">대실 불가</div>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${(userName != null )&&(mAccom.accomCeo == userName)}">
                                            <td>
                                                <div class="updatePrice">
                                                    <div class="rent">숙박</div>
                                                    <input class="inputNum" type="text" name="reservationPrice"
                                                        th:value="${sub.reservationPrice}">
                                                    <input class="priceBtn" type="button" value="수정"
                                                        onclick="changePrice(this)" data-price-name="reservationPrice"
                                                        th:data-sub-accom-Code="${sub.subAccomCode}">
                                                </div>
                                                <div class="updatePrice" th:if="${sub.dayuseCan == 'Y'}">
                                                    <div class="rent">대실</div>
                                                    <input class="inputNum" type="text" name="dayusePrice"
                                                        th:value="${sub.dayusePrice}">
                                                    <input class="priceBtn" type="button" value="수정"
                                                        onclick="changePrice(this)" data-price-name="dayusePrice"
                                                        th:data-sub-accom-Code="${sub.subAccomCode}">
                                                </div>
                                            </td>
                                        </th:block>
                                        <th:block th:if="${(sub.dayuseCan == 'Y')&&(mAccom.accomCeo != userName)}">
                                            <div class="priceBox">
                                                <div class="rent">대실</div>
                                                <div class="price">
                                                    [[${sub.dayusePrice}]]
                                                </div>
                                                <div class="won">원</div>
                                            </div>
                                        </th:block>
                                        <th:block
                                            th:if="${((userName != null )&&(mAccom.accomCeo != userName))||(userName == null )}">
                                            <div class="priceBox">
                                                <div class="rent">숙박</div>
                                                <div class="price">
                                                    [[${sub.reservationPrice}]]
                                                </div>
                                                <div class="won">원</div>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${sub.soldOut == 'N'}">
                                            <div class="dayuseCan" th:onclick="|location.href='@{/buy/calendar(subAccomCode=${sub.subAccomCode})}'|">예약가능</div>
                                        </th:block>
                                        <th:block th:if="${sub.soldOut == 'Y'}">
                                            <div class="dayuseCan Not">마감</div>
                                        </th:block>
                                        <td>
                                            <div class="deleteBox">
                                                <th:block th:if="${sub.soldOut == 'Y'}">

                                                    <th:block
                                                        th:if="${(userName != null )&&(mAccom.accomCeo == userName)}">
                                                        <div class="soldBox">
                                                            <label for="sold">판매하기</label>
                                                            <input id="sold" type="checkbox"
                                                                onclick="changesoldOut(this)"
                                                                th:data-sub-accom-Code="${sub.subAccomCode}"
                                                                data-sold-out="N">
                                                        </div>
                                                    </th:block>
                                                </th:block>
                                                <!-- 판매시작 추가 하기 -->
                                                <th:block th:if="${sub.soldOut != 'Y'}">
                                                    <th:block
                                                        th:if="${(userName != null )&&(mAccom.accomCeo == userName)}">
                                                        <div>
                                                            <label class="sold" for="sold">판매취소</label>
                                                            <input id="sold" type="checkbox"
                                                                onclick="changesoldOut(this)"
                                                                th:data-sub-accom-Code="${sub.subAccomCode}"
                                                                data-sold-out="Y">
                                                        </div>
                                                    </th:block>
                                                    <!-- 판매취소 추가 하기 -->
                                                </th:block>
                                                <th:block th:if="${(userName != null )&&(mAccom.accomCeo == userName)}">
                                                    <input class="dayuseCan" type="button" value="삭제하기"
                                                        th:data-sub-accom-Code="${sub.subAccomCode}"
                                                        onclick="subaccomdelete(this)">
                                                </th:block>
                                            </div>
                                        </td>
                                    </div>
                                </th:block>
                            </div>
                            <th:block th:if="${(userName != null )&&(mAccom.accomCeo == userName)}">

                                <a th:href="@{/accom/subAccomAddForm(accomCode=${mAccom.accomCode})}">
                                    <div class="addSubAccomBox">
                                        <div class="plusBox">
                                            <div class="plus">
                                                <span>+</span>
                                            </div>
                                            <div class="plusText accom">
                                                객실 추가
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </th:block>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	1faecd944d1bb1ff9e6939d4b20a8146&libraries=services">
                </script>
            <script src="/js/accom/AccomMap.js"></script>
            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="/js/slick.min.js"></script>
            <script src="/js/accom/updateAccom.js"></script>
            <script src="/js/accom/updateSubAccom.js"></script>
        </th:block>
    </th:block>
</body>

</html>