<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>업소 정보 페이지</title>
</head>

<body>
    <!--<th:block layout:fragment="content">-->
    <th:block class="accomDetail-wrap">
        <div class="accomDetail-inner">
            <link rel="stylesheet" href="/css/accom/accomDetail.css">
            <h3>업소 정보 상세보기[관리자모드]</h3>
            <input type="hidden" name="accomCode" th:value="${mAccom.accomCode}">

            <div class="accomdetail-head">
                <span class="head1-span-gwal">[</span>
                <div class="accomLocal">[[${mAccom.accomLoc}]]</div>
                <span class="head1-span-slash">/</span>
                <div class="accomCate">[[${mAccom.accomCategory.cateName}]]</div>
                <span class="head1-span-gwal">]</span>
            </div>
            <div class="mainAccom-detail">

                <div class="mainAccomDetail-inner">
                    <div class="mainAccomImg-main">
                        <div class="mainAccomMainImg" th:each="img : ${imgList}">
                            <th:block th:if="${img.isMain == 'Y'}">
                                <img width="100%" height="280px" th:src="${'/img/accom/'+ img.attachedFileName}" alt="">
                            </th:block>
                        </div>
                    </div>
                    <div class="mainAccomDetail">
                        <div class="mainAccomName-inner">
                            <div style="display: none;" class="col-3 align-middle">업소명</div>
                            <div class="accomName" id="accomName">[[${mAccom.accomName}]] </div>
                            <input type="text" class="form-control" id="inputAccomName" name="inputAccomName"
                                style="display : none">
                            <button id="updateButton" type="button" class="btn btn-primary"
                                onclick="updateAccomForm()">변경</button>
                            <button id="updateButton" type="button" class="btn btn-primary"
                                th:onclick="updateMainAccomName([[${mAccom.accomCode}]],[[${mAccom.accomName}]],[[${mAccom.accomIntro}]]),returnUpdateForm()"
                                style="display : none">변경완료</button>
                        </div>
                        <div class="review">
                            <span class="reviewImg">별</span>
                            <span>평점</span>
                            <span>/</span>
                            <span>5</span>
                            <span>(리뷰 개수)</span>
                        </div>
                        <div class="mainAccomAddr-inner">
                            <div style="display: none;" class="col-3 align-middle">주소</div>
                            <div class="accomAddr" id="accomAddr">[[${mAccom.accomAddr}]]</div>
                            <input type="text" class="form-control" id="inputAccomAddr" name="inputAccomAddr"
                                style="display : none" onclick="openPost2();" readonly>
                            <input type="button" class="addrSearch" value="주소검색" onclick="openPost2();"
                                style="display : none">
                            <div class="addrDetail" id="addrDetail">[[${mAccom.addrDetail}]]</div>
                            <input type="text" class="form-control" id="inputAddrDetail" name="inputAddrDetail"
                                style="display : none">
                            <button id="updateButton1" type="button" class="btn btn-primary"
                                onclick="updateAccomForm1()">변경</button>
                            <button id="updateButton1" type="button" class="btn btn-primary"
                                th:onclick="updateMainAccomAddr([[${mAccom.accomCode}]] ,returnUpdateForm1())"
                                style="display : none">변경완료</button>
                            <div class="error-div" id="id-error-div2"></div>
                        </div>
                        <div class="mainAccomIntro-inner">
                            <div style="display: none;" class="col-3 align-middle">소개</div>
                            <div class="col">[[${mAccom.accomIntro}]]</div>
                            <textarea type="text" class="form-control" id="inputAccomIntro" name="inputAccomIntro"
                                style="display : none"></textarea>
                            <button id="updateButton2" type="button" class="btn btn-primary"
                                onclick="updateAccomForm2()">변경</button>
                            <button id="updateButton2" type="button" class="btn btn-primary"
                                th:onclick="updateMainAccomName([[${mAccom.accomCode}]],[[${mAccom.accomName}]],[[${mAccom.accomIntro}]]), returnUpdateForm2()"
                                style="display : none">변경완료</button>
                        </div>
                    </div>
                </div>
                <div class="mainImgSlide-inner">
                    <div class="mainAccomSubImg">
                        <div class="addSubImg">
                            <div class="plus">
                                <span>+</span>
                                <form action="" id="mainAccomSubImgs" enctype="multipart/form-data">
                                    <input class="plusbutton" type="file" name="subImg" multiple
                                        th:onchange="addsubImg(this, [[${mAccom.accomCode}]])">
                                </form>
                            </div>
                            <div class="plusText">
                                사진 추가
                            </div>
                        </div>
                        <th:block th:if="${#lists.size(imgList) != 0}">
                            <div class="imgListSlide" th:each="img : ${imgList}">
                                <img class="imgSlideList" th:src="${'/img/accom/'+ img.attachedFileName}" alt="">
                                <input type="hidden" name="mainAccomImgCode" th:value="${img.mainImgCode}">
                                <div class="deletebutton"
                                    th:onclick="deleteSubImg([[${img.mainImgCode}]], [[${mAccom.accomCode}]])">
                                    <span>X</span>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:if="${#lists.size(imgList) == 0}">
                        </th:block>

                    </div>
                </div>
            </div>
            <h3>서브 숙소 추가</h3>
            <div class="subAccomWrap">
                <div class="subAccomInner">
                    <a th:href="@{/accom/subAccomAddForm(accomCode=ACCOM_005)}">
                    <div class="addSubAccomBox">
                        <div class="plus">
                            <span>+</span>
                            <div class="plusText">
                                서브 추가
                            </div>
                        </div>
                    </div>
                </a>

                </div>
            </div>
            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="/js/slick.min.js"></script>
            <script src="/js/accom/updateAccom.js"></script>
    </th:block>
</body>

</html>