<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
    <th:block layout:fragment="content_css">

    </th:block>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="subAccom" style="display: flex; justify-content: center;  margin: 0 auto;">
            <!-- 메인이미지 -->
            <div class="subAccomMainImg" th:each="img : ${imgList}" >
                <th:block th:if="${img.isMain == 'Y'}">
                   <div>
                    <img width="600px" height="auto"  th:src="${'/img/subaccom/'+ img.attachedFileName}"
                    alt="">
                   </div>
                </th:block>
            </div>
            <div class="subAccomDetail" style="width: 400px; font-size: 20px; line-height: 50px; margin-left: 200px;">
                <div>name : [[${subAccom.subAccomName}]]</div>
                <div>intro : [[${subAccom.subAccomIntro}]]</div>
                <div class="subAccomSubImg" th:each="cate ,state : ${#strings.listSplit(subAccom.subAccomCate,',')}">
                    옵션 [[${state.index + 1}]] : <span>[[${cate}]]</span>
                </div>
                <div>평균인원 : [[${subAccom.basicMan}]]</div>
                <div>최대인원 : [[${subAccom.maxMan}]]</div>
                <div>체크인시간 : [[${subAccom.accomStartTime}]]</div>
                <div>체크아웃시간 : [[${subAccom.accomEndTime}]]</div>
                <div>1박 가격 : [[${subAccom.reservationPrice}]]</div>
                <!-- 대실 가능시 -->
                <th:block th:if="${subAccom.dayuseCan == 'Y'}">
                    <div>대실 가능 : 가능</div>
                <div>대실시간 : [[${subAccom.rentTime}]]시간 </div>
                <div>대실 가격: [[${subAccom.dayusePrice}]]</div>

                </th:block>
            </div>
        </div>
            <span>서브 이미지</span>
            <div class="subAccomSubImg" th:each="img : ${imgList}">
                <th:block th:if="${img.isMain == 'N'}">
                    <img width="400px" height="auto" th:src="${'/img/subaccom/'+ img.attachedFileName}"
                        alt="">
                </th:block>
            </div>
    </th:block>
</body>
<th:block layout:fragment="content_js">

</th:block>

</html>