@charset "UTF-8";

.search{
    width: 1000px;
    margin: 0 auto;
}
.s_in{
    margin: 30px 0 50px 0;
}
#title{
    width: 150px;
    font-size: 22px;
    font-weight: 700;
    color: #444;
    border-bottom: 5px solid #dadada;
    margin-bottom: 20px;
}
.table{
    margin: 0 auto;
    width: 1000px;
    border-radius: 7px;
    border: 1px solid #dadada;
}
.tableHeader{

    display: flex;
    border-bottom: 1px solid #dadada;
}
.column{
    padding: 10px 20px;
    text-align: center;
    color: #666;
}
.column.num{
    width: 150px;
    border-right: 1px solid #dadada;
}
.column.title{
    width: 600px;
}
.tr{
    border-bottom: 1px solid #dadada;
    display: flex;
}
.value{
    color: #666;
    text-align: center;
    padding: 10px 20px;
    border-right: 1px solid #dadada;
}
.value:last-child{
    border: 0;
}
.value.num{
    width: 150px;
}
.value.title{
    width: 600px;
}
.tr:last-child{
    border: 0;
}
.h3{
    font-weight: 700;
    width: 1000px;
    font-size: 22px;
    color: #444;
    border-bottom: 3px solid #666;
    margin-bottom: 20px;
}
.sBox{
    margin-bottom: 50px;
}
.qna_d1{
    position: relative;
    padding: 15px 10px 0px 15px;
    border-bottom: 1px solid #dadada;
    cursor: pointer;
}

.qna_d1::after{
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(/img/mball_arrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    opacity: 0.6;

}

.qna_d1.active::after{
    transform: rotate(180deg);
}

.qna_d1:last-child{
    border: 0;
}

.qna_d1 div{
    font-size: 17px;
}


.qna_d1 .qna_cateName{
    color: #03c75a;
    font-size: 17px;
    width: 50px;
}

.qna_d1 span{
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 30px;
}
.pageBtn{
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}
.qna_span_q{
    background-color: #999;
}

.qna_span_a{
    background-color: #222;
}

.active .qna_span_q{
    background-color: rgb(22, 161, 22);
}

.qna_answer{
    display: block;
    margin-left: 87px;
    margin-top: 15px;
    padding-bottom: 15px;
}

.qna_answer.active{
    display: none;
}

.qna_question{
    position: relative;
    margin-bottom: 15px;
}

.page_prevBtn{
    font-size: 15px;
}

.page_nextBtn{
    font-size: 15px;
}

.page_numBtn{
    font-size: 15px;

}

.pageBtn > a{
    
    color: #222;
    margin-right: 10px;
}

.btn_group{
    justify-content: center;
    width: 800px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.qnaFormBtn, .inqFormBtn{
    margin:0 auto;
    width: 200px;
    height: 30px;
    color: #fff;
    background-color: #03c75a;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.inqFormBtn:hover, .qnaFormBtn:hover{
    background-color: #1ab754;
}

.qnaList a{
    color: #1db954;
}
.contentBox{
    margin: 0 auto;
    width: 1000px;
    border-radius: 7px;
    border: 1px solid #dadada;
    box-shadow: 0 2px 6px 0 rgba(68,68,68,.08);
}
.qna_btn{
    position: absolute;
    right: 45px;
    top: 2px;
}
.qna_btn input{
    font-size: 13px;
    width: 55px;
    height: 28px;
    background-color: #03c75a;
    border: 1px solid #dadada;
    color: #fff;
    border-radius: 5px;
}
.qna_btn input:hover{
    background-color: #1db954;
}
.searchBox{
    display: flex;
    margin-right: 100px;
}
.search_input input{
    outline: none;
    border-radius: 5px;
    border: 1px solid #dadada;
    color: #666;
    margin-right: 2px;
}
.search_input input:focus{
    border: 1px solid #1db954;
}
.search_btn{
    margin-top: -2px;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: #03c75a;
    border: 1px solid #dadada;
    color: #fff;
}
.search_btn:hover{
    background-color: #1db954;
}

.accomItems{
    box-sizing: border-box;
    width: 1000px;
    height: 640px;
    border-top: 0;
    border-radius: 7px;
    background-color: #fff;
    padding: 0 15px 10px 15px;
    display: table;
}
.headerText{
    width: 800px;
    font-size: 25px;
    font-weight: 700;
    color: #444;
    border-bottom: 2px solid #dadada;
    margin-bottom: 20px;
}
.items{
    display: flex;
    padding: 10px 5px;
}
.itemdetail{
    display: inline-block;
    box-shadow: 0 2px 6px 0 rgba(68,68,68,0.8);
    position: relative;
    width: 214px;
    height: 300px;
    margin: 5px 2px;
    /* border: 1px solid #dadada; */
    border-radius: 5px;
    padding: 2px;
}
.itemdetail:hover{
    border: 1px solid #1ab752;
}
.photo{
    border-radius: 5px 5px 0 0;
    border: 1px solid #dadada;
    width: 213px;
    height: 180px;
}
.photo img{
    width: 213px;
    height: 180px;
}
.text{
    padding: 10px;
}
.itemName{
    color: #888;
    margin-bottom: 10px;
}
.itemStar{
    display: flex;
}
.star{
    margin-right: 10px;
}
.itemReview{
    display: flex;
}
.price{
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.love{
    position: absolute;
    left: 13px;
    bottom: 8px;
}

span{
    color: #888;
}
.priceNum{
    color: #444;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    width: 81px;
}
.sMainAcc_in, .sSubAcc_in{
    width: 1000px;
    border-radius: 7px;
    border: 1px solid #dadada;
}
.tema{
    display: flex;
}
.itemLoc{
    color: #1ab752;
    margin-right: 5px;
}
.cateName{
    color: #1ab752;
}