<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="accomMapper">
    <resultMap id="mainAccom" type="com.jejugreentour.jgt.accom.vo.MainAccomVO">
        <result column="ACCOM_CODE"      property="accomCode" />
        <result column="ACCOM_NAME"      property="accomName" />
        <result column="ACCOM_ADDR"    property="accomAddr" />
        <result column="ACCOM_INTRO"    property="accomIntro" />
        <result column="ACCOM_CATE"    property="accomCate" />
        <result column="ACCOM_CEO"    property="accomCeo" />
        <result column="ADDR_DETAIL"    property="addrDetail" />
        <result column="ACCOM_LOC"    property="accomLoc" />
        <collection property="mainAccomImgList" resultMap="mainAccomImg" />
        <collection property="accomCategory" resultMap="accomCategory" />
    </resultMap>

    <resultMap id="mainAccomImg" type="com.jejugreentour.jgt.accom.vo.MainAccomImgVO">
        <result column="MAIN_IMG_CODE"      property="mainImgCode" />
        <result column="ORIGIN_FILE_NAME"      property="originFileName" />
        <result column="ATTACHED_FILE_NAME"    property="attachedFileName" />
        <result column="ACCOM_CODE"    property="accomCode" />
        <result column="IS_MAIN"    property="isMain" />
    </resultMap>

    <resultMap id="subAccom" type="com.jejugreentour.jgt.accom.vo.SubAccomVO">
        <result column="SUB_ACCOM_CODE"      property="subAccomCode" />
        <result column="ACCOM_CODE"      property="accomCode" />
        <result column="SUB_ACCOM_NAME"    property="subAccomName" />
        <result column="SUB_ACCOM_INTRO"    property="subAccomIntro" />
        <result column="SUB_ACCOM_CATE"    property="subAccomCate" />
        <result column="ACCOM_PRICE"    property="accomPrice" />
        <result column="BASIC_MAN"    property="basicMan" />
        <result column="MAX_MAN"    property="maxMan" />
        <result column="ACCOM_START_TIME"    property="accomStartTime" />
        <result column="ACCOM_END_TIME"    property="accomEndTime" />
        <result column="RENT_TIME"    property="rentTime" />
        <result column="SOLD_OUT"    property="soldOut" />
    </resultMap>

    <resultMap id="subAccomImg" type="com.jejugreentour.jgt.accom.vo.SubAccomImgVO">
        <result column="SUB_IMG_CODE"      property="subImgCode" />
        <result column="ORIGIN_FILE_NAME"      property="originFileName" />
        <result column="ATTACHED_FILE_NAME"    property="attachedFileName" />
        <result column="SUB_ACCOM_CODE"    property="subAccomCode" />
        <result column="IS_MAIN"    property="isMain" />
    </resultMap>

    <resultMap id="accomReview" type="com.jejugreentour.jgt.accom.vo.AccomReviewVO">
        <result column="ACCOM_CODE"      property="accomCode" />
        <result column="REVIEW_POINT"      property="reviewPoint" />
        <result column="REVIEW_DETAIL"    property="reviewDetail" />
        <result column="ORIGIN_FILE_NAME"    property="originFileName" />
        <result column="ATTACHED_FILE_NAME"    property="attachedFileName" />
        <result column="REVIEW_DATE"    property="reviewDate" />
    </resultMap>

    <resultMap id="accomCategory" type="com.jejugreentour.jgt.accom.vo.AccomCategoryVO">
        <result column="ACCOM_CATE"      property="accomCate" />
        <result column="CATE_NAME"      property="cateName" />
    </resultMap>

    <resultMap id="accomLoc" type="com.jejugreentour.jgt.accom.vo.AccomLocVO">
        <result column="ACCOM_LOC_CODE"      property="accomLocCode" />
        <result column="LOC_NAME"      property="LOC_NAME" />
    </resultMap>

    <insert id="addAccom">
        INSERT INTO MAIN_ACCOM (
        ACCOM_CODE
        , ACCOM_NAME
        , ACCOM_ADDR
        , ADDR_DETAIL
        , ACCOM_INTRO
        , ACCOM_CEO
        , ACCOM_CATE
        , ACCOM_LOC
        )
        VALUES (
        (SELECT 'ACCOM_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ACCOM_CODE, 7))),0) + 1, 3, '0')
        FROM MAIN_ACCOM)
        , #{accomName}
        , #{accomAddr}
        , #{addrDetail}
        , #{accomIntro}
        , #{accomCeo}
        , #{accomCate}
        , #{accomLoc}
        )
    </insert>

    <!-- 아이템 코드 호출 -->
    <select id="selectNextAccomCode" resultType="String">
        SELECT 'ACCOM_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ACCOM_CODE, 7))),0) + 1, 3, '0')
        FROM MAIN_ACCOM
    </select>

    <select id="selectSubImg" resultMap="mainAccomImg">
        SELECT *
        FROM MAIN_ACCOM_IMG
        WHERE ACCOM_CODE = #{accomCode}

    </select>

    <insert id="insertImgs">
        INSERT INTO MAIN_ACCOM_IMG (
        MAIN_IMG_CODE
        , ORIGIN_FILE_NAME
        , ATTACHED_FILE_NAME
        , ACCOM_CODE
        , IS_MAIN
        )
        <foreach collection="mainAccomImgList" item="mainAccomImg" separator="UNION ALL" index="idx">
            SELECT (SELECT 'MAIN_IMG_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(MAIN_IMG_CODE, 10))),0) + 1 + #{idx}, 3, '0')
            FROM MAIN_ACCOM_IMG)
            , #{mainAccomImg.originFileName}
            , #{mainAccomImg.attachedFileName}
            , #{mainAccomImg.accomCode}
            , #{mainAccomImg.isMain}
            FROM DUAL
        </foreach>
    </insert>

    <!--  상품 상세 조회  -->
<!--    <select id="selectMainAccomDetail" resultMap="mainAccom">-->
<!--        SELECT MACCOM.ACCOM_CODE-->
<!--        , MIMG.MAIN_IMG_CODE-->
<!--        , ACCOM_NAME-->
<!--        , ACCOM_ADDR-->
<!--        , ACCOM_INTRO-->
<!--        , CATE.CATE_NAME-->
<!--        , ATTACHED_FILE_NAME-->
<!--        , IS_MAIN-->
<!--        , ACCOM_LOC-->
<!--        , ADDR_DETAIL-->
<!--        FROM MAIN_ACCOM MACCOM, MAIN_ACCOM_IMG MIMG, ACCOM_CATEGORY CATE-->
<!--        WHERE MACCOM.ACCOM_CODE = MIMG.ACCOM_CODE-->
<!--        AND MACCOM.ACCOM_CODE = #{accomCode}-->
<!--        AND MACCOM.ACCOM_CATE = CATE.ACCOM_CATE-->
<!--    </select>-->

    <select id="selectMainAccomDetail" resultMap="mainAccom">
        SELECT MACCOM.ACCOM_CODE
        , ACCOM_NAME
        , ACCOM_ADDR
        , ACCOM_INTRO
        , CATE.CATE_NAME
        , ACCOM_LOC
        , ADDR_DETAIL
        FROM MAIN_ACCOM MACCOM, ACCOM_CATEGORY CATE
        WHERE MACCOM.ACCOM_CODE = #{accomCode}
        AND MACCOM.ACCOM_CATE = CATE.ACCOM_CATE
    </select>

    <update id="updateMainAccomName">
        UPDATE MAIN_ACCOM
        SET
        <if test='inputMainAccomName != null and !inputMainAccomName.equals(accomName) and !inputMainAccomName.equals("")' >
            ACCOM_NAME = #{inputMainAccomName}
            <if test='inputMainAccomIntro != null and !inputMainAccomIntro.equals(accomName) and !inputMainAccomIntro.equals("")' >
                ,
            </if>
        </if>
        <if test='inputMainAccomIntro != null and !inputMainAccomIntro.equals(accomIntro) and !inputMainAccomIntro.equals("")'>
            ACCOM_INTRO = #{inputMainAccomIntro}
        </if>
        WHERE ACCOM_CODE = #{accomCode}
    </update>

    <update id="updateMainAccomAddr">
        UPDATE MAIN_ACCOM
        SET
            ACCOM_ADDR = #{inputAccomAddr}
        ,   ADDR_DETAIL = #{inputAddrDetail}
        WHERE ACCOM_CODE = #{accomCode}
    </update>

    <delete id="deleteSubImg">
        DELETE FROM MAIN_ACCOM_IMG
        WHERE MAIN_IMG_CODE = #{mainImgCode}
    </delete>
</mapper>