<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="accomMapper">
    <resultMap id="mainAccom" type="com.jejugreentour.jgt.accom.vo.MainAccomVO">
        <result column="ACCOM_CODE"      property="accomCode" />
        <result column="ACCOM_NAME"      property="accomName" />
        <result column="ACCOM_ADDR"    property="accomAddr" />
        <result column="ACCOM_INTRO"    property="accomIntro" />
        <result column="ACCOM_CATE"    property="accomCate" />
        <result column="ACCOM_CEO"    property="accomCeo" />
        <result column="ADDR_DETAIL"    property="addrDetail" />
        <result column="ACCOM_LOC"    property="accomLoc" />
        <collection property="mainAccomImgList" resultMap="mainAccomImg" />
        <collection property="accomCategory" resultMap="accomCategory" />
    </resultMap>

    <resultMap id="mainAccomImg" type="com.jejugreentour.jgt.accom.vo.MainAccomImgVO">
        <result column="MAIN_IMG_CODE"      property="mainImgCode" />
        <result column="ORIGIN_FILE_NAME"      property="originFileName" />
        <result column="ATTACHED_FILE_NAME"    property="attachedFileName" />
        <result column="ACCOM_CODE"    property="accomCode" />
        <result column="IS_MAIN"    property="isMain" />
    </resultMap>

    <resultMap id="subAccom" type="com.jejugreentour.jgt.accom.vo.SubAccomVO">
        <id column="SUB_ACCOM_CODE"      property="subAccomCode" />
        <result column="ACCOM_CODE"      property="accomCode" />
        <result column="SUB_ACCOM_NAME"    property="subAccomName" />
        <result column="SUB_ACCOM_INTRO"    property="subAccomIntro" />
        <result column="SUB_ACCOM_CATE"    property="subAccomCate" />
        <result column="DAYUSE_PRICE"    property="dayusePrice" />
        <result column="RESERVATION_PRICE"    property="reservationPrice" />
        <result column="BASIC_MAN"    property="basicMan" />
        <result column="MAX_MAN"    property="maxMan" />
        <result column="ACCOM_START_TIME"    property="accomStartTime" />
        <result column="ACCOM_END_TIME"    property="accomEndTime" />
        <result column="RENT_TIME"    property="rentTime" />
        <result column="SOLD_OUT"    property="soldOut" />
        <result column="DAY_USE_CAN"    property="dayuseCan" />
        <result column="SUB_DELETE"    property="delete" />
        <result column="ACCOM_LOC"    property="accomLoc" />
        <collection property="subAccomImgList" resultMap="subAccomImg" />
    </resultMap>

    <resultMap id="subAccomImg" type="com.jejugreentour.jgt.accom.vo.SubAccomImgVO">
        <result column="SUB_IMG_CODE"      property="subImgCode" />
        <result column="ORIGIN_FILE_NAME"      property="originFileName" />
        <result column="ATTACHED_FILE_NAME"    property="attachedFileName" />
        <result column="SUB_ACCOM_CODE"    property="subAccomCode" />
        <result column="IS_MAIN"    property="isMain" />
    </resultMap>

    <resultMap id="accomReview" type="com.jejugreentour.jgt.accom.vo.AccomReviewVO">
        <result column="ACCOM_CODE"      property="accomCode" />
        <result column="REVIEW_POINT"      property="reviewPoint" />
        <result column="REVIEW_DETAIL"    property="reviewDetail" />
        <result column="ORIGIN_FILE_NAME"    property="originFileName" />
        <result column="ATTACHED_FILE_NAME"    property="attachedFileName" />
        <result column="REVIEW_DATE"    property="reviewDate" />
    </resultMap>

    <resultMap id="accomCategory" type="com.jejugreentour.jgt.accom.vo.AccomCategoryVO">
        <result column="ACCOM_CATE"      property="accomCate" />
        <result column="CATE_NAME"      property="cateName" />
    </resultMap>

    <select id="showMain" resultMap="subAccom">
        SELECT *
        FROM SUB_ACCOM
        ,MAIN_ACCOM
        ,SUB_ACCOM_IMG
        WHERE SUB_ACCOM.ACCOM_CODE=MAIN_ACCOM.ACCOM_CODE

    </select>


    <insert id="addAccom">
        INSERT INTO MAIN_ACCOM (
        ACCOM_CODE
        , ACCOM_NAME
        , ACCOM_ADDR
        , ADDR_DETAIL
        , ACCOM_INTRO
        , ACCOM_CEO
        , ACCOM_CATE
        , ACCOM_LOC
        )
        VALUES (
        (SELECT 'ACCOM_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ACCOM_CODE, 7))),0) + 1, 3, '0')
        FROM MAIN_ACCOM)
        , #{accomName}
        , #{accomAddr}
        , #{addrDetail}
        , #{accomIntro}
        , #{accomCeo}
        , #{accomCate}
        , #{accomLoc}
        )
    </insert>
    <insert id="addSubAccom">
      INSERT INTO SUB_ACCOM(SUB_ACCOM_CODE
    , ACCOM_CODE
    , SUB_ACCOM_NAME
    , SUB_ACCOM_INTRO
    , SUB_ACCOM_CATE
    , BASIC_MAN
    , MAX_MAN
    , ACCOM_START_TIME
    , ACCOM_END_TIME
    , RENT_TIME
    , DAY_USE_PRICE
    , RESERVATION_PRICE
    , DAY_USE_CAN)
    VALUES ((SELECT 'SUB_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(SUB_ACCOM_CODE,5))),0)+1,3,'0')FROM SUB_ACCOM)
    , #{ACCOM_CODE}
    , #{101호}
    , #{설명}
    , #{방사이즈}
    , #{인원수}
    , #{최대인원수}
    ,'hh:00:00'  체크아웃 오전 9
    ,'hh:00:00'  체크아웃 오후 15 16
    ,#{대실시간}
    ,#{대실가격}
    ,#{1박 가격}
    ,#{대실 가능 여부 Y});
    </insert>


<!--
<result column="SUB_ACCOM_CATE"    property="subAccomCate" />
        <result column="ACCOM_PRICE"    property="accomPrice" />
        <result column="BASIC_MAN"    property="basicMan" />
        <result column="MAX_MAN"    property="maxMan" />
        <result column="ACCOM_START_TIME"    property="accomStartTime" />
        <result column="ACCOM_END_TIME"    property="accomEndTime" />
        <result column="RENT_TIME"    property="rentTime" />
        <result column="SOLD_OUT"    property="soldOut" />
-->
    <!-- 아이템 코드 호출 -->
    <select id="selectNextAccomCode" resultType="String">
        SELECT 'ACCOM_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ACCOM_CODE, 7))),0) + 1, 3, '0')
        FROM MAIN_ACCOM
    </select>

    <select id="selectSubImg" resultMap="mainAccomImg">
        SELECT *
        FROM MAIN_ACCOM_IMG
        WHERE ACCOM_CODE = #{accomCode}

    </select>

    <insert id="insertImgs">
        INSERT INTO MAIN_ACCOM_IMG (
        MAIN_IMG_CODE
        , ORIGIN_FILE_NAME
        , ATTACHED_FILE_NAME
        , ACCOM_CODE
        , IS_MAIN
        )
        <foreach collection="mainAccomImgList" item="mainAccomImg" separator="UNION ALL" index="idx">
            SELECT (SELECT 'MAIN_IMG_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(MAIN_IMG_CODE, 10))),0) + 1 + #{idx}, 3, '0')
            FROM MAIN_ACCOM_IMG)
            , #{mainAccomImg.originFileName}
            , #{mainAccomImg.attachedFileName}
            , #{mainAccomImg.accomCode}
            , #{mainAccomImg.isMain}
            FROM DUAL
        </foreach>
    </insert>


    <!--  상품 상세 조회  -->
<!--    <select id="selectMainAccomDetail" resultMap="mainAccom">-->
<!--        SELECT MACCOM.ACCOM_CODE-->
<!--        , MIMG.MAIN_IMG_CODE-->
<!--        , ACCOM_NAME-->
<!--        , ACCOM_ADDR-->
<!--        , ACCOM_INTRO-->
<!--        , CATE.CATE_NAME-->
<!--        , ATTACHED_FILE_NAME-->
<!--        , IS_MAIN-->
<!--        , ACCOM_LOC-->
<!--        , ADDR_DETAIL-->
<!--        FROM MAIN_ACCOM MACCOM, MAIN_ACCOM_IMG MIMG, ACCOM_CATEGORY CATE-->
<!--        WHERE MACCOM.ACCOM_CODE = MIMG.ACCOM_CODE-->
<!--        AND MACCOM.ACCOM_CODE = #{accomCode}-->
<!--        AND MACCOM.ACCOM_CATE = CATE.ACCOM_CATE-->
<!--    </select>-->

    <select id="selectMainAccomDetail" resultMap="mainAccom">
        SELECT MACCOM.ACCOM_CODE
        , ACCOM_NAME
        , ACCOM_ADDR
        , ACCOM_INTRO
        , ACCOM_CEO
        , CATE.CATE_NAME
        , ACCOM_LOC
        , ADDR_DETAIL
        FROM MAIN_ACCOM MACCOM, ACCOM_CATEGORY CATE
        WHERE MACCOM.ACCOM_CODE = #{accomCode}
        AND MACCOM.ACCOM_CATE = CATE.ACCOM_CATE
    </select>

    <update id="updateMainAccomName">
        UPDATE MAIN_ACCOM
        SET
        <if test='inputMainAccomName != null and !inputMainAccomName.equals(accomName) and !inputMainAccomName.equals("")' >
            ACCOM_NAME = #{inputMainAccomName}
            <if test='inputMainAccomIntro != null and !inputMainAccomIntro.equals(accomName) and !inputMainAccomIntro.equals("")' >
                ,
            </if>
        </if>
        <if test='inputMainAccomIntro != null and !inputMainAccomIntro.equals(accomIntro) and !inputMainAccomIntro.equals("")'>
            ACCOM_INTRO = #{inputMainAccomIntro}
        </if>
        WHERE ACCOM_CODE = #{accomCode}
    </update>

    <update id="updateMainAccomAddr">
        UPDATE MAIN_ACCOM
        SET
            ACCOM_ADDR = #{inputAccomAddr}
        ,   ADDR_DETAIL = #{inputAddrDetail}
        WHERE ACCOM_CODE = #{accomCode}
    </update>

    <delete id="deleteSubImg">
        DELETE FROM MAIN_ACCOM_IMG
        WHERE MAIN_IMG_CODE = #{mainImgCode}
    </delete>

    <insert id="insertSubaccom">
        INSERT INTO SUB_ACCOM(SUB_ACCOM_CODE
        , ACCOM_CODE
        , SUB_ACCOM_NAME
        , SUB_ACCOM_INTRO
        , SUB_ACCOM_CATE
        , BASIC_MAN
        , MAX_MAN
        , ACCOM_START_TIME
        , ACCOM_END_TIME
        , RENT_TIME
        , DAYUSE_PRICE
        , RESERVATION_PRICE
        <if test='dayuseCan != null  and dayuseCan.equals("Y")'>
            , DAY_USE_CAN
        </if>
        )
        VALUES ((SELECT 'SUB_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(SUB_ACCOM_CODE,5))),0)+1,3,'0') FROM SUB_ACCOM)
        , #{accomCode}
        , #{subAccomName}
        , #{subAccomIntro},
        <if test='subAccomCates.size()!=0'>
            <foreach collection="subAccomCates" item="cate" separator="||','||" open="(" close=")">
                #{cate}
            </foreach>
        </if>
        <if test='subAccomCates.size() == 0'>
            null
        </if>
        , #{basicMan}
        , #{maxMan}
        , #{accomStartTime}||':00:00'
        , #{accomEndTime}||':00:00'
        , (TO_NUMBER(#{accomStartTime}) - TO_NUMBER(#{accomEndTime}) - 2)
        <if test='(dayusePrice != null and !dayusePrice.equals("")) and dayuseCan != null  and dayuseCan.equals("Y")'>
            , #{dayusePrice}
        </if>
        <if test='dayusePrice == null or dayusePrice.equals("") or dayuseCan == null'>
            , '0'
        </if>
        ,#{reservationPrice}
        <if test='dayuseCan != null and dayuseCan.equals("Y")'>
            , #{dayuseCan}
        </if>
        )
    </insert>

    <insert id="insertSubImgs">
        INSERT INTO SUB_ACCOM_IMG (
        SUB_IMG_CODE
        , ORIGIN_FILE_NAME
        , ATTACHED_FILE_NAME
        , SUB_ACCOM_CODE
        , IS_MAIN
        )
        <foreach collection="subAccomImgList" item="subAccomImg" separator="UNION ALL" index="idx">
            SELECT (SELECT 'SUB_IMG_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(SUB_IMG_CODE, 9))),0) + 1 + #{idx}, 3, '0')
            FROM SUB_ACCOM_IMG)
            , #{subAccomImg.originFileName}
            , #{subAccomImg.attachedFileName}
            , #{subAccomImg.subAccomCode}
            , #{subAccomImg.isMain}
            FROM DUAL
        </foreach>
    </insert>
    <select id="selectNextsubAccomCode" resultType="String">
        SELECT 'SUB_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(SUB_ACCOM_CODE,5))),0)+1,3,'0') FROM SUB_ACCOM
    </select>


    <select id="selectSubAccomDetail" resultMap="subAccom">
        SELECT *
<!--        SUB_ACCOM_CODE-->
<!--        , ACCOM_CODE-->
<!--        , SUB_ACCOM_NAME-->
<!--        , SUB_ACCOM_INTRO-->
<!--        , SUB_ACCOM_CATE-->
<!--        , BASIC_MAN-->
<!--        , MAX_MAN-->
<!--        , ACCOM_START_TIME-->
<!--        , ACCOM_END_TIME-->
<!--        , RENT_TIME-->
<!--        , DAYUSE_PRICE-->
<!--        , RESERVATION_PRICE-->
<!--        , SOLD_OUT-->
<!--        , DAY_USE_CAN-->
        FROM SUB_ACCOM
        WHERE SUB_ACCOM_CODE = #{subAccomCode}
    </select>


    
    <select id="selectSubAccomImg" resultMap="subAccomImg">
        SELECT *
        FROM SUB_ACCOM_IMG
        WHERE SUB_ACCOM_CODE = #{subAccomCode}
    </select>


    <select id="searchAccom" resultMap="mainAccom">
        SELECT
            ACCOM_CODE
            , ACCOM_NAME
            , ACCOM_ADDR
            , ADDR_DETAIL
            , ACCOM_INTRO
            , ACCOM_CATE
            , ACCOM_CEO
            , ACCOM_LOC
        FROM MAIN_ACCOM MAIN, ACCOM_CATEGORY CATE
        WHERE MAIN.ACCOM_CATE = CATE.ACCOM_CATE
        ORDER BY ACCOM_CODE DESC
        OFFSET 0 ROWS FETCH FIRST 7 ROWS ONLY
    </select>

    <select id="selectSubAccomlist" resultMap="subAccom">
        SELECT
        SA.SUB_ACCOM_CODE
        , ACCOM_CODE
        , SUB_ACCOM_NAME
        , SUB_ACCOM_INTRO
        , SUB_ACCOM_CATE
        , BASIC_MAN
        , MAX_MAN
        , ACCOM_START_TIME
        , ACCOM_END_TIME
        , RENT_TIME
        , DAYUSE_PRICE
        , RESERVATION_PRICE
        , SOLD_OUT
        , DAY_USE_CAN
        , SUB_DELETE
        , ATTACHED_FILE_NAME
        , ORIGIN_FILE_NAME
        FROM SUB_ACCOM SA, SUB_ACCOM_IMG IMG
        WHERE ACCOM_CODE = #{accomCode}
        AND SA.SUB_ACCOM_CODE = IMG.SUB_ACCOM_CODE
        AND IS_MAIN ='Y'
        AND SUB_DELETE='N'
    </select>

    <update id="updateSubAccomState">
        UPDATE SUB_ACCOM
        SET

        <if test='reservationPrice != null and !reservationPrice.equals("")'>
            RESERVATION_PRICE=#{reservationPrice}
        </if>
        <if test='dayusePrice != null and !dayusePrice.equals("")'>
            DAYUSE_PRICE=#{dayusePrice}
        </if>
        <if test='soldOut != null and !soldOut.equals("")'>
            SOLD_OUT=#{soldOut}
        </if>
        <if test='soldOut == null and dayusePrice == null and reservationPrice == null'>
            SUB_DELETE = 'Y'
        </if>
        WHERE SUB_ACCOM_CODE = #{subAccomCode}
    </update>

</mapper>