<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="buyMapper" >


    <resultMap id="reservation" type="com.jejugreentour.jgt.buy.vo.ReservationVO">
        <id column="RESERVATION_CODE" property="reservationCode" />
        <result column="SUB_ACCOM_CODE" property="subAccomCode"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="STAY_START_DATE" property="stayStartDate"/>
        <result column="STAY_END_DATE" property="stayEndDate"/>
        <result column="RESERVATION_DATE" property="reservationDate"/>
        <result column="RESERVATION_NAME" property="reservationName"/>
        <result column="RESERVATION_PRICE" property="reservationPrice"/>
        <result column="DAY_USE" property="dayuse"/>
        <association property="stateVO" resultMap="reservationState"/>
        <association property="subAccom" resultMap="subAccom"/>
    </resultMap>

    <resultMap id="reservationState" type="com.jejugreentour.jgt.buy.vo.ReservationStateVO">
        <id column="RESERVATION_STATE_CODE" property="reservationStateCode" />
        <result column="RESERVATION_CODE" property="reservationCode" />
        <result column="REFUND" property="refund"/>
        <result column="REVIEW" property="review"/>
        <result column="REFUND_PRICE" property="refundPrice"/>
        <result column="REFUND_DATE" property="refundDate"/>
        <result column="CAN_REFUND_DATE" property="canRefundDate"/>
        <result column="OVER_DATE" property="overDate"/>
    </resultMap>

    <resultMap id="Accom" type="com.jejugreentour.jgt.buy.vo.SampleACCVO">
    <id column="ACCOM_CODE" property="accomCode" />
    <result column="ACCOM_NAME" property="accomName"/>
    </resultMap>

    <resultMap id="subAccom" type="com.jejugreentour.jgt.buy.vo.SampleSubVO">
        <id column="SUB_ACCOM_CODE" property="subAccomCode" />
        <result column="ACCOM_CODE" property="accomCode"/>
        <result column="SUB_ACCOM_NAME" property="subAccomName"/>
        <result column="RESERVATION_PRICE" property="accomPrice"/>
        <result column="DAYUSE_PRICE" property="dayusePrice"/>
        <result column="ACCOM_START_TIME" property="accomStartTime"/>
        <result column="ACCOM_END_TIME" property="accomEndTime"/>
        <result column="RENT_TIME" property="rentTime"/>
        <result column="DAY_USE_CAN" property="dayuseCan"/>
        <association property="sampleACCVO" resultMap="Accom"/>
    </resultMap>


    <resultMap id="basketAccom" type="com.jejugreentour.jgt.buy.vo.BasketAccomVO">
        <id column="BASKET_CODE" property="basketCode" />
        <result column="SUB_ACCOM_CODE" property="subAccomCode"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="STAY_START_DATE" property="stayStartDate"/>
        <result column="STAY_END_DATE" property="stayEndDate"/>
        <result column="STAY_TERM" property="stayTerm"/>
        <result column="DAY_USE" property="dayuse"/>
        <association property="sampleSubVO" resultMap="subAccom"/>
    </resultMap>


    <resultMap id="review" type="com.jejugreentour.jgt.buy.vo.ReviewVO">
        <id column="REVIEW_CODE" property="reviewCode" />
        <result column="ACCOM_CODE" property="accomCode"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="RESERVATION_CODE" property="reservationCode" />
        <result column="SCORE" property="score"/>
        <result column="CONTENT" property="content"/>
        <result column="WRITE_DATE" property="writeDate"/>
        <association property="sampleACCVO" resultMap="Accom"/>
        <association property="reviewAdminVO" resultMap="reviewAdmin"/>
        <collection property="reviewImgList" resultMap="reviewImg"/>
    </resultMap>
    <resultMap id="reviewImg" type="com.jejugreentour.jgt.buy.vo.ReviewImgVO">
        <id column="REVIEW_IMG_CODE" property="reviewImgCode" />
        <result column="ORIGIN_FILE_NAME" property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="REVIEW_CODE" property="reviewCode"/>
    </resultMap>
    <resultMap id="reviewAdmin" type="com.jejugreentour.jgt.buy.vo.ReviewAdminVO">
        <id column="REVEIW_ADMIN_CODE" property="reviewAdminCode" />
        <result column="ADMIN_MEMBER_ID" property="memberId"/>
        <result column="REVIEW_CODE" property="reviewCode"/>
        <result column="ADMIN_CONTENT" property="content"/>
        <result column="ADMIN_WRITE_DATE" property="writeDate"/>
    </resultMap>
    <select id="selectAccom" resultMap="Accom">
        SELECT * FROM MAIN_ACCOM
        WHERE ACCOM_CODE = #{accomCode}
    </select>

    <!--방의 정보 가져오기-->
    <select id="selectSubAccom" resultMap="subAccom">
        SELECT * FROM SUB_ACCOM
        WHERE SUB_ACCOM_CODE = #{subAccomCode}
    </select>
    <select id="selectbasketAccom" resultMap="basketAccom">
        SELECT * FROM BASKET_STAY_ACCOM
        WHERE BASKET_CODE = #{basketCode}
    </select>

    <!--방의 예약 정보 가져오기-->
    <select id="selectReservation" resultMap="reservation">
        SELECT RSA.RESERVATION_CODE
        , STAY_START_DATE
        , STAY_END_DATE
        , DAY_USE
        , RESERVATION_STATE_CODE
        , REFUND
        , SUB_ACCOM_CODE
        FROM RESERVATION_STAY_ACCOM RSA, RESERVATION_STATE RS
        WHERE SUB_ACCOM_CODE = #{subAccomCode}
        AND RSA.RESERVATION_CODE=RS.RESERVATION_CODE
    </select>


    <select id="selectMemberReservationList" resultMap="reservation">
        SELECT RSA.RESERVATION_CODE
        , STAY_START_DATE
        , STAY_END_DATE
        , RESERVATION_DATE
        , RESERVATION_NAME
        , RSA.RESERVATION_PRICE
        , DAY_USE
        , RESERVATION_STATE_CODE
        , REFUND
        , REVIEW
        , REFUND_PRICE
        , REFUND_DATE
        , CAN_REFUND_DATE
        , OVER_DATE
        , ACCOM_NAME
        , MS.ACCOM_CODE
        , RSA.SUB_ACCOM_CODE
        FROM RESERVATION_STAY_ACCOM RSA, RESERVATION_STATE RS, MAIN_ACCOM MS, SUB_ACCOM SA
        WHERE RSA.MEMBER_ID = #{memberId}
        AND RSA.RESERVATION_CODE=RS.RESERVATION_CODE
        AND RSA.SUB_ACCOM_CODE=SA.SUB_ACCOM_CODE
        AND  MS.ACCOM_CODE =SA.ACCOM_CODE
        ORDER BY RESERVATION_DATE DESC
    </select>

    <select id="basketNum" resultType="String">
        SELECT 'BAS_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(BASKET_CODE,5))),0)+1,3,'0')FROM BASKET_STAY_ACCOM
    </select>
<!--    <select id="reservationNum" resultType="String">-->
<!--        SELECT 'RESERV_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(RESERVATION_CODE,8))),0)+1,3,'0')-->
<!--        FROM RESERVATION_STAY_ACCOM-->
<!--    </select>-->


    <insert id="insertBasketAccom">
        INSERT INTO BASKET_STAY_ACCOM(BASKET_CODE
        , SUB_ACCOM_CODE
        , MEMBER_ID
        , STAY_START_DATE
        , STAY_END_DATE
        , STAY_TERM
        , DAY_USE)
        VALUES((SELECT 'BAS_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(BASKET_CODE,5))),0)+1,3,'0')FROM BASKET_STAY_ACCOM)
        , #{subAccomCode}
        , #{memberId}
        , #{stayStartDate}
        , #{stayEndDate}
        , #{stayTerm}
        , #{dayuse})
    </insert>


    <select id="selectBasketAccomList" resultMap="basketAccom">
        SELECT BASKET_CODE
        , ba.SUB_ACCOM_CODE
        , MEMBER_ID
        , STAY_START_DATE
        , STAY_END_DATE
        , STAY_TERM
        , DAY_USE
        , SUB_ACCOM_NAME
        , ACCOM_NAME
        , RESERVATION_PRICE
        , DAYUSE_PRICE
        , RENT_TIME
        FROM BASKET_STAY_ACCOM ba ,SUB_ACCOM su ,MAIN_ACCOM ma
        WHERE ba.MEMBER_ID = #{memberId}
        AND ba.SUB_ACCOM_CODE =su.SUB_ACCOM_CODE
        AND su.ACCOM_CODE= ma.ACCOM_CODE
    </select>

    <select id="selectReservationOne" resultMap="reservation">
        SELECT *
        FROM RESERVATION_STAY_ACCOM
        WHERE RESERVATION_CODE = #{reservationCode}
    </select>


    <insert id="insertReservation">
        INSERT INTO RESERVATION_STAY_ACCOM(
        RESERVATION_CODE, SUB_ACCOM_CODE, MEMBER_ID, STAY_START_DATE, STAY_END_DATE, RESERVATION_PRICE, RESERVATION_NAME, DAY_USE)
        SELECT
<!--        (SELECT 'RESERV_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(RESERVATION_CODE,8))),0)+1,3,'0')-->
<!--        FROM RESERVATION_STAY_ACCOM) AS RESERVATION_CODE-->
        #{reservUuid} AS RESERVATION_CODE
        , BAS.SUB_ACCOM_CODE
        , MEMBER_ID
        , STAY_START_DATE
        , STAY_END_DATE
        <if test='dayuse.equals("N")'>
            , (STAY_TERM*RESERVATION_PRICE) AS RESERVATION_PRICE
            ,  SUB_ACCOM_NAME||' 숙박 '||TO_CHAR(STAY_TERM)|| '박' || TO_CHAR(STAY_TERM+1) || '일'
        </if>
        <if test='dayuse.equals("Y")'>
            , (STAY_TERM*DAYUSE_PRICE) AS RESERVATION_PRICE
            ,  SUB_ACCOM_NAME || ' 대실 ' || TO_CHAR(STAY_TERM*RENT_TIME) || '시간'
        </if>
        , DAY_USE
        FROM BASKET_STAY_ACCOM BAS, SUB_ACCOM SUB
        WHERE BASKET_CODE = #{basketCode}
        AND BAS.SUB_ACCOM_CODE=SUB.SUB_ACCOM_CODE
    </insert>
    <insert id="insertReservationstate">
        INSERT INTO RESERVATION_STATE(RESERVATION_STATE_CODE
        , RESERVATION_CODE
        , CAN_REFUND_DATE
        , OVER_DATE)
        VALUES ((SELECT 'STATE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(RESERVATION_STATE_CODE,7))),0)+1,3,'0')FROM RESERVATION_STATE)
<!--        ,(SELECT 'RESERV_'||LPAD(MAX(TO_NUMBER(SUBSTR(RESERVATION_CODE,8))),3,'0')FROM RESERVATION_STAY_ACCOM)-->
        ,#{reservationCode}
        ,TO_DATE(#{canRefundDate},'YYYY-MM-DD')
        ,TO_DATE(#{overDate},'YYYY-MM-DD'))
    </insert>

    <update id="updateReservationstate">
        UPDATE RESERVATION_STATE
        SET
        REFUND = #{refund}
        , REVIEW=#{review}
        , REFUND_PRICE=#{refundPrice}
        <if test='refundDate != null and !refundDate.equals("") '>
            , REFUND_DATE=TO_DATE(#{refundDate},'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test='reservationStateCode != null and !reservationStateCode.equals("") '>
            WHERE RESERVATION_STATE_CODE = #{reservationStateCode}
        </if>
        <if test='reservationStateCode == null or reservationStateCode.equals("") '>
            WHERE RESERVATION_CODE = #{reservationCode}
        </if>
    </update>

    <delete id="deleteBasketAccom">
        DELETE FROM BASKET_STAY_ACCOM
        WHERE BASKET_CODE=#{basketCode}
    </delete>




<!--    이미지넣기   -->
    <select id="selectReviewCode" resultType="String">
        SELECT 'REVIEW_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(REVIEW_CODE,8))),0)+1,3,'0')FROM REVIEW
    </select>
    <select id="selectReviewList" resultType="String">
        SELECT * FROM REVIEW
        WHERE  ACCOMCODE = #{accomCode}
        ORDER BY WRITE_DATE DESC
    </select>
    <select id="selectReviewOne" resultMap="review">
        SELECT * FROM REVIEW
        WHERE  RESERVATION_CODE = #{reservattonCode}
    </select>

    <select id="selectReviewImgList" resultMap="reviewImg">
        SELECT * FROM REVIEW_IMG
        WHERE  REVIEW_CODE = #{reviewCode}
    </select>

    <insert id="insertReview">
        INSERT INTO REVIEW(
        REVIEW_CODE
        , ACCOM_CODE
        , MEMBER_ID
        , SCORE
        , CONTENT
        , RESERVATION_CODE
        ) VALUES (
        <!--        (SELECT 'REVIEW_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(REVIEW_CODE,8))),0)+1,3,'0')FROM REVIEW)-->
        #{reviewCode}
        , #{accomCode}
        , #{memberId}
        , #{score}
        , #{content}
        , #{reservationCode}
        )
    </insert>

    <insert id="insertReviewImg">
        <if test="reviewImgList.size()!=0">
            INSERT INTO REVIEW_IMG(
            REVIEW_IMG_CODE
            , ORIGIN_FILE_NAME
            , ATTACHED_FILE_NAME
            , REVIEW_CODE
            )
            <foreach collection="reviewImgList" item="img" separator="UNION ALL" index="idx">
                SELECT (SELECT 'RIMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(REVIEW_IMG_CODE,6))),0) + 1  + #{idx},3,'0')
                FROM REVIEW_IMG)
                , #{img.originFileName}
                , #{img.attachedFileName}
                , #{img.reviewCode}
                FROM DUAL
            </foreach>
        </if>
    </insert>

    <select id="accomReviewList" resultMap="review">
        SELECT
        RE.REVIEW_CODE
        , ACCOM_CODE
        ,(SELECT ACCOM_NAME FROM MAIN_ACCOM
        WHERE MAIN_ACCOM.ACCOM_CODE= RE.ACCOM_CODE) AS ACCOM_NAME
        , MEMBER_ID
        , SCORE
        , CONTENT
        , WRITE_DATE
        , REVIEW_IMG_CODE
        , ORIGIN_FILE_NAME
        , ATTACHED_FILE_NAME
        ,(SELECT ADMIN_MEMBER_ID FROM REVIEW_ADMIN
        WHERE REVIEW_ADMIN.REVIEW_CODE= RE.REVIEW_CODE) AS ADMIN_MEMBER_ID
        ,(SELECT ADMIN_CONTENT FROM REVIEW_ADMIN
        WHERE REVIEW_ADMIN.REVIEW_CODE= RE.REVIEW_CODE) AS ADMIN_CONTENT
        ,(SELECT ADMIN_WRITE_DATE FROM REVIEW_ADMIN
        WHERE REVIEW_ADMIN.REVIEW_CODE= RE.REVIEW_CODE) AS ADMIN_WRITE_DATE
        FROM REVIEW RE , REVIEW_IMG REIMG
        WHERE ACCOM_CODE = #{accomCode}
        AND RE.REVIEW_CODE = REIMG.REVIEW_CODE
        ORDER BY WRITE_DATE
    </select>

    <select id="memberReviewList" resultMap="review">
        SELECT
        RE.REVIEW_CODE
        , ACCOM_CODE
        , RESERVATION_CODE
        ,(SELECT ACCOM_NAME FROM MAIN_ACCOM
        WHERE MAIN_ACCOM.ACCOM_CODE= RE.ACCOM_CODE) AS ACCOM_NAME
        , RE.MEMBER_ID
        , SCORE
        , CONTENT
        , WRITE_DATE
        , REVIEW_IMG_CODE
        , ORIGIN_FILE_NAME
        , ATTACHED_FILE_NAME
        ,(SELECT ADMIN_MEMBER_ID FROM REVIEW_ADMIN
        WHERE REVIEW_ADMIN.REVIEW_CODE= RE.REVIEW_CODE) AS ADMIN_MEMBER_ID
        ,(SELECT ADMIN_CONTENT FROM REVIEW_ADMIN
        WHERE REVIEW_ADMIN.REVIEW_CODE= RE.REVIEW_CODE) AS ADMIN_CONTENT
        ,(SELECT ADMIN_WRITE_DATE FROM REVIEW_ADMIN
        WHERE REVIEW_ADMIN.REVIEW_CODE= RE.REVIEW_CODE) AS ADMIN_WRITE_DATE
        FROM REVIEW RE , REVIEW_IMG REIMG
        WHERE MEMBER_ID= #{memberId}
        AND RE.REVIEW_CODE = REIMG.REVIEW_CODE
        ORDER BY WRITE_DATE
    </select>
<insert id="insertAdminReview">
    INSERT INTO REVIEW_ADMIN(
    REVIEW_ADMIN_CODE
    , ADMIN_MEMBER_ID
    , REVIEW_CODE
    , ADMIN_CONTENT)
    VALUES(
    (SELECT 'READ_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(REVIEW_ADMIN_CODE,6))),0)+1,3,'0')FROM REVIEW_ADMIN)
    ,#{memberId}
    ,#{reviewCode}
    ,#{content}
    )
</insert>
    <delete id="deleteAdminReview">
        DELETE REVIEW_ADMIN
        WHERE  REVIEW_CODE=#{reviewCode}
    </delete>

    <delete id="deleteReview">
        DELETE REVIEW
        WHERE  REVIEW_CODE=#{reviewCode}
    </delete>
    <update id="updateReview">
        UPDATE REVIEW
        SET
        SCORE= #{score}
        , CONTENT = #{content}
        , WRITE_DATE = SYSDATE
        WHERE  REVIEW_CODE= #{reviewCode}
    </update>
    <delete id="deleteReviewImg">
        DELETE FROM REVIEW_IMG
        WHERE  REVIEW_CODE= #{reviewCode}
    </delete>
</mapper>
    
