<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="csMapper">

    <!--  공지사항  -->
    <resultMap id="announcement" type="com.jejugreentour.jgt.csCenter.vo.AnnVO">
        <id column="ANN_NUM" property="annNum" />
        <result column="ANN_CATE" property="annCate" />
        <result column="ANN_WRITER" property="annWriter" />
        <result column="ANN_TITLE" property="annTitle" />
        <result column="ANN_CONTENT" property="annContent"/>
        <result column="ANN_DATE" property="annDate"/>
        <collection property="annCateList" resultMap="annCate"/>
    </resultMap>

    <resultMap id="annCate" type="com.jejugreentour.jgt.csCenter.vo.AnnCateVO">
        <id column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>
    </resultMap>

    <!--  고객센터 메인 페이지 공지사항 목록 조회  -->
    <select id="annListOffset" resultMap="announcement">
        SELECT
            ANN_NUM
            , CATE_CODE
            , CATE_NAME
            , ANN_WRITER
            , ANN_TITLE
            , ANN_CONTENT
            , TO_CHAR(ANN_DATE,'YYYY-MM-DD') AS ANN_DATE
        FROM ANNOUNCEMENT ANN, ANN_CATE_LIST LIST
        WHERE ANN.ANN_CATE = LIST.CATE_CODE
        ORDER BY ANN_NUM DESC
        OFFSET 0 ROWS FETCH FIRST 7 ROWS ONLY
    </select>

    <!--  공지사항 목록 조회  -->
    <select id="annList" resultMap="announcement">
        SELECT
            ANN_NUM
            , ANN_CATE
            , CATE_NAME
            , ANN_WRITER
            , ANN_TITLE
            , ANN_CONTENT
            , TO_CHAR(ANN_DATE,'YYYY-MM-DD') AS ANN_DATE
        FROM ANNOUNCEMENT ANN, ANN_CATE_LIST LIST
        WHERE ANN.ANN_CATE = LIST.CATE_CODE
        <if test='annCate != null and !annCate.equals("")'>
            AND ANN_CATE = #{annCate}
        </if>
        ORDER BY ANN_NUM DESC
        OFFSET (#{nowPage} -1) * #{displayDataCnt} ROWS FETCH FIRST #{displayDataCnt} ROWS ONLY
    </select>

    <!--  카테고리 목록 조회  -->
    <select id="annCateList" resultMap="annCate">
        SELECT
            CATE_CODE
            , CATE_NAME
        FROM ANN_CATE_LIST
        ORDER BY CATE_CODE
    </select>

    <!--  공지사항 목록 추가  -->
    <insert id="inputAnn">
        INSERT INTO ANNOUNCEMENT (
            ANN_NUM
            , ANN_CATE
            , ANN_TITLE
            , ANN_CONTENT
        )
        VALUES (
            (SELECT 'ANN_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ANN_NUM, 5))),0) + 1, 3, '0')
            FROM ANNOUNCEMENT)
            , #{annCate}
            , #{annTitle}
            , #{annContent}
        )
    </insert>

    <select id="selectAnnCnt" resultType="int">
        SELECT COUNT(ANN_NUM)
        FROM ANNOUNCEMENT
        WHERE 1 = 1
        <if test='annCate != null and !annCate.equals("")'>
            AND ANN_CATE = #{annCate}
        </if>

    </select>

    <!--  공지사항 세부 페이지  -->
    <select id="selectAnnDetail" resultMap="announcement">
        SELECT
        ANN_NUM
        , CATE_CODE
        , CATE_NAME
        , ANN_WRITER
        , ANN_TITLE
        , ANN_CONTENT
        , TO_CHAR(ANN_DATE,'YYYY-MM-DD') AS ANN_DATE
        FROM ANNOUNCEMENT ANN, ANN_CATE_LIST LIST
        WHERE ANN.ANN_CATE = LIST.CATE_CODE
        AND ANN_NUM = #{annNum}
    </select>

    <update id="updateAnn">
        UPDATE ANNOUNCEMENT
        SET
            ANN_CATE = #{annCate}
            , ANN_TITLE = #{annTitle}
            , ANN_CONTENT = #{annContent}
        WHERE ANN_NUM = #{annNum}
    </update>
    
    <delete id="deleteAnn">
        DELETE ANNOUNCEMENT
        WHERE ANN_NUM = #{annNum}
    </delete>


    <!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  -->

    <!--  자주 찾는 질문 (QNA)  -->
    <resultMap id="qna" type="com.jejugreentour.jgt.csCenter.vo.QnaVO">
        <id column="QNA_CODE" property="qnaCode"/>
        <result column="CATE_CODE" property="cateCode"/>
        <result column="QNA_QUESTION" property="qnaQuestion"/>
        <result column="QNA_ANSWER" property="qnaAnswer"/>
        <collection property="qnaCateList" resultMap="qnaCate"/>
    </resultMap>

    <resultMap id="qnaCate" type="com.jejugreentour.jgt.csCenter.vo.QnaCateVO">
        <id column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>
    </resultMap>

    <!--  고객센터 메인 페이지 QNA 목록 조회  -->
    <select id="qnaListOffset" resultMap="qna">
        SELECT
            QNA_CODE
            , QNA.CATE_CODE
            , CATE_NAME
            , QNA_QUESTION
            , QNA_ANSWER
        FROM QNA QNA, QNA_CATE_LIST LIST
        WHERE QNA.CATE_CODE = LIST.CATE_CODE
        ORDER BY QNA_CODE DESC
        OFFSET 0 ROWS FETCH FIRST 7 ROWS ONLY
    </select>

    <!--  QNA 목록 조회  -->
    <select id="qnaList" resultMap="qna">
        SELECT
            QNA_CODE
            , QNA.CATE_CODE
            , CATE_NAME
            , QNA_QUESTION
            , QNA_ANSWER
        FROM QNA QNA, QNA_CATE_LIST LIST
        WHERE QNA.CATE_CODE = LIST.CATE_CODE
        ORDER BY QNA_CODE DESC
        OFFSET (#{nowPage} -1) * #{displayDataCnt} ROWS FETCH FIRST #{displayDataCnt} ROWS ONLY
    </select>

    <!--  QNA 목록 추가  -->
    <insert id="insertQna">
        INSERT INTO QNA (
        QNA_CODE
        , CATE_CODE
        , QNA_QUESTION
        , QNA_ANSWER
        )
        VALUES (
        (SELECT 'QNA_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(QNA_CODE, 5))),0) + 1, 3, '0')
        FROM QNA)
        , #{cateCode}
        , #{qnaQuestion}
        , #{qnaAnswer}
        )
    </insert>

    <select id="selectQnaCnt" resultType="int">
        SELECT COUNT(QNA_CODE)
        FROM QNA
    </select>

    <update id="updateQna">
        UPDATE QNA
        SET
            CATE_CODE = #{cateCode}
            , QNA_QUESTION = #{qnaQuestion}
            , QNA_ANSWER = #{qnaAnswer}
        WHERE QNA_CODE = #{qnaCode}
    </update>

    <delete id="deleteQna">
        DELETE QNA
        WHERE QNA_CODE = #{qnaCode}
    </delete>


    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

    <!--  문의하기  -->
    <resultMap id="inquire" type="com.jejugreentour.jgt.csCenter.vo.InquireVO" >
        <id column="INQ_CODE" property="inqCode"/>
        <result column="CATE_CODE" property="cateCode"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result column="IS_RESPONSE" property="isResponse"/>
        <result column="INQ_DATE" property="inqDate"/>
        <collection property="inqCateList" resultMap="inqCate"/>
        <collection property="inqImgList" resultMap="inqImg"/>
    </resultMap>

    <resultMap id="inqCate" type="com.jejugreentour.jgt.csCenter.vo.InqCateVO">
        <id column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>
    </resultMap>

    <resultMap id="inqImg" type="com.jejugreentour.jgt.csCenter.vo.InqImgVO">
        <id column="IMG_CODE" property="imgCode"/>
        <result column="ORIGIN_FILE_NAME" property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="INQ_CODE" property="inqCode"/>
    </resultMap>


    <select id="inqList" resultMap="inquire">
        SELECT
            INQ_CODE
            , INQ.CATE_CODE
            , CATE_NAME
            , MEMBER_ID
            , TITLE
            , IS_RESPONSE
            , TO_CHAR(INQ_DATE,'YYYY-MM-DD') AS INQ_DATE
        FROM INQUIRE INQ, INQ_CATE_LIST CATE
        WHERE INQ.CATE_CODE = CATE.CATE_CODE
        ORDER BY INQ_CODE DESC
        OFFSET (#{nowPage} -1) * #{displayDataCnt} ROWS FETCH FIRST #{displayDataCnt} ROWS ONLY
    </select>

    <!--  문의하기 세부 페이지  -->
    <select id="inqDetail" resultMap="inquire">
        SELECT
             INQ_CODE
            , INQ.CATE_CODE
            , CATE_NAME
            , MEMBER_ID
            , TITLE
            , CONTENT
            , TO_CHAR(INQ_DATE,'YYYY-MM-DD') AS INQ_DATE
            , IS_RESPONSE
        FROM INQUIRE INQ, INQ_CATE_LIST CATE
        WHERE INQ.CATE_CODE = CATE.CATE_CODE
        AND INQ_CODE = #{inqCode}
    </select>

    <select id="selectInqCnt" resultType="int">
        SELECT COUNT(INQ_CODE)
        FROM INQUIRE
    </select>

    <!--  문의하기 목록 추가  -->
    <insert id="insertInq">
        INSERT INTO INQUIRE (
        INQ_CODE
        , CATE_CODE
        , TITLE
        , CONTENT
        )
        VALUES (
        (SELECT 'INQ_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(INQ_CODE, 5))),0) + 1, 3, '0')
        FROM INQUIRE)
        , #{cateCode}
        , #{title}
        , #{content}
        )
    </insert>

    <!--  문의하기 사진 추가  -->
    <insert id="insertInqImgs">
        INSERT INTO INQ_IMG (
            IMG_CODE
            , ORIGIN_FILE_NAME
            , ATTACHED_FILE_NAME
            , INQ_CODE
        )
        <foreach collection="inqImgList" item="inqImg" separator="UNION ALL" index="idx">
            SELECT (SELECT 'IMG_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(IMG_CODE, 5))),0) + 1 + #{idx}, 3, '0')
            FROM INQ_IMG)
            , #{inqImg.originFileName}
            , #{inqImg.attachedFileName}
            , #{inqImg.inqCode}
            FROM DUAL
        </foreach>
    </insert>

    <!--  문의하기 추가  -->
    <!-- 아이템 코드 호출 -->
    <select id="nextInqCode" resultType="String">
        SELECT 'INQ_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(INQ_CODE, 5))),0) + 1, 3, '0')
        FROM INQUIRE
    </select>

    <select id="inqImgList" resultMap="inqImg">
        SELECT *
        FROM INQ_IMG
        WHERE INQ_CODE = #{inqCode}
    </select>


    <select id="searchAnn" resultMap="announcement">
        SELECT
            ANN_CATE
            , CATE_NAME
            , ANN_WRITER
            , ANN_TITLE
            , ANN_CONTENT
        FROM ANNOUNCEMENT ANN, ANN_CATE_LIST LIST
        WHERE ANN_CATE = CATE_CODE
        <if test='searchData != null and !searchData.equals("")'>
            AND UPPER(ANN_CATE) LIKE '%'||UPPER(#{searchData})||'%'
        </if>
        <if test='searchData != null and !searchData.equals("")'>
            AND UPPER(CATE_NAME) LIKE '%'||UPPER(#{searchData})||'%'
        </if>
        <if test='searchData != null and !searchData.equals("")'>
            AND UPPER(ANN_WRITER) LIKE '%'||UPPER(#{searchData})||'%'
        </if>
        <if test='searchData != null and !searchData.equals("")'>
            AND UPPER(ANN_TITLE) LIKE '%'||UPPER(#{searchData})||'%'
        </if>
        <if test='searchData != null and !searchData.equals("")'>
            AND UPPER(ANN_CONTENT) LIKE '%'||UPPER(#{searchData})||'%'
        </if>
    </select>



</mapper>