<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
    <resultMap id="member" type="com.jejugreentour.jgt.member.vo.MemberVO">
        <result column="MEMBER_ID"      property="memberId" />
        <result column="MEMBER_PW"      property="memberPw" />
        <result column="MEMBER_NAME"    property="memberName" />
        <result column="MEMBER_TEL"    property="memberTel" />
        <result column="GENDER"         property="gender"/>
        <result column="BIRTH_DATE"          property="birthDate"/>
        <result column="MEMBER_ROLL"    property="memberRoll"/>
        <result column="MEMBER_MAIL"    property="member_mail"/>
    </resultMap>

    <insert id="join">
        INSERT INTO JEJU_MEMBER (
        MEMBER_ID
        , MEMBER_PW
        , MEMBER_NAME
        , MEMBER_TEL
        , GENDER
        , BIRTH_DATE
        , MEMBER_MAIL
        ) VALUES (
        #{memberId}
        , #{memberPw}
        , #{memberName}
        ,
        <foreach collection="memberTels" item="tel" separator="||'-'||">
            #{tel}
        </foreach>
        , #{gender}
        , #{birthDate}
        , #{member_mail}
        )
    </insert>
<!--MemberVO(memberId=java, memberPw=1111, memberName=김자바, memberTel=null, memberTels=[1111, 1111], gender=남, birthDate=null, memberRoll=null, member_mail=null)-->
    <select id="login" resultMap="member">
        SELECT MEMBER_ID
        , MEMBER_NAME
        , MEMBER_ROLL
        FROM JEJU_MEMBER
        WHERE MEMBER_ID = #{memberId}
        AND MEMBER_PW = #{memberPw}
    </select>

    <select id="checkId" resultType="String">
        SELECT MEMBER_ID
        FROM JEJU_MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

    <update id = "updateMember1" parameterType="com.jejugreentour.jgt.member.vo.MemberVO">
        UPDATE JEJU_MEMBER
        SET
        MEMBER_MAIL = #{memberMail}
        ,MEMBER_TEL = #{memberTel}
        WHERE MEMBER_ID = #{memberId}
    </update>
    <update id = "updateMember2" parameterType="com.jejugreentour.jgt.member.vo.MemberVO">
        UPDATE JEJU_MEMBER
        SET
        MEMBER_PW = #{memberPw}
        WHERE MEMBER_ID = #{memberId}
    </update>

    <select id ="findId" resultMap="member">
        SELECT MEMBER_ID
        FROM JEJU_MEMBER
        WHERE MEMBER_MAIL = #{member_mail}
    </select>

    <update id="updatePw">
        UPDATE JEJU_MEMBER
        SET
        MEMBER_PW = #{memberPw}
        WHERE MEMBER_ID = #{memberId}
    </update>
</mapper>