<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<head>
    <meta charset="UTF-8">
    <title>plan</title>

    <link rel="stylesheet" href="/css/kakaomap.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/buy/plan.css">

</head>

<body>
    <th:block layout:fragment="content">
        
        
        </div>
        <div class="main two">
            <div class="inner accom">
                <div class="category">

                    <div id="tab-1" class="tab-content current">
                        <div class="accomItem">
                            <div class="items">
                                <div class="itemdetail food on" data-idex="0" data-check="N" data-name=" "
                                    data-addr=" ">
                                    <div class="photo" style="text-align : center;">
                                        <img style=" height: 100%; width: auto;" src="/img/plan/Breakfast.png" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="itemName">이름
                                            <span class="name"></span>
                                        </div>
                                        <div class="itemReview">
                                            <div class="itemStar">
                                                <div class="star">주소 : <br></div>
                                                <span class="addr"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="itemdetail Tourist" data-idex="1" data-check="N" data-name=" "
                                    data-addr=" ">
                                    <div class="photo" style="text-align : center;">
                                        <img style="height: 100%; width: auto;" src="/img/plan/tour1.png" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="itemName">이름
                                            <span class="name"></span>
                                        </div>
                                        <div class="itemReview">
                                            <div class="itemStar">
                                                <div class="star">주소 : <br></div>
                                                <span class="addr"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="itemdetail food" data-idex="2" data-check="N" data-name=" " data-addr=" ">
                                    <div class="photo" style="text-align : center;">
                                        <img style="height: 100%; width: auto;" src="/img/plan/Lunch.png" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="itemName">이름
                                            <span class="name"></span>
                                        </div>
                                        <div class="itemReview">
                                            <div class="itemStar">
                                                <div class="star">주소 : <br></div>
                                                <span class="addr"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="itemdetail Tourist" data-idex="3" data-check="N" data-name=" "
                                    data-addr=" ">
                                    <div class="photo" style="text-align : center;">
                                        <img style="height: 100%; width: auto;" src="/img/plan/tour2.png" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="itemName">이름
                                            <span class="name"></span>
                                        </div>
                                        <div class="itemReview">
                                            <div class="itemStar">
                                                <div class="star">주소 : <br></div>
                                                <span class="addr"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="itemdetail food" data-idex="4" data-check="N" data-name=" " data-addr=" ">
                                    <div class="photo" style="text-align : center;">
                                        <img style="height: 100%; width: auto;" src="/img/plan/Dinner.png" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="itemName">이름
                                            <span class="name"></span>
                                        </div>
                                        <div class="itemReview">
                                            <div class="itemStar">
                                                <div class="star">주소 : <br></div>
                                                <span class="addr"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main three">
                <div class="inner">
                    <div class="headerText">
                        지도 내 검색
                    </div>
                    <div class="m1_right">
                        <div class="map_wrap">
                            <div id="map"></div>
                            <div id="menu_wrap" class="bg_white">
                                <div class="option">
                                    <div>
                                        <form onsubmit="searchPlaces(); return false;">
                                            <input type="text" value="제주 맛집" id="keyword" size="15">
                                            <button type="submit">검색하기</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="result">
                                    <ul id="placesList"></ul>

                                </div>
                                <div id="pagination"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div>
            <p style="margin-top:-12px">
                <em class="link">
                    <a href="javascript:void(0);"
                        onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
                        혹시 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.
                    </a>
                </em>
            </p>
            <div id="map" style="width:100%;height:350px;"></div>



            <script>
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                    mapOption = {
                        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                        level: 3 // 지도의 확대 레벨
                    };

                // 지도를 생성합니다    
                var map = new kakao.maps.Map(mapContainer, mapOption);

                // 주소-좌표 변환 객체를 생성합니다
                var geocoder = new kakao.maps.services.Geocoder();

                // 주소로 좌표를 검색합니다
                geocoder.addressSearch('제주특별자치도 제주시 첨단로 242', function (result, status) {

                    // 정상적으로 검색이 완료됐으면 
                    if (status === kakao.maps.services.Status.OK) {

                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                        // 결과값으로 받은 위치를 마커로 표시합니다
                        var marker = new kakao.maps.Marker({
                            map: map,
                            position: coords
                        });

                        // 인포윈도우로 장소에 대한 설명을 표시합니다
                        var infowindow = new kakao.maps.InfoWindow({
                            content: '<div style="width:150px;text-align:center;padding:6px 0;">우리회사</div>'
                        });
                        infowindow.open(map, marker);

                        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                        map.setCenter(coords);
                    }
                });    
            </script>

        </div>
        <div>
            <div id="calendar" style="width: 1000px;
            margin: 30px auto;"></div>
        </div>
        <div th:if="${reserv != null}">
            <input type="hidden" name="reservStartday" th:value="${#strings.arraySplit(reserv.stayStartDate,'T')[0]}">
            <input type="hidden" name="reservEndday" th:value="${#strings.arraySplit(reserv.stayEndDate,'T')[0]}">
            <input type="hidden" name="reservationCode" th:value="${reserv.reservationCode}">
        </div>
        <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	1faecd944d1bb1ff9e6939d4b20a8146&libraries=services"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src='/dist/index.global.js'></script>
        <script src="/js/buy/reserv_plan.js"></script>
        <script src="/js/buy/reservationplan.js"></script>
        <script src="/js/slick.min.js"></script>
        <div>
            <div class="btnBox">
                
                <input class="submitBtn" type="button" value="플랜등록" onclick="aaaaa()">
            </div>
        </div>
    </th:block>
</body>

</html>