<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
    <th:block layout:fragment="content_css">
        <link rel="stylesheet" href="/css/buy/review.css">
    </th:block>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="wrap">
            <div class="inner">
                <div class="reviewin">
                    <div class="title">리뷰 작성</div>
                    <form action="/buy/insertReview" method="post" enctype="multipart/form-data">
                        <div class="reviewBox">
                            <div class="inputBox">
                                <div class="label" for="accomName">숙소명</div>
                                <input class="input_review" type="text" id="accomName" name="accomName" readonly
                                    th:value="${reservation.subAccom.sampleACCVO.accomName}">
                            </div>
                            <div class="inputBox">
                                <div class="label" for="memberName">아이디</div>
                                <input class="input_review" type="text" id="memberName" name="memberId" readonly
                                    th:value="${reservation.memberId}">
                            </div>
                            <div class="inputBox">
                                <div class="label" for="rating">평가 점수</div>
                                <div>
                                    <select name="score" class="reviewScore">
                                        <option value="2" class="Score">★ ☆ ☆ ☆ ☆
                                        </option>
                                        <option value="4" class="Score">★ ★ ☆ ☆ ☆
                                        </option>
                                        <option value="6" class="Score">★ ★ ★ ☆ ☆
                                        </option>
                                        <option value="8" class="Score">★ ★ ★ ★ ☆
                                        </option>
                                        <option value="10" class="Score" selected>★ ★ ★ ★ ★
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="inputBox">
                                <th:block th:if="${review ==null}">
                                    <div class="label" for="review">리뷰 내용:</div>
                                    <textarea class="input_review review_textarea" id="review"
                                        name="content"></textarea>
                                </th:block>
                                <th:block th:if="${review !=null}">
                                    <div for="review" class="label">리뷰 내용:</div>
                                    <textarea class="input_review review_textarea" id="review"
                                        name="content">[[${review.content}]]</textarea>

                                </th:block>
                            </div>
                            <div class="inputBox img">
                                <div class="label">사진</div>
                                <input class="upload-name" value="첨부파일" placeholder="첨부파일">
                                <label for="file">파일찾기</label>
                                <input type="file" id="file" name="imgs" onchange="readURL(this);" multiple>
                            </div>
                            <div class="inputBox imgLook">
                                <div class="label imgLook">사진<br>미리보기</div>
                                <div class="imgLookBox"></div>

                                <th:block th:if="${review != null}">
                                    <th:block th:each="img : ${review.reviewImgList}">
                                        <img class="imgSlideList" th:src="${'/img/review/'+ img.attachedFileName}"
                                            alt="">
                                    </th:block>
                                </th:block>
                            </div>
                        </div>



                        <input type="hidden" name="accomCode" th:value="${reservation.subAccom.sampleACCVO.accomCode}">
                        <input type="hidden" name="reservationCode" th:value="${reservation.reservationCode}">

                        <th:block th:if="${review != null}">
                            <input type="hidden" name="reviewCode" th:value="${review.reviewCode}">
                            <th:block th:each="img : ${review.reviewImgList}">
                                <input type="hidden" name="reviewImgCode" th:value="${img.reviewImgCode}">
                            </th:block>

                        </th:block>
                </div>
                <div>
                    <input class="subBtn" type="submit" value="리뷰 제출">
                </div>
                </form>
            </div>
        </div>
        </div>
    </th:block>
</body>
<th:block layout:fragment="content_js">
    <script>
        function readURL(input) {
            let box = document.querySelector('.imgLookBox');
            box.innerHTML = "";
            let a = 0;
            for (const file of input.files) {

                console.log(file);
                var fileName = file.name;
                document.querySelector('.upload-name').value = fileName + " 외 " + a + "개";
                var reader = new FileReader();
                reader.onload = function (e) {
                    const imgElement = document.createElement("img");
                    imgElement.className = "imgSlideList";
                    imgElement.src = e.target.result;
                    imgElement.alt = '';

                    box.appendChild(imgElement);
                };
                a++;
                reader.readAsDataURL(file);
            };

        }
    </script>
</th:block>

</html>