<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="/css/csCenter/announcement.css">
</head>
<body>
<th:block th:fragment="csCenterSideFragment">
    <div class="side_menu">
        <div class="side_inner">
            <h3>고객센터</h3>
            <p><a href="">공지사항</a></p>
            <p><a href="">문의하기</a></p>
            <p><a href="">문의내역</a></p>
            <p class="menu_last"><a href="">자주 찾는 질문</a></p>
        </div>
    </div>
</th:block>
</body>
</html>