<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block th:fragment="csCenterSideFragment">
    <div class="side_menu">
        <div class="side_inner">
            <h3><a class="title_a" href="/cs/csForm">고객센터</a></h3>
            <p><a href="/cs/annForm">공지사항</a></p>
            <p><a href="/cs/inquireForm">문의하기</a></p>
            <p><a href="/cs/inquireListForm">문의내역</a></p>
            <p class="menu_last"><a href="/cs/qnaForm">자주 찾는 질문</a></p>
        </div>
    </div>
</th:block>
</body>
</html>