<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<th:block th:fragment="mainFooterFragment">
    <div>팀
        <div>장
            <div>님
                <div>일
                    <div>좀
                        <div>하
                            <div>세
                                <div>요
                                    <div>제
                                        <div>발</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>