<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <th:block th:fragment="mainHeaderFragment">
        <link rel="stylesheet" href="/css/main_header.css">

        <div id="wrap">
            <div id="topBn">
                <div class="topBn_in">
                    <div class="topBn_list">
                        <ul>
                            <li><a href=""><img src="/img/topbn_01.jpg" alt=" 마일리지, 여행상품권 유효기간 연장"></a></li>
                            <li><a href=""><img src="/img/topbn_02.jpg" alt="  2022 설 연휴 국내여행 얼리버드 특가"></a></li>
                        </ul>
                    </div>
                    <p class="topBn_close"><a href="">상단 팝업 닫기</a></p>
                </div>
            </div>
            <div id="header">
                <div id="head1">
                    <h1 class="logo"><a href="">하나투어</a></h1>
                    <div class="h_search">
                        <form action="">
                            <fieldset>
                                <legend class="hide">통합 검색어 입력폼</legend>
                                <div>
                                    <input type="text" placeholder="검색어를 입력해 주세요">
                                    <button>검색하기</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="h_keyword">
                        <div class="hk_current">
                            <div class="key_box">
                                <span class="tag">HOT</span>
                                <span class="place">싱가포르</span>
                            </div>
                            <div class="key_box">
                                <span class="tag">HOT</span>
                                <span class="place">몽골</span>
                            </div>
                            <div class="key_box">
                                <span class="tag">HOT</span>
                                <span class="place">대만</span>
                            </div>
                            <div class="key_box">
                                <span class="tag">HOT</span>
                                <span class="place">코타키나발루</span>
                            </div>
                            <div class="key_box">
                                <span class="tag">HOT</span>
                                <span class="place">세부</span>
                            </div>
                            <div class="key_box">
                                <span class="tag">HOT</span>
                                <span class="place">장가계</span>
                            </div>
                            <div class="key_box">
                                <span class="tag">HOT</span>
                                <span class="place">오사카</span>
                            </div>
                            <div class="key_box">
                                <span class="tag">HOT</span>
                                <span class="place">일본</span>
                            </div>
                            <div class="key_box">
                                <span class="tag">HOT</span>
                                <span class="place">다낭</span>
                            </div>
                            <div class="key_box">
                                <span class="tag">HOT</span>
                                <span class="place">나트랑</span>
                            </div>
                        </div>
                        <div class="hk_popup">
                            <div class="hk_popup_top">
                                <span class="tag">HOT</span>
                                <span class="place">인기검색어</span>
                            </div>
                            <div class="hk_popup_list">
                                <ul>
                                    <li><a href="">일본</a></li>
                                    <li><a href="">다낭</a></li>
                                    <li><a href="">나트랑</a></li>
                                    <li><a href="">싱가포르</a></li>
                                    <li><a href="">몽골</a></li>
                                    <li><a href="">대만</a></li>
                                    <li><a href="">코타키나발루</a></li>
                                    <li><a href="">세부</a></li>
                                    <li><a href="">장가계</a></li>
                                    <li><a href="">오사카</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="h_utill">
                        <ul class="hu01">
                            <li><a href="/member/loginForm">로그인</a></li>
                            <li><a href="/member/joinForm">회원가입</a></li>
                            <li><a href="/cs/csForm">고객센터</a></li>
                        </ul>
                        <ul class="hu02">
                            <li class="hu0201">
                                <a href="">마이메뉴</a>
                                <div class="mymenu">
                                    <div class="mymenu_in">
                                        <p class="top">
                                            마이메뉴는<br>
                                            <span>회원 전용</span> 메뉴 입니다.
                                        </p>
                                        <div class="btn">
                                            <p class="login"><a href="/member/loginForm">로그인</a></p>
                                            <p class="join"><a href="/member/joinForm">회원가입</a></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="hu0202"><a href="">예약내역</a></li>
                            <li class="hu0203"><a href="">찜</a></li>
                        </ul>
                    </div>
                </div>
                <div id="head2">
                    <div class="btn_open_allmenu"><a href="">전체메뉴</a></div>
                    <div class="allmenu">
                        <div class="allmenu_in">
                            <div class="allmenu_list">
                                <div class="column">
                                    <dl>
                                        <dt>해외여행</dt>
                                        <dd>
                                            <ul>
                                                <li><a href="">해외여행 홈</a></li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl>
                                        <dt>항공</dt>
                                        <dd>
                                            <ul>
                                                <li><a href="">항공예약</a></li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>테마여행</dt>
                                        <dd>
                                            <ul>
                                                <li><a href="">허니문</a></li>
                                                <li><a href="">해외골프</a></li>
                                                <li><a href="">제우스</a></li>
                                                <li><a href="">MICE</a></li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl>
                                        <dt>호텔</dt>
                                        <dd>
                                            <ul>
                                                <li><a href="">해외호텔</a></li>
                                                <li><a href="">국내숙박</a></li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>투어/입장권</dt>
                                        <dd>
                                            <ul>
                                                <li><a href="">투어/입장권 홈</a></li>
                                                <li><a href="">전체 도시</a></li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl>
                                        <dt>제주/국내여행</dt>
                                        <dd>
                                            <ul>
                                                <li><a href="">제주/국내여행</a></li>
                                                <li><a href="">제주렌터카</a></li>
                                                <li><a href="">국내골프</a></li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>혜택/이벤트</dt>
                                        <dd>
                                            <ul>
                                                <li><a href="">이벤트</a></li>
                                                <li><a href="">할인/혜택</a></li>
                                                <li><a href="">여행기획전</a></li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl>
                                        <dt>연계서비스</dt>
                                        <dd>
                                            <ul>
                                                <li><a href="">하나투어상품권</a></li>
                                                <li><a href="">포켓와이파이</a></li>
                                                <li><a href="">For Foreign Travellers</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="">기업출장/단체</a></li>
                                                <li><a href="">하나투어 기프트카드</a></li>
                                                <li><a href="">여행자보험</a></li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>하나투어 셀렉션</dt>
                                        <dd>
                                            <ul>
                                                <li><a href="">하나LIVE</a></li>
                                                <li><a href="">마일리지 클럽</a></li>
                                                <li><a href="">하나Original</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="">하나팩2.0 (개런티 프로그램)</a></li>
                                                <li><a href="">SAFETY&JOY</a></li>
                                                <li><a href="">우리끼리</a></li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="allmenu_close"><a href="">전체메뉴 닫기</a></div>
                        </div>
                    </div>
                    <div class="gnb">
                        <ul>
                            <li class="d1">
                                <a href="">해외여행</a>
                                <div class="depth2">
                                    <ul>
                                        <li><a href="">해외여행 홈</a></li>
                                        <li class="d2"><a href="">동남아/대만/서남아</a></li>
                                        <li class="d2"><a href="">괌/사이판/팔라우/호주/뉴질랜드</a></li>
                                        <li class="d2"><a href="">유럽/아프리카</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="">항공</a></li>
                            <li class="d1">
                                <a href="">호텔</a>
                                <div class="depth2">
                                    <ul>
                                        <li><a href="">해외호텔</a></li>
                                        <li><a href="">국내숙박</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="d1"><a href="">투어/입장권</a></li>
                            <li class="d1"><a href="">제주/국내여행</a></li>
                            <li><a href="">허니문</a></li>
                            <li><a href="">골프</a></li>
                            <li><a href="">제우스</a></li>
                            <li><a href="">MICE</a></li>
                            <li><a href="">하나LIVE</a></li>
                            <li><a href="">베스트</a></li>
                        </ul>
                    </div>
                    <div class="special_menu">
                        <ul>
                            <li><a href="">여행기획전</a></li>
                            <li><a href="">기업여행</a></li>
                        </ul>
                    </div>
                </div>
                <div class="gnb_bg"></div>
                <div id="quick">
                    <div class="chat"><a href="">채팅상담</a></div>
                    <div class="lately">
                        <a href="">
                            최근 본 상품(<span>0</span>)
                        </a>
                    </div>
                    <div class="goTop"><a href="">TOP</a></div>
                </div>
            </div>
        </div>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script src="/js/main_header.js"></script>
    </th:block>
</body>

</html>