<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<th:block th:fragment="mainFooterFragment">
    <div id="footer">
        <div id="foot1">
            <div class="f_quick">
                <ul>
                    <li class="fq1"><a href="">하나투어상품권</a></li>
                    <li class="fq2"><a href="">해외여행 필수체크</a></li>
                    <li class="fq3"><a href="">SAFETY&amp;JOY</a></li>
                    <li class="fq4"><a href="">하나 LIVE</a></li>
                    <li class="fq5"><a href="">제우스</a></li>
                    <li class="fq6"><a href="">교육여행/단체</a></li>
                    <li class="fq7"><a href="">기업출장/단체</a></li>
                    <li class="fq8"><a href="">외국인여행</a></li>
                    <li class="fq9"><a href="">이벤트</a></li>
                </ul>
            </div>
            <div class="f_cs">
                <div class="f_cs_box1">
                    <h2 class="f_cs_title">하나투어닷컴<br>고객센터</h2>
                    <p class="f_cs_tel">1577-1233</p>
                    <p class="f_cs_question"><a href="">자주 찾는 질문</a></p>
                    <p class="f_cs_question"><a href="">ARS상담번호 안내</a></p>
                </div>
                <div class="f_cs_box2">
                    <h3 class="f_cs_tit01">해외여행 문의</h3>
                    <p class="f_cs_txt">평일: 09:00~18:00</p>
                    <p class="f_cs_txt">
                        ※ 코로나 바이러스19로 인한 근무 시간 축소로
                        주말 및 야간 상담 서비스가 임시 중단 됩니다.
                        더 나은 서비스로 찾아뵐 수 있도록 하겠습니다.
                    </p>
                </div>
                <div class="f_cs_box3">
                    <h3 class="f_cs_tit01">상담번호 안내</h3>
                    <p class="f_cs_txt">1번 예약상담</p>
                    <p class="f_cs_txt">2번 ARS 예약 확인 및 결제 확인</p>
                    <p class="f_cs_txt">3번 국내공연예매, 마일리지 및 제휴카드, 기타문의</p>
                </div>
                <div class="f_cs_box4">
                    <p class="f_cs_tit01">국내여행/기업출장/교육여행 단체 문의</p>
                    <p class="f_cs_txt">평일: 09:00~18:00</p>
                    <p class="f_cs_tit01">법인고객 전용상담 1566-0072</p>
                    <p class="f_cs_tit01">안심카드결제 ARS 1577-0015</p>
                    <p class="f_cs_card"><a href="">카드/제휴혜택</a></p>
                </div>
            </div>
        </div>
        <div id="foot2">
            <div class="foot2_inner">
                <div class="f_notice">
                    <h2 class="f_notice_title">공지</h2>
                    <div class="f_notice_list"><a href=""><하나LIVE> 21년 12월 29일 선착순 예약자 이벤트 당첨자 안내 (21년 12월 30일 오후 17시 업데이트)</a></div>
                    <div class="f_notice_more"><a href="">더보기</a></div>
                </div>
                <div class="f_sns">
                    <ul>
                        <li class="fs1"><a href="">facebook</a></li>
                        <li class="fs2"><a href="">instagram</a></li>
                        <li class="fs3"><a href="">blog</a></li>
                        <li class="fs4"><a href="">kakaoplus</a></li>
                        <li class="fs5"><a href="">youtube</a></li>
                        <li class="fs6"><a href="">kakaostory</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="foot3">
            <div class="foot3_inner">
                <div class="f_menu">
                    <ul>
                        <li><a href="">회사소개</a></li>
                        <li><a href="">이용약관</a></li>
                        <li class="point"><a href="">개인정보처리방침</a></li>
                        <li><a href="">여행약관</a></li>
                        <li><a href="">해외여행자보험</a></li>
                        <li><a href="">마케팅제휴</a></li>
                        <li><a href="">공식인증예약센터 검색</a></li>
                    </ul>
                </div>
                <div class="f_info">
                    <p>
                        <span><strong>(주)하나투어</strong></span>
                        <span>대표 : 김진국, 송미선</span>
                        <span>주소 : (03161) 서울특별시 종로구 인사동 5길 41</span>
                    </p>
                    <p>
                        <span>사업자등록번호 : 102-81-39440</span>
                        <span><a href=""><strong class="check">사업자정보확인</strong></a></span>
                        <span>통신판매업신고번호 : 종로01-1806호</span>
                        <span>관광사업자 등록번호 : 제1993-000006호</span>
                    </p>
                    <p>
                        <span>개인정보 보호책임자 : 채철훈</span>
                        <span>영업보증보험 : 22억 1천만원 가입</span>
                        <span>팩스: 02-734-0392</span>
                        <span>이메일 : 15771233@hanatour.com</span>
                        <span class="cs_tel">고객센터 <strong>1577-1233</strong></span>
                    </p>
                </div>
                <div class="f_noti">
                    ※ 부득이한 사정에 의해 여행일정이 변경되는 경우 사전 동의를 받습니다.<br>
                    ※ 하나투어는 개별 항공권, 단품 및 일부 여행상품에 대하여 통신판매중개자로서 통신판매의 당사자가 아니며 해당상품의 거래정보 및 거래등에 대해 책임을 지지 않습니다.
                </div>
                <div class="f_copyright">
                    COPYRIGHTⓒ HANATOUR SERVICE INC. ALL RIGHTS RESERVED
                </div>
                <div class="f_safe">
                    <p class="f_safe_1">하나은행 구매안전 서비스</p>
                    <p class="f_safe_2">
                        고객님은 안전거래를 위해 현금으로 결제시<br>
                        (주)하나투어에서 가입한 하나은행으로<br>
                        구매안전서비스를 이용하실 수 있습니다.
                    </p>
                    <p class="f_safe_3"><a href="">서비스 가입사실 확인</a></p>
                </div>
            </div>
        </div>
        <div id="foot4">
            <div class="foot4_inner">
                <div class="f_mark_1">
                    <ul>
                        <li><a href="">
                            <p class="fm1_img"><img src="img/award-logo-01.png" alt=""></p>
                            <p class="fm1_txt">대한민국<br>100대 브랜드</p>
                        </a></li>
                        <li><a href="">
                            <p class="fm1_img"><img src="img/award-logo-02.png" alt=""></p>
                            <p class="fm1_txt">한국능률협회선정<br>15년연속(2005~2019)<br>브랜드파워 1위</p>
                        </a></li>
                        <li><a href="">
                            <p class="fm1_img"><img src="img/award-logo-03.png" alt=""></p>
                            <p class="fm1_txt">브랜드스톡선정<br>15년연속(2005~2019)<br>브랜드스타 1위</p>
                        </a></li>
                    </ul>
                    <div class="btn">
                        <p class="prev"><a href="">이전으로</a></p>
                        <p class="next"><a href="">다음으로</a></p>
                    </div>
                </div>
                <div class="f_mark_2">
                    <ul>
                        <li><a href=""><img src="img/mark_01.png" alt="국외여행상품 정보제공 표준안 참여여행사"></a></li>
                        <li><a href=""><img src="img/mark_02.png" alt="개인정보보호우수사이트"></a></li>
                        <li><a href=""><img src="img/mark_03.png" alt="CCM"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>