<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="/css/csCenter/announcement.css">
</head>
<body>
<th:block th:fragment="myPageSideFragment">
    <div class="side_menu">
        <div class="side_inner">
            <a href=""><h3>마이페이지</h3></a>
            <p class="myPageSide on"><a href="">예약내역 & 찜</a></p>
            <p class="myPageSide"><a href="">정보수정</a></p>
            <p class="myPageSide"><a href="">자주 찾는 질문</a></p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/myPage_side.js"></script>
</th:block>
</body>
</html>