<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragment/myPage_layout}" >
<head>
<meta charset="UTF-8">
<title></title>
<!-- css영역 -->
<th:block layout:fragment ="content_css">
</th:block>
</head>
<body>
    <th:block th:fragment="myPageSideFragment">
        <div class="side_menu">
            <div class="side_inner">
                <h3 >마이페이지</h3>
                <p class="myPageSide1"onclick="window.location.href = '/member/myPageForm'"><span>My 예약내역 & 찜</span></p>
                <p class="myPageSide2"  onclick="window.location.href = '/member/infoForm'"><span>My 정보수정</span></p>
                <p class="myPageSide3"  onclick="window.location.href = '/member/myPagePlan'"><span>My 여행 플래너</span></p>
                <p class="myPageSide4"  onclick="window.location.href = '/member/myPageReview'"><span>My 작성한 리뷰보기</span></p>
                <p class="myPageSide5"  onclick="window.location.href = '/cs/inquireListForm'"><span>My 문의 내역</span></p>
            </div>
        </div>
    </th:block>
</body>
<!-- js영역 -->
<th:block layout:fragment ="content_js">
</th:block>
</html>