<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<meta charset="UTF-8">
<title></title>


    <!-- 스타일 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/style.css">    
    <link rel="stylesheet" href="/css/member/myPage.css">    

    <!-- common.css 프로젝트 공통 css -->
    <link rel="stylesheet" href="/css/common.css">


</head>
<body>
    <div class="container">
        <div class="row mb-3">
            <!-- 헤더 영역 -->
            <div class="col">
                <th:block th:replace="~{fragment/main_header :: mainHeaderFragment}"></th:block>
            </div>
        </div>
        <div class="row my_inner">
            <!-- 사이드 메뉴 영역 -->
            <div class="col-2 my_side">
                <th:block th:replace="~{fragment/myPage_side :: myPageSideFragment}"></th:block>
            </div>
            <!-- 컨텐츠 영역 -->
            <div class="col-10 content">
                <th:block layout:fragment="content"></th:block>    
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/commen.js"></script>
    <script src="/js/main.js"></script>
    
</body>
</html>