@charset "utf-8";
/* 기본셋팅, 공통값 */
body, input{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}
img, input, button{
    vertical-align: top;
}
input, button{
    padding: 0;
}
a{
    text-decoration: none;
}

textarea{
    resize: none;
}

.hide{
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

#inner{
    width: 800px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 45px 30px;
    background-color: #fff;
}
.table_text{
    margin-bottom: 20px;
}
.accomAddHeader{
    display: flex;
    margin-bottom: 30px;
}
.hText{
    height: 41px;
    font-size: 30px;
    font-weight: 700;
    color: #999;
    margin-left: 20px;
    margin-top: 6px;
}
.input{
    border: 1px solid #dadada;
    width: 600px;
}
.input input{
    width: 92%;
    height: 24px;
    outline: none;
    border: 0;
    margin: 10px 10px 10px 15px;
}
.input select{
    width: 20%;
    height: 24px;
    outline: none;
    border: 0;
    margin: 10px 10px 10px 10px;
    color: #555;
}
.input textarea{
    width: 96%;
    outline: none;
    margin: 10px;
    border: 0;
    color: #555;
}
.input textarea::placeholder{
    color: #555;
}
.input input:focus{
    border: 0;
}
.labelArea{
    display: flex;
}
.labelArea>svg{
    margin-top: 10px;
    margin-left: 10px;
}
.labelText{
    color: #555;
}
.addrBox > .input.addrDetail{
    width: 300px;
}
.addrBox> .input.accomAddr{
    width: 299px;
}
.addrBox{
    display: flex;
}
.labelText{
    margin: 11px 0 0 10px;
}
.input.accomName{
    border-radius: 7px 7px 0 0;
}
.input.accomAddr{
    border-top: 0;
}
.input.addrDetail{
    border-top: 0;
    border-left: 0;
<<<<<<< HEAD
}
.input.accomCate{
    border-top: 0;
}
.input.accomIntro{
    border-top: 0;
    border-radius: 0 0 7px 7px;
}
.input.mainImg{
    border-radius: 7px 7px 0 0;
}
.input.mainImg>input, .input.subImg>input{
    height: 25px;
}
.input.subImg{
    border-radius: 0 0 7px 7px;
    border-top: 0;
}
.table_img{
    margin-bottom: 30px;
}
.join_btn{
    width: 420px;
    height: 53px;
    border-radius: 6px;
    border: 1px solid #dadada;
    background-color: #03c75a;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    margin-left: 85px;
}
.join_btn:hover{
    background-color: #1ab752;
}
.table_text {
    border-radius: 7px;
    width: 602px;
    margin-bottom: 30px;
    box-shadow: 0 2px 6px 0 rgba(68,68,68,.08);
}
.table_img{
    border-radius: 7px;
    width: 602px;
    box-shadow: 0 2px 6px 0 rgba(68,68,68,.08);
=======
>>>>>>> 0dbf7b2f20e416902b8c26a4d8888747ca0d3384
}
.input.accomCate{
    border-top: 0;
}
.input.accomIntro{
    border-top: 0;
    border-radius: 0 0 7px 7px;
}
.input.mainImg{
    border-radius: 7px 7px 0 0;
}
.input.mainImg>input, .input.subImg>input{
    height: 25px;
}
.input.subImg{
    border-radius: 0 0 7px 7px;
    border-top: 0;
}
.table_img{
    margin-bottom: 30px;
}
.join_btn{
    width: 420px;
    height: 53px;
    border-radius: 6px;
    border: 1px solid #dadada;
    background-color: #03c75a;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    margin-left: 85px;
}
.join_btn:hover{
    background-color: #1ab752;
}
.table_text {
    border-radius: 7px;
    width: 602px;
    margin-bottom: 30px;
    box-shadow: 0 2px 6px 0 rgba(68,68,68,.08);
}
.table_img{
    border-radius: 7px;
    width: 602px;
    box-shadow: 0 2px 6px 0 rgba(68,68,68,.08);
}