@charset "UTF-8";

.location{
    border-radius: 7px;
}
.accomItems{
    box-sizing: border-box;
    border-radius: 0 0 7px 7px;
    width: 1188px;
    height: 700px;
    background-color: #fff;
    padding: 0 15px 10px 15px;
    border: 1px solid #dadada;
    border-top: 0;
    display: table;
}
.headerText{
    width: 800px;
    font-size: 25px;
    font-weight: 700;
    color: #444;
    border-bottom: 2px solid #dadada;
    margin-bottom: 20px;
}
.items{
    display: flex;
    padding: 10px 5px;
}
.itemdetail{
    display: inline-block;
    box-shadow: 0 2px 6px 0 rgba(68,68,68,0.8);
    position: relative;
    width: 214px;
    height: 300px;
    margin: 5px 2px;
    /* border: 1px solid #dadada; */
    border-radius: 5px;
    padding: 2px;
}
.itemdetail:hover{
    border: 1px solid #1ab752;
}
.photo{
    border-radius: 5px 5px 0 0;
    border: 1px solid #dadada;
    width: 213px;
    height: 180px;
}
.photo img{
    width: 213px;
    height: 180px;
}
.text{
    padding: 10px;
}
.itemName{
    color: #888;
    margin-bottom: 10px;
}
.itemStar{
    display: flex;
}
.star{
    margin-right: 10px;
}
.itemReview{
    display: flex;
}
.price{
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.love{
    position: absolute;
    left: 13px;
    bottom: 8px;
}

span{
    color: #888;
}
.priceNum{
    color: #444;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    width: 81px;
}
.sMainAcc_in, .sSubAcc_in{
    width: 1000px;
    border-radius: 7px;
    border: 1px solid #dadada;
}
.tema{
    display: flex;
}
.itemLoc{
    color: #1ab752;
    margin-right: 5px;
}
.cateName{
    color: #1ab752;
}
.tabs{
    display: flex;
}
.tab-link.current{
    background-color: #03c75a;
    border: 1px solid #03c75a;
    border-bottom: 0;
    color: #fff;
}
#first{
    border-radius: 7px 0 0 0;
}

#ten{
    border-radius: 0 7px 0 0;
}
#nine{
    letter-spacing: -1px;
}
.map_info > #map{
    width: 100%;
}
.tab-content{
    display: none;
}
.tab-content.current{
    display: block;
}
.locs{
    display: flex;
}
.loc-link{
    padding: 10px 15px;
    text-align: center;
    width: 76px;
    display: inline-block;
    border: 1px solid #dadada;;
    color: #888;
}
.loc-link.current{
    background-color: #03c75a;
    border: 1px solid #03c75a;
    border-bottom: 0;
    color: #fff;
}
.pageBtn{
    margin-top: 10px;
    text-align: center;
}
.loc-content{
    display: none;
}
.loc-content.current{
    display: block;
}
.accomAddr{
    font-size: 11px;
}