@charset "UTF-8";


.accomDetail-wrap{
    width: 100%;
    position: relative;
}

.accomDetail-inner{
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: transparent;
}

.accomdetail-head{
    display: flex;
    padding: 10px 0px 20px 0px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.accomCate{
    display: flex;
    margin-right: 20px;
}
.accomCate div{
    color: #666;
}

.accomLocal, .accomCate, .head1-span-slash, .head1-span-gwal{
    font-size: 20px;
    font-weight: 500;
}

.head1-span-slash, .head1-span-gwal{
    margin: 0 10px;
}
.head1-span-gwal{
    color: #03c75a;
}
.head1-span-slash{
    margin-top: 6px;
    height: 16px;
    content: "";
    display: block;
    text-indent: -99999px;
    border-right: 2px solid #999;
}

.mainAccomName-inner{
    display: flex;
    margin-top: -10px;
}

.accomName{
    width: 700px;
    font-weight: 500;
    font-size: 30px;
    margin-right: 30px;
    color: #333;
}
.input_textarea{
    width: 697px;
    height: 45px;
    border-radius: 5px;
    margin-right: 30px;
    border: 1px solid #ddd;
    font-size: 30px;
}
/* .input_textarea textarea::placeholder{
    color: #666;
    font-size: 30px;
    
} */

#updateButton, #updateButton1, #updateButton2{
    background-color: #03c75a;
    color: #fff;
    margin-top: 3px;
    margin-left: 118px;
    border-radius: 10px;
    width: 70px;
    height: 40px;
    border: 1px solid #ddd;
}
#updateButton:hover, #updateButton1:hover, #updateButton2:hover{
    background-color: #117c37;
}

.review{
    display: flex;
}

.review span{
    margin: 0 5px;
}

.mainAccomDetail-inner{
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    margin-bottom: 50px;
}
.mainAccomImg-main{
    position: relative;
    box-sizing: border-box;
    width: 500px;
    height: 400px;
    padding: 20px 20px;
    border-radius: 5px;
    border: 1px solid #999;
}
.mainAccomMainImg img{
    width: 460px;
    height: 360px;
}

.mainAccomDetail{
    position: relative;
    width: 550px;
    margin-top: 40px;
}
.mainAccomDetail > div{
    margin-bottom: 32px;
    font-size: 20px;
    color: #444;
}
.mainAccomAddrForm{
    display: flex;
}
.mainAccomAddr-inner{
    position: relative;
}
.addrSearch{
    position: absolute;
    right: 0;
    top: 0;
}
.mainAccomAddr-inner #updateButton1{
    position: absolute;
    right: -150px;
    bottom: 10px;
}

#inputAccomAddr, #inputAddrDetail{
    width: 80%;
    height: 20px;
    font-size: 20px;
}
.mainAccomIntro-inner{
    width: 100%;
    position: relative;
    height: 40%;
    border: 1px solid #999;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}
.addrImg{
    margin-top: 6px;
    margin-right: 10px;
}

.reviewImg{
    margin-top: 3px;
    margin-right: 10px;
}

.cartImg1, .cartImg2{
    z-index: 500;
    position: absolute;
    bottom: 10px;
    right: 40px;
}

.cartImg2 ,.cartImg1:hover{
    opacity: 0;
}
.cartImg2:hover , .cartImg1{
    opacity: 1;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0.6px 4px rgba(0, 0, 0, 0.2); */
}

#inputAccomIntro{
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: transparent;
    font-size: 20px;
}

#inputAccomIntro text{
    position: top 0;
}




#updateButton2{
    position: absolute;
    bottom: -61px;
    right: 14px;
}

.imgListSlide{
    position: relative;
    width: 200px;
    height: 330px;
    margin: 0 20px;
}
.imgSlideList{

    width: 200px;
    height: 300px;
}

.mainAccomSubImg{
    max-width: 1100px ;
    position: relative;
    overflow: hidden;

}

.addSubImg{
    border-radius: 5px;
    position: relative;
    width: 200px;
    height: 300px;
    background-color: azure;
    cursor: pointer;
    opacity: 0.5;

}

.addSubImg:hover, .addSubImg:hover .plus {
    opacity: 1;
}

.plus{
    position: absolute;
    border-radius: 50%;
    top: 125px;
    left: 75px;
    width: 50px;
    height: 50px;
    background-color: #d4d4d4; 
    opacity: 0.5;
}

.plus span{
    position: absolute;
    top: -13px;
    left: 7px;
    font-size: 50px;
    color: #777;
    opacity: 0.5;
}

.plus::before{
    position: absolute;
    display: block;
    content: "";
    top: -2px;
    left: -2px;
    width: 97%;
    height: 97%;
    border-radius: 50%;
    border: 3px solid #777;
    opacity: 0.5;
}

.plusText{
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -40px;
    opacity: 0.5;
}

.plusbutton{
    position: absolute;
    top: -125px;
    left: -73px;
    width: 200px;
    height: 300px;
    opacity: 0;
}


.mainImgSlide-inner{
    max-width: 100%;
    height: 300px;
    padding: 20px;
    border: 1px solid #777;
}

.imgListSlide .slick-active > img{
    width: 220px;
    height: 320px;
}

.deletebutton{
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #777;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    cursor: pointer;
}
.deletebutton span{
    font-size: 12px;
    color: white;
    position: absolute;
    top: -4px;
    left: 1px;
}

/* 서브 숙소 정보 */
.subAccomWrap{
    box-sizing: border-box;
    background-color: aquamarine;
    position: relative;
    width: 100%;

}
.subAccomInner{
    padding: 20px 20px 1px 20px;
    position: relative;
    width: 100%;
}
.addSubAccomBox{
    position: relative;
    width: 1080px;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: azure;
    cursor: pointer;
    opacity: 0.5;
}

.addSubAccomBox:hover ,.addSubAccomBox:hover .plus, .addSubAccomBox:hover .plusText{
    opacity: 1;
}

.addSubAccomBox .plus{
    top: 140px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.addSubAccomBox .plus span{
    position: absolute;
    top: -27px;
    left: 15px;
    font-size: 100px;
    color: #777;
    opacity: 0.5;
}

.addSubAccomBox .plus::before{
    position: absolute;
    display: block;
    content: "";
    top: -2px;
    left: -2px;
    width: 97%;
    height: 97%;
    border-radius: 50%;
    border: 3px solid #777;
    opacity: 0.5;
}

.addSubAccomBox .plusText{
    width: 120px;
    display: block;
    font-size: 25px;
    color: #000;
    border-bottom: 1px solid transparent;
    top: -45px;
    left: 50%;
    margin-left: -56px;
    text-decoration: none;
}

.addSubAccomBox .plusbutton{
    position: absolute;
    top: -125px;
    left: -73px;
    width: 200px;
    height: 300px;
}