.wrap{
    padding: 20px 0;
    width: 1000px;
    margin: 0 auto;
}
.inner{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    width: 1000px;
    border-radius: 7px;
    border: 1px solid #dadada;
    margin-bottom: 30px;
}
.Form{
    display: flex;
    padding: 20px 20px;
    border-bottom: 1px solid #dadada;
}
.Form.intro .label_area{
    margin-top: 20px;
}
.Form.timeAndPeople .label_area{
    width: 75px;
    padding: 20px;
}
.Form.timeAndPeople{
    padding: 0;
}
.label_area{
    width: 150px;
    font-size: 20px;
    color: #666;
}
.input_area input{
    font-size: 20px;
    outline: none;
    border: 0;
    color: #666;
}
#subAccomName{
    width: 800px;
}
.input_area input:focus{
    border-color: transparent;
    outline: none;
}

.input_area textarea{
    width: 780px;
    font-size: 20px;
    border: 0;
    padding: 10px 10px;
    color: #666;
    background-color: transparent;
    resize: none;
}
.input_area textarea::placeholder{
    color: #666;

}
.input_area textarea:focus{
    border-color: transparent;
    outline: none;
}
.area1{
    display: flex;
}
.area1 .input_area{
    display: flex;
    position: relative;
    width: 330px;
    box-sizing: border-box;
    margin-top: 11px;
}
.area1 .input_area .input_inner{
    margin: 10px;
}
.input_area span{
    color: #666;
    font-weight: 500;
    font-size: 17px;
    margin-right: 10px;
}
.input_inner select{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    padding-top: 0px;
    font-size: 17px;
    color: #666;
    border-color: #888;
}

.input_area.time{
    width: 470px;
}

.input_area.time select{
    width: 50px;
}

.checkBoxRent{
    display: flex;
}
.checkBoxRent span{
    margin-top: 12px;
}
.rentDiv > .rent{
    position: relative;
    margin-top: 17px;
    width: 20px;
}
.input_area.time > .input_inner{
    margin: 10px 0;
}
.rentDiv input[type="radio"]:checked + label{
    background-color: #03c75a;
    color: #03c75a;
}

.input_area.time > .input_inner.fir{
    margin-left: 10px;
}
.input_area.time > .input_inner.sec{
    margin-right: 10px;
}

.Form.category > .label_area{
    margin-top: 18px;
    text-align: center;
    margin-left: -11px;
}
.checkSubAccomCate1, .checkSubAccomCate2{
    display: flex;
}
.Form.category > .label_area > label{
    text-align: center;
    top:29%;
    left: 15%;
}
.Form.category > .input_area{
    width: 958px;
    height: 100px;
}
.checkBoxSubAccomCate{
    width: 108px;
    margin: 11px 27px;
}
.checkBoxSubAccomCate.last{
    margin-right: 0;
}
.checkBoxSubAccomCate > input{
    position: relative;
    width: 10px;
}
.area1{
    border-right: 1px solid #dadada;
}
.area1:last-child{
    border:0;
}

.Form.price .input_area > span{
    margin: 0px;
    margin-top: 4px;
}
.Form.price .input_area{
    display: flex;
}
.Form.price .input_area .input_inner{
    margin-top: 12px;
    margin-left: 16px;
}

.Form.price .input_area > .input_inner > input{
    width: 100px;
    position: relative;
    border: 1px solid #999;
    border-radius: 10px;
    left: 0;
    margin-top: -10px;
    color: #666;
    text-align: right;
}
.subAccomAdd{
    width: 400px;
    margin: 0 auto;
}
.subAccomAddBtn{
    cursor: pointer;
    margin-bottom: 50px;
    border: 1px solid #dadada;
    border-radius: 5px;
    color: #fff;
    background-color: #03c75a;
    width: 400px;
    height: 50px;
}
.subAccomAddBtn:hover{
    background-color: #1ab752;
}
.title{
    width: 130px;
    font-size: 25px;
    font-weight: 700;
    color: #666;
    margin: 6px 0 30px 20px;
    border-bottom: 5px solid #dadada;
}
.inqImg{
    color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    background-color: #03c75a;

}
.inputBox.img .upload-name {
    border-radius: 5px;
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}

.inputBox.img label {
    margin-top: -2px;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 5px;
    width: 68px;
    border : 1px solid #dadada;
    font-size: 17px;
    color: #fff;
    vertical-align: middle;
    background-color: #03c75a;
    cursor: pointer;
    height: 25px;
    margin-left: 10px;
}
.inputBox.img label:hover{
    background-color: #1ab752;
}
.inputBox.img input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.inputBox.imgLook > .label{
    padding: 20px 0;
}
.imgSlideList{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.imgSlideList img{
    width: 100%;
    height: 100%;
}
.inputBox{
    display: flex;
    padding: 20px 30px;
    border-bottom: 1px solid #dadada;
}
.label{
    text-align: center;
    width: 80px;
    font-size: 20px;
    margin-right: 30px;
    color: #666;
}