<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <th:block>
        <form method="post" action="/member/changePw" id="changePwForm">
            <div class="idBlock">
                <div class="idTag">아이디 : </div>
                <div class="memberId" name="memberId" id="memberId">[[${memberId}]]</div>
                <input type="hidden" class="memberId" name="memberId" id="memberId" th:value="${memberId}">
            </div>
            </div>
            <div class="pwBlock">
                <div class="changePw">
                    <input id="InputchangePw" type="password" name="memberPw">
                </div>
                <div class="changePwCheck">
                    <input id="InputchangePwCheck" type="password" name="memberPwCheck">
                </div>
            </div>
            <div class="btnBlock">
                <input type="button" value="변경하기" onclick="changePw()">
            </div>
        </form>
    </th:block>

</body>
<script src="/js/member/changePw.js"></script>

</html>