<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        $(function () {
            $("#findBtn").click(function () {
                $.ajax({
                    url: "/member/find_PwForm",
                    type: "POST",
                    data: {
                        id: $("#id").val(),
                        email: $("#email").val()
                    },
                    success: function (result) {
                        alert(result);
                    },
                })
            });
        })
    </script>
    <style type="text/css">
        .mybtn {
            width: 150px;
            height: 40px;
            padding: 0;
            display: inline;
            border-radius: 4px;
            background: #212529;
            color: #fff;
            margin-top: 20px;
            border: solid 2px #212529;
            transition: all 0.5s ease-in-out 0s;
        }

        .mybtn:hover .mybtn:focus {
            background: white;
            color: #212529;
            text-decoration: none;
        }
    </style>
    <title>비밀번호 찾기</title>
</head>

<body>
    <div class="w3-content w3-container w3-margin-top">
        <div class="w3-container w3-card-4 w3-auto" style="width: 382px;height: 456.3px;">
            <div class="w3-center w3-large w3-margin-top">
                <h3>비밀번호 찾기</h3>
            </div>
            <div>
                <p>
                    <label>아이디</label>
                    <input class="w3-input" type="text" id="id" name="id" placeholder="회원가입한 아이디를 입력하세요" required>
                </p>
                <div class="email_verify">
                    <div class="mb-3">
                        <p>
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="text" id="memberEmail" name="memberEmail" />
                            <select name="email_host" id="email_host">
                                <option value="null" selected>선택해주세요</option>
                                <option value="@naver.com">@naver.com</option>
                                <option value="@daum.net">@daum.net</option>
                                <option value="@gmail.com">@gmail.com</option>
                                <option value="">직접입력</option>
                            </select>
                            <input type="hidden" name="member_mail" id="member_mail">
                        </p>
                        <input type="button" class="verify" value="인증번호 발급" id="verifyButton" onclick="verifyCode()" />
                        <input type="button" class="verify" value="아이디 찾기" id="findIdButton" style="display: none;" onclick="findId()" />
                    </div>
                    <div id="additionalInput" class="verify_box" style="display: none;">
                        <!-- 추가 입력 필드가 여기에 동적으로 생성됨 -->
                        <p>
                            <label class="form-label" for="verify_code">인증번호</label>
                            <input class="form-control" type="text" id="verify_code" name="verify_code" required />
                            <div id="timer">3:00</div>
                            <div class="alertbox"></div>
                        </p>
                        <input type="button" class="verify" value="인증번호 확인" onclick="checkCode()"/>
                    </div>
            
                    <div class="result">
                        
                    </div>
                </div>           
                <p class="w3-center">
                    <button type="button" id="findBtn"
                        class="w3-button w3-hover-white w3-green w3-margin-top w3-round mybtn">찾기</button>
                        <a href="/member/loginForm"><button type="button" style="text-decoration: none;"
                        class="w3-button w3-hover-white w3-green w3-margin-top w3-round mybtn">로그인으로</button></a>
                </p>
            </div>
            <a href=""></a>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/member/find.js"></script>

</html>