<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/member/join.css">
</head>

<body>
    <form action="/member/joinMember" method="post">
        <div id="wrap">
            <div id="inner">
                <div id="header">
                    <div class="h_in">
                        <div class="h_left">
                            <div class="h_icon">
                                <a href="/member/loginForm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#03c75a"
                                        class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="textLogin">회원가입</div>
                        <div class="h_right"><a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                    fill="#03c75a" class="bi bi-house-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
                                    <path
                                        d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="container">
                    <div class="inner">
                        <div class="memberInfo">
                            <div class="join_input_1">
                                <div class="input_memberId">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#1ab752"
                                        class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd"
                                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg>
                                    <input type="text" name="memberId" id="memberId" placeholder="아이디" required>
                                    <p><button type="button" class="double_check" onclick="checkId()">중복확인</button></p>
                                </div>                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/member/join.js"></script>
    </form>
</body>

</html>