<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/member/member.css">
</head>
<body>
<form action="/member/joinMember" method="post">
    <div id="wrap">
        <div id="inner">
            <div id="header">
                <div class="h_in">
                    <div class="h_left"><a href="">BACK</a>
                        <span>본인인증</span>
                    </div>
                    <div class="h_right"><a href="">HOME</a></div>
                </div>
            </div>
            <div id="container">
                <div class="c_in">
                    <h3>회원가입을 위해<br>정보를 입력해 주세요.</h3>
                    <div class="join_input_1">
                        <p>
                            <input type="text" name="memberName" placeholder="이름" required>
                        </p>
                        <p>
                            성별 : 
                            <input type="radio" name="gender" value="남" checked>남
                            <input type="radio" name="gender" value="여">여
                        </p>
                    </div>
                    <div class="join_input_2">
                        <p><input type="text" name="memberId" placeholder="아이디" required></p>
                    </div>
                    <div class="join_input_3">
                        <p><input type="password" name="memberPw" placeholder="비밀번호" required></p>
                        <p>
                            <select name="tel" id="">
                                <option name="tel" value="010">010</option>
                                <option name="tel" value="011">011</option>
                                <option name="tel" value="012">012</option>
                            </select>
                            <input type="text" name="memberTels" placeholder="전화번호" required></p>
                    </div>
                    <div class="join_input_4">
                        <p>
                            생년월일 : <input type="date" name="memberBirth" required>
                        </p>
                    </div>
                    <input type="submit" value="가입하기">
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>