<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<h3>로그인 페이지</h3>
<th:block layout:fragment="content">
    <form action="/member/login" method="post">
        아이디 : <input type="text" name="memberId"><br>
        비밀번호 : <input type="password" name="memberPw"><br>
        <input type="submit" value="로그인">
    </form>
</th:block>
</body>
</html>
