@charset "UTF-8";


/* 폰트 */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.container{
@charset "UTF-8";


/* 폰트 */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.container{
    font-family: 'Pretendard-Regular';

}


.error-div{
    color: red;
    font-size: 0.8rem;
    display: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> 0dbf7b2f20e416902b8c26a4d8888747ca0d3384
