@charset "UTF-8";
#Visual_Main{
    width: 1920px;
    height: 541px;
    margin: 0 auto;
    position: relative;
    transition: background-color 0.1s;
}
.slide_section{
    position: absolute;
    margin: 0 auto;
    width: 1920px;
    height: 610px;;
}

.slide_in{
    display: flex;
    position: relative;
    width: 1920px;
}
.slide_in.vm1{
    background-color: rgba(74, 147, 216, 1);
}
.slide_in.vm2{
    background-color: rgba(33, 84, 202, 1);
}
.slide_in.vm3{
    background-color: rgba(124, 194, 254, 1);
}
.slide_in.vm4{
    background-color: #106292; 
}
.slide_in.vm5{
    background-color: #a15805;
}
.slide_in.vm6{
    background-color: #0ab427; 
}

.slide_1 .vm_1{
    width: 740px;
    height: 540px;
    background: url(/img/mainBn_01.jpg) center no-repeat;
    margin-left: 28%;
}
.slide_2 .vm_2{
    width: 740px;
    height: 540px;
    background: url(/img/bluedragon.JPG);
    margin-left: 28%;
}
.slide_3 .vm_3{
    width: 740px;
    height: 540px;
    background: url(/img/02.jpg);
    margin-left: 28%;
}
.slide_4 .vm_4{
    width: 1200px;
    height: 541px;
    background: url(/img/koreanair.png) center no-repeat;
    background-size: 100% auto;
    margin-left: 18%;
}
.slide_5 .vm_5{
    width: 1479px;
    height: 526px;
    background: url(/img/fastbig.jpg) center no-repeat;
    background-size: auto 541px;
    padding-bottom: 14px;
    margin-left: 12%;
}
.slide_6 .vm_6{
    width: 1200px;
    height: 541px;
    background: url(/img/gogo.png) center no-repeat;
    background-size: 100%;
    margin-left: 20%;
}
.m_remote{
    position: absolute;
    display: flex;
    top: 4%;
    right: 38%;
    width: 90px;
    height: 20px;
    justify-content: space-between;
}
.m_remote p{
    width: 11px;
    height: 20px;
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-position: center;
}
.m_remote .slide_prev{
    background-image: url(/img/ms_prev.png);
}
.m_remote .slide_next{
    background-image: url(/img/ms_next.png);
}
.m_remote .m_pause{
    background-image: url(/img/ms_pause.png);
}
.m_remote .m_play{
    background-image: url(/img/ms_play.png);
    display: none;
}

.inner{
    box-sizing: border-box;
    background: none;
    margin: 0 auto;
    padding: 30px 20px;
}
.main{
position: relative;
margin-bottom: 30px;

}
.category{
    width: 100%;
}
/* @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} */

.container{
    font-family: 'Pretendard-Regular';

}


.error-div{
    color: red;
    font-size: 0.8rem;
    display: none;
}

.tabs{
    display: flex;
}
.tab-link{
    padding: 1% 1%;
    text-align: center;
    width: 114px;
    border: 1px solid #dadada;;
    color: #888;
}
.tab-link.current{
    background-color: #03c75a;
    border: 1px solid #03c75a;
    border-bottom: 0;
    color: #fff;
}
#first{
    border-radius: 7px 0 0 0;
}
#ten{
    border-radius: 0 7px 0 0;
}
#nine{
    letter-spacing: -1px;
}
.tab-content{
    display: none;
}
.tab-content.current{
    display: block;
}
.accomItems{
    width: 1158px;
    height: 700px;
    border: 1px solid #dadada;
    border-top: 0;
    border-radius: 0 0 7px 7px;
    background-color: #fff;
}
.headerText{
    width: 800px;
    font-size: 25px;
    font-weight: 700;
    color: #444;
    border-bottom: 2px solid #dadada;
    margin-bottom: 20px;
}   

.item1{
    display: flex;
}
.item{
    width: 220px;
    height: 220px;
    background-color: #03c75a;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin: 10px;
}