@charset "utf-8";

.map_wrap,
.map_wrap * {
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    font-size: 12px;
}

.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
    color: #000;
    text-decoration: none;
}

.map_wrap {
    border-radius: 7px;
    border: 1px solid #dadada;
    position: relative;
    width: 1100px;
    padding: 20px 30px;
    height: 530px;
}
.map_wrap > #map{
    width: 677px;
    height: 517px;
    position: absolute;
    top: 23px;
    right: 24px;
    border: 1px solid #dadada;
    border-radius: 7px;
}

#menu_wrap {
    position: absolute;
    top: 20px;
    left: 30px;
    bottom: 0;
    width: 390px;
    padding: 5px;
    height: 510px;
    border: 1px solid #dadada;
    background: #fff;
    z-index: 1;
    font-size: 12px;
    border-radius: 10px;
}
/* #menu_wrap ::-webkit-scrollbar{
    border-radius: 10px;
} */

.bg_white {
    background: #fff;
}

#menu_wrap hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #5F5F5F;
    margin: 3px 0;
}

#menu_wrap .option {
    text-align: center;
}

#menu_wrap .option p {
    margin: 10px 0;
}

#menu_wrap .option button {
    margin-left: 5px;
}
.result{
    margin-top: 3px;
    border: 1px solid #dadada;
    border-radius: 0 0 5px 5px;
    overflow-y: scroll;
    height: 433px;
    z-index: 1;
}
#placesList li {
    list-style: none;
}

#placesList .item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
}
#placesList .item:hover{
    border: 1px solid #1ab752;
    border-radius: 5px;
}
.item div{
    display: none;
}
.item >.info{
    display: block;
}
#placesList .item span {
    display: block;
    margin-top: 4px;
}

#placesList .item h5,
#placesList .item .info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#placesList .item .info {
    padding: 10px 0 10px 55px;
}

#placesList .info .gray {
    color: #8a8a8a;
}

#placesList .info .jibun {
    padding-left: 26px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
    color: #009900;
}

#placesList .item .markerbg {
    float: left;
    position: absolute;
    width: 36px;
    height: 37px;
    margin: 10px 0 0 10px;
    background: url('../img/marker_number_blue.png') no-repeat;
}

#placesList .item .marker_1 {
    background-position: 0 -10px;
}

#placesList .item .marker_2 {
    background-position: 0 -56px;
}

#placesList .item .marker_3 {
    background-position: 0 -102px
}

#placesList .item .marker_4 {
    background-position: 0 -148px;
}

#placesList .item .marker_5 {
    background-position: 0 -194px;
}

#placesList .item .marker_6 {
    background-position: 0 -240px;
}

#placesList .item .marker_7 {
    background-position: 0 -286px;
}

#placesList .item .marker_8 {
    background-position: 0 -332px;
}

#placesList .item .marker_9 {
    background-position: 0 -378px;
}

#placesList .item .marker_10 {
    background-position: 0 -423px;
}

#placesList .item .marker_11 {
    background-position: 0 -470px;
}

#placesList .item .marker_12 {
    background-position: 0 -516px;
}

#placesList .item .marker_13 {
    background-position: 0 -562px;
}

#placesList .item .marker_14 {
    background-position: 0 -608px;
}

#placesList .item .marker_15 {
    background-position: 0 -654px;
}

#pagination {
    margin: 10px auto;
    text-align: center;
}

#pagination a {
    display: inline-block;
    margin-right: 10px;
}

#pagination .on {
    font-weight: bold;
    cursor: default;
    color: #777;
}
.option{
    z-index: 700;
}
.option input{
    font-size: 22px;
    margin-bottom: 3px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #dadada;
    outline: none;
}
.option input:focus{
    border: 1px solid #1ab752;
}
.option button{
    background-color: #03c75a;
    color: #fff;
    border: #dadada;
    border-radius: 5px;
    width: 50px;
    height: 32px;
}
.option div text{
    display: none;
}
.info h5{
    font-size: 20px;
    font-weight: 700;
    color: #444;
}
.info span{
    font-size: 15px;
}
