/* 푸터 첫 번째 */
#foot1{
    padding-top: 70px;
    padding-bottom: 80px;
    margin-bottom: 80px;
    background-color: #f7f7f7;
}
.f_quick{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
}
.f_quick ul{
    display: flex;
    justify-content: space-between;
}
.f_quick li{
    width: 132px;
}
.f_quick li a{
    display: block;
    padding-top: 28px;
    padding-bottom: 25px;
    background-color: #fff;
    color: #222;
    text-align: center;
}
.f_quick li a::before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17px;
    background-image: url(../img/spr_man.png);
}
.f_quick .fq1 a::before{
    background-position: 0 -70px;
}
.f_quick .fq2 a::before{
    background-position: -32px -70px;
}
.f_quick .fq3 a::before{
    background-position: -64px -70px;
}
.f_quick .fq4 a::before{
    background-position: -96px -70px;
}
.f_quick .fq5 a::before{
    background-position: -128px -70px;
}
.f_quick .fq6 a::before{
    background-position: -160px -70px;
}
.f_quick .fq7 a::before{
    background-position: -192px -70px;
}
.f_quick .fq8 a::before{
    background-position: -224px -70px;
}
.f_quick .fq9 a::before{
    background-position: -256px -70px;
}
/* 푸터 고객센터 */
.f_cs{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    border-top: 2px solid #222;
    padding: 40px 0;
    background-color: #fff;
}
.f_cs_box1{
    width: 182px;
    padding: 0 50px;
}
.f_cs_title{
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
}
.f_cs_tel{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}
.f_cs_question a{
    display: block;
    color: #111;
}
.f_cs_question a::after{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 7px;
    height: 12px;
    margin-top: 4px;
    margin-left: 8px;
    background-image: url(../img/spr_btn.png);
    background-position: -30px 0;
}
.f_cs_box2{
    width: 255px;
}
.f_cs_tit01{
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: 500;
}
.f_cs_txt{
    margin-bottom: 6px;
    font-size: 13px;
    color: #666;
} 
.f_cs_box4{
    padding-right: 50px;
}
.f_cs_box4 .f_cs_txt{
    margin-bottom: 25px;
}
.f_cs_card a{
    display: inline-block;
    vertical-align: top;  
    padding: 0 10px;  
    border: solid 1px #c2c2c2;
    border-radius: 4px;
    line-height: 23px;
    font-size: 12px;
    color: #666;
}
/* 푸터 두 번째 */
#foot2{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
}
.foot2_inner{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}
.f_notice{
    display: flex;
}
.f_notice_title{
    width: 45px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    line-height: 56px;
}
.f_notice_list{
    margin-top: 14px;
    margin-right: 25px;
}
.f_notice_list a{
    display: block;
    width: 410px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    line-height: 30px;
}
.f_notice_more a{
    line-height: 56px;
    color: #666;
}
.f_sns{
    margin-top: 14px;
}
.f_sns ul{
    display: flex;
}
.f_sns li{
    margin-left: 17px;
}
.f_sns li a{
    display: block;
    width: 28px;
    height: 28px;
    text-indent: -99999px;
}
.f_sns .fs1 a{
    background-image: url(../img/facebook.png);
}
.f_sns .fs2 a{
    background-image: url(../img/instagram.png);
}
.f_sns .fs3 a{
    background-image: url(../img/naverblog.png);
}
.f_sns .fs4 a{
    background-image: url(../img/kakaoplus.png);
}
.f_sns .fs5 a{
    background-image: url(../img/youtube.png);
}
.f_sns .fs6 a{
    background-image: url(../img/kakaostory.png);
}
/* 푸터 셋 번째 */
#foot3{
    margin-bottom: 25px;
}
.foot3_inner{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.f_menu{
    margin-bottom: 20px;
}
.f_menu ul{
    display: flex;
}
.f_menu li{
    line-height: 14px;
    border-right: 1px solid #ddd;
    padding-right: 15px;
    margin-right: 15px;
}
.f_menu li:last-child{
    border-right: 0;
}
.f_menu li a{
    font-size: 13px;
    color: #111;
}
.f_menu .point a{
    font-weight: 600;
}
.f_info{
    margin-bottom: 16px;
}
.f_info p{
    height: 13px;
    padding: 6px 0;
}
.f_info p span{
    display: inline-block;
    line-height: 13px;
    border-right: 1px solid #ddd;
    padding-right: 12px;
    margin-right: 12px;
    color: #333;
    font-size: 13px;
}
.f_info p span:last-child{
    border-right: 0;
}
.f_info a{
    color: #333;
}
.f_info strong{
    font-weight: 700;
}
.f_info .check{
    text-decoration: underline;
}
.f_info .cs_tel::before{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background-image: url(../img/ico-callcenter.png);
    background-color: #fff;
    margin-top: -2px;
    margin-right: 4px;
}
.f_noti{
    margin-bottom: 15px;
    font-size: 13px;
    color: #333;
}
.f_copyright{
    font-size: 12px;
    color: #333;
}
.f_safe{
    position: absolute;
    top: 0;
    right: 0;
}
.f_safe_1{
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 700;
}
.f_safe_2{
    font-size: 12px;
    color: #888;
}
.f_safe_3 a{
    font-size: 12px;
    color: #333;
    font-weight: 500;
    text-decoration: underline;
}
/* 푸터 네 번째 */
#foot4{
    background-color: #f9fafd;
}
.foot4_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 90px;
    margin: 0 auto;
}
.f_mark_1{
    display: flex;
    justify-content: space-between;
    width: 916px;
}
.f_mark_1 ul{
    display: flex;
    justify-content: center;
    width: 894px;
}
.f_mark_1 li{
    margin: 0 40px;
}
.f_mark_1 li a{
    display: flex;
}
.f_mark_1 li a .fm1_txt{
    margin-left: 25px;
    font-size: 11px;
    line-height: 1.3;
    color: #666;
}
.f_mark_1 .btn p a{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-bottom: 0;
    text-indent: -99999px;
    background-size: 14px auto;
    background-repeat: no-repeat;
    background-position: center;
}
.f_mark_1 .btn .prev a{
    background-image: url(../img/ico-arrow-left.png);
}
.f_mark_1 .btn .next a{
    border-bottom: 1px solid #ddd;
    background-image: url(../img/ico-arrow-right.png);
}
.f_mark_2 ul{
    display: flex;
}
.f_mark_2 li{
    margin-left: 18px;
}
.f_mark_2 li:nth-child(2) img{
    width: 50px;
    height: auto;
}