<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/kakaomap.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
    <th:block layout:fragment="content">
        <h2>제주그린투어 index</h2>
        <a href="/member/loginForm">로그인</a>
        <a href="/member/joinForm">회원가입</a>
        <a href="/accom/addAccomForm">숙박등록</a>

        <th:block>
            <h3>업소 정보 상세보기</h3>
            <div class="row row-cols-5 g-4">
                <a th:href="@{/accom/mainAccomDetail(accomCode=ACCOM_008)}">상세보기</a>
            </div>
        </th:block>
        <div id="container">
            <div id="Visual_Main">
                <div class="slide_section">
                    <div class="m_slide_list">
                        <div class="slide_1">
                            <div class="slide_in vm1">
                                <div class="vm_1"></div>
                            </div>
                        </div>
                        <div class="slide_2">
                            <div class="slide_in vm2">
                                <div class="vm_2"></div>
                            </div>
                        </div>
                        <div class="slide_3">
                            <div class="slide_in vm3">
                                <div class="vm_3"></div>
                            </div>
                        </div>
                        <div class="slide_4">
                            <div class="slide_in vm4">
                                <div class="vm_4"></div>
                            </div>
                        </div>
                        <div class="slide_5">
                            <div class="slide_in vm5">
                                <div class="vm_5"></div>
                            </div>
                        </div>
                        <div class="slide_6">
                            <div class="slide_in vm6">
                                <div class="vm_6"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m_remote">
                    <p class="slide_prev"><span>이전으로</span></p>
                    <p class="slide_next"><span>다음으로</span></p>
                    <p class="m_pause"><span class="hide">일시정지</span></p>
                    <p class="m_play"><span class="hide">재생</span></p>
                </div>
            </div>
            <div class="main two">
                <div class="inner accom">
                    <div class="category">
                        <div class="tabs">
                            <div class="tab-link current" id="first" data-tab="tab-1">전체</div>
                            <div class="tab-link" data-tab="tab-2">풀빌라</div>
                            <div class="tab-link" data-tab="tab-3">오션뷰</div>
                            <div class="tab-link" data-tab="tab-4">PC룸</div>
                            <div class="tab-link" data-tab="tab-5">N플릭스</div>
                            <div class="tab-link" data-tab="tab-6">흡연가능</div>
                            <div class="tab-link" data-tab="tab-7">금연</div>
                            <div class="tab-link" data-tab="tab-8">반려동물 O</div>
                            <div class="tab-link" id="nine" data-tab="tab-9">반려동물 X</div>
                            <div class="tab-link" id="ten" data-tab="tab-10">노키즈존</div>
                        </div>
                        <div class="accomItems">
                            <div id="tab-1" class="tab-content current">
                                <div class="accomItem row-col-5">
                                    <th:block th:each="data, state : ${subAccom}"  th:if="${state.index lt 10}">
                                        <div class="itemdetail">
                                            <div class="photo">
                                                <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                                    <th:block>
                                                        <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                            alt="">
                                                    </th:block>
                                                </div>
                                            </div>
                                            <div class="text">
                                                <div class="itemName">[[${data.subAccomName}]]</div>
                                                <div class="itemLoc">[[${data.accomLoc}]]</div>
                                                <div class="price">
                                                    <span class="priceNum">
                                                        [[${data.reservationPrice}]]
                                                    <th:block th:if="${data.dayuseCan == 'Y'}">
                                                        [[${data.dayusePrice}]]
                                                    </th:block>
                                                    </span>
                                                    <span class="won">원</span>
                                                </div>
                                            </div>
                                            <div class="love">
                                                하트[[${(state.index % 5 == 4 and state.index != 0)}]]
                                            </div>
                                        </div>
                                    </th:block>

                                </div>
                            </div>
                        <div id="tab-2" class="tab-content">
                            <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.subAccomCate,'풀빌라') && state.index lt 10}" >
                                <div class="itemdetail">
                                    <div class="photo">
                                        <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                            <th:block>
                                                <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                    alt="">
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="itemName">[[${data.subAccomName}]]</div>
                                        <div class="itemLoc">[[${data.accomLoc}]]</div>
                                        <div class="price">
                                            <span class="priceNum">
                                                [[${data.reservationPrice}]]
                                            <th:block th:if="${data.dayuseCan == 'Y'}">
                                                [[${data.dayusePrice}]]
                                            </th:block>
                                            </span>
                                            <span class="won">원</span>
                                        </div>
                                    </div>
                                    <div class="love">
                                        하트
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div id="tab-3" class="tab-content">
                            <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.subAccomCate,'오션_뷰') && state.index lt 10}" >
                                <div class="itemdetail">
                                    <div class="photo">
                                        <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                            <th:block>
                                                <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                    alt="">
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="itemName">[[${data.subAccomName}]]</div>
                                        <div class="itemLoc">[[${data.accomLoc}]]</div>
                                        <div class="price">
                                            <span class="priceNum">
                                                [[${data.reservationPrice}]]
                                            <th:block th:if="${data.dayuseCan == 'Y'}">
                                                [[${data.dayusePrice}]]
                                            </th:block>
                                            </span>
                                            <span class="won">원</span>
                                        </div>
                                    </div>
                                    <div class="love">
                                        하트
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div id="tab-4" class="tab-content">
                            <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.subAccomCate,'PC_룸') and state.index lt 10}">
                                <div class="itemdetail">
                                    <div class="photo">
                                        <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                            <th:block>
                                                <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                    alt="">
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="itemName">[[${data.subAccomName}]]</div>
                                        <div class="itemLoc">[[${data.accomLoc}]]</div>
                                        <div class="price">
                                            <span class="priceNum">
                                                [[${data.reservationPrice}]]
                                            <th:block th:if="${data.dayuseCan == 'Y'}">
                                                [[${data.dayusePrice}]]
                                            </th:block>
                                            </span>
                                            <span class="won">원</span>
                                        </div>
                                    </div>
                                    <div class="love">
                                        하트
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div id="tab-5" class="tab-content">
                            <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.subAccomCate,'N플릭스') && state.index lt 10}" >
                                <div class="itemdetail">
                                    <div class="photo">
                                        <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                            <th:block>
                                                <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                    alt="">
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="itemName">[[${data.subAccomName}]]</div>
                                        <div class="itemLoc">[[${data.accomLoc}]]</div>
                                        <div class="price">
                                            <span class="priceNum">
                                                [[${data.reservationPrice}]]
                                            <th:block th:if="${data.dayuseCan == 'Y'}">
                                                [[${data.dayusePrice}]]
                                            </th:block>
                                            </span>
                                            <span class="won">원</span>
                                        </div>
                                    </div>
                                    <div class="love">
                                        하트
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div id="tab-6" class="tab-content">
                            <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.subAccomCate,'흡연_O') && state.index lt 10}" >
                                <div class="itemdetail">
                                    <div class="photo">
                                        <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                            <th:block>
                                                <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                    alt="">
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="itemName">[[${data.subAccomName}]]</div>
                                        <div class="itemLoc">[[${data.accomLoc}]]</div>
                                        <div class="price">
                                            <span class="priceNum">
                                                [[${data.reservationPrice}]]
                                            <th:block th:if="${data.dayuseCan == 'Y'}">
                                                [[${data.dayusePrice}]]
                                            </th:block>
                                            </span>
                                            <span class="won">원</span>
                                        </div>
                                    </div>
                                    <div class="love">
                                        하트
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div id="tab-7" class="tab-content">
                            <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.subAccomCate,'금연') && state.index lt 10}">
                                <div class="itemdetail">
                                    <div class="photo">
                                        <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                            <th:block>
                                                <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                    alt="">
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="itemName">[[${data.subAccomName}]]</div>
                                        <div class="itemLoc">[[${data.accomLoc}]]</div>
                                        <div class="price">
                                            <span class="priceNum">
                                                [[${data.reservationPrice}]]
                                            <th:block th:if="${data.dayuseCan == 'Y'}">
                                                [[${data.dayusePrice}]]
                                            </th:block>
                                            </span>
                                            <span class="won">원</span>
                                        </div>
                                    </div>
                                    <div class="love">
                                        하트
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div id="tab-8" class="tab-content">
                            <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.subAccomCate,'반려동물_O') && state.index lt 10}">
                                <div class="itemdetail">
                                    <div class="photo">
                                        <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                            <th:block>
                                                <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                    alt="">
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="itemName">[[${data.subAccomName}]]</div>
                                        <div class="itemLoc">[[${data.accomLoc}]]</div>
                                        <div class="price">
                                            <span class="priceNum">
                                                [[${data.reservationPrice}]]
                                            <th:block th:if="${data.dayuseCan == 'Y'}">
                                                [[${data.dayusePrice}]]
                                            </th:block>
                                            </span>
                                            <span class="won">원</span>
                                        </div>
                                    </div>
                                    <div class="love">
                                        하트
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div id="tab-9" class="tab-content">
                            <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.subAccomCate,'반려동물_X') && state.index lt 10}">
                                <div class="itemdetail">
                                    <div class="photo">
                                        <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                            <th:block>
                                                <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                    alt="">
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="itemName">[[${data.subAccomName}]]</div>
                                        <div class="itemLoc">[[${data.accomLoc}]]</div>
                                        <div class="price">
                                            <span class="priceNum">
                                                [[${data.reservationPrice}]]
                                            <th:block th:if="${data.dayuseCan == 'Y'}">
                                                [[${data.dayusePrice}]]
                                            </th:block>
                                            </span>
                                            <span class="won">원</span>
                                        </div>
                                    </div>
                                    <div class="love">
                                        하트
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div id="tab-10" class="tab-content">
                            <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.subAccomCate,'노키즈_존') && state.index < 10}">
                                <div class="itemdetail">
                                    <div class="photo">
                                        <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                            <th:block>
                                                <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                    alt="">
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="itemName">[[${data.subAccomName}]]</div>
                                        <div class="itemLoc">[[${data.accomLoc}]]</div>
                                        <div class="price">
                                            <span class="priceNum">
                                                [[${data.reservationPrice}]]
                                            <th:block th:if="${data.dayuseCan == 'Y'}">
                                                [[${data.dayusePrice}]]
                                            </th:block>
                                            </span>
                                            <span class="won">원</span>
                                        </div>
                                    </div>
                                    <div class="love">
                                        하트
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="location">
                    <div class="locs">
                        <div class="loc-link current" id="first" data-tab="loc-1">제주시</div>
                        <div class="loc-link" data-tab="loc-2">서귀포시</div>
                        <div class="loc-link" data-tab="loc-3">성산읍</div>
                        <div class="loc-link" data-tab="loc-4">한림읍</div>
                        <div class="loc-link" data-tab="loc-5">애월읍</div>
                        <div class="loc-link" data-tab="loc-6">안덕면</div>
                        <div class="loc-link" data-tab="loc-7">남원읍</div>
                        <div class="loc-link" data-tab="loc-8">대정읍</div>
                        <div class="loc-link" id="nine" data-tab="loc-9">조천읍</div>
                        <div class="loc-link" id="ten" data-tab="loc-10">구좌읍</div>
                    </div>
                    <div class="accomItems">
                        <div id="loc-1" class="loc-content current">
                            <div class="accomItem row-col-5">
                                <th:block th:each="data, state : ${subAccom}"  th:if="${#strings.contains(data.accomLoc,'제주시') && state.index < 10}">
                                    <div class="itemdetail">
                                        <div class="photo">
                                            <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                                <th:block>
                                                    <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                        alt="">
                                                </th:block>
                                            </div>
                                        </div>
                                        <div class="text">
                                            <div class="itemName">[[${data.subAccomName}]]</div>
                                            <div class="itemLoc">[[${data.accomLoc}]]</div>
                                            <div class="price">
                                                <span class="priceNum">
                                                    [[${data.reservationPrice}]]
                                                <th:block th:if="${data.dayuseCan == 'Y'}">
                                                    [[${data.dayusePrice}]]
                                                </th:block>
                                                </span>
                                                <span class="won">원</span>
                                            </div>
                                        </div>
                                        <div class="love">
                                            하트
                                        </div>
                                    </div>
                                </th:block>

                            </div>
                        </div>
                    <div id="loc-2" class="loc-content">
                        <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.accomLoc,'서귀포시') && state.index < 10}">
                            <div class="itemdetail">
                                <div class="photo">
                                    <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                        <th:block>
                                            <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                alt="">
                                        </th:block>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="itemName">[[${data.subAccomName}]]</div>
                                    <div class="itemLoc">[[${data.accomLoc}]]</div>
                                    <div class="price">
                                        <span class="priceNum">
                                            [[${data.reservationPrice}]]
                                        <th:block th:if="${data.dayuseCan == 'Y'}">
                                            [[${data.dayusePrice}]]
                                        </th:block>
                                        </span>
                                        <span class="won">원</span>
                                    </div>
                                </div>
                                <div class="love">
                                    하트
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div id="loc-13" class="loc-content">
                        <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.accomLoc,'성산읍') && state.index < 10}"> 
                            <div class="itemdetail">
                                <div class="photo">
                                    <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                        <th:block>
                                            <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                alt="">
                                        </th:block>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="itemName">[[${data.subAccomName}]]</div>
                                    <div class="itemLoc">[[${data.accomLoc}]]</div>
                                    <div class="price">
                                        <span class="priceNum">
                                            [[${data.reservationPrice}]]
                                        <th:block th:if="${data.dayuseCan == 'Y'}">
                                            [[${data.dayusePrice}]]
                                        </th:block>
                                        </span>
                                        <span class="won">원</span>
                                    </div>
                                </div>
                                <div class="love">
                                    하트
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div id="loc-14" class="loc-content">
                        <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.accomLoc,'한림읍') && state.index < 10}">
                            <div class="itemdetail">
                                <div class="photo">
                                    <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                        <th:block>
                                            <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                alt="">
                                        </th:block>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="itemName">[[${data.subAccomName}]]</div>
                                    <div class="itemLoc">[[${data.accomLoc}]]</div>
                                    <div class="price">
                                        <span class="priceNum">
                                            [[${data.reservationPrice}]]
                                        <th:block th:if="${data.dayuseCan == 'Y'}">
                                            [[${data.dayusePrice}]]
                                        </th:block>
                                        </span>
                                        <span class="won">원</span>
                                    </div>
                                </div>
                                <div class="love">
                                    하트
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div id="loc-15" class="loc-content">
                        <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.accomLoc,'애월읍') && state.index < 10}" >
                            <div class="itemdetail">
                                <div class="photo">
                                    <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                        <th:block>
                                            <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                alt="">
                                        </th:block>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="itemName">[[${data.subAccomName}]]</div>
                                    <div class="itemLoc">[[${data.accomLoc}]]</div>
                                    <div class="price">
                                        <span class="priceNum">
                                            [[${data.reservationPrice}]]
                                        <th:block th:if="${data.dayuseCan == 'Y'}">
                                            [[${data.dayusePrice}]]
                                        </th:block>
                                        </span>
                                        <span class="won">원</span>
                                    </div>
                                </div>
                                <div class="love">
                                    하트
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div id="loc-16" class="loc-content">
                        <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.accomLoc,'안덕면') && state.index < 10}" >
                            <div class="itemdetail">
                                <div class="photo">
                                    <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                        <th:block>
                                            <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                alt="">
                                        </th:block>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="itemName">[[${data.subAccomName}]]</div>
                                    <div class="itemLoc">[[${data.accomLoc}]]</div>
                                    <div class="price">
                                        <span class="priceNum">
                                            [[${data.reservationPrice}]]
                                        <th:block th:if="${data.dayuseCan == 'Y'}">
                                            [[${data.dayusePrice}]]
                                        </th:block>
                                        </span>
                                        <span class="won">원</span>
                                    </div>
                                </div>
                                <div class="love">
                                    하트
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div id="loc-17" class="loc-content">
                        <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.accomLoc,'남원읍') && state.index < 10}">
                            <div class="itemdetail">
                                <div class="photo">
                                    <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                        <th:block>
                                            <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                alt="">
                                        </th:block>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="itemName">[[${data.subAccomName}]]</div>
                                    <div class="itemLoc">[[${data.accomLoc}]]</div>
                                    <div class="price">
                                        <span class="priceNum">
                                            [[${data.reservationPrice}]]
                                        <th:block th:if="${data.dayuseCan == 'Y'}">
                                            [[${data.dayusePrice}]]
                                        </th:block>
                                        </span>
                                        <span class="won">원</span>
                                    </div>
                                </div>
                                <div class="love">
                                    하트
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div id="loc-18" class="loc-content">
                        <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.accomLoc,'대정읍') && state.index < 10}">
                            <div class="itemdetail">
                                <div class="photo">
                                    <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                        <th:block>
                                            <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                alt="">
                                        </th:block>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="itemName">[[${data.subAccomName}]]</div>
                                    <div class="itemLoc">[[${data.accomLoc}]]</div>
                                    <div class="price">
                                        <span class="priceNum">
                                            [[${data.reservationPrice}]]
                                        <th:block th:if="${data.dayuseCan == 'Y'}">
                                            [[${data.dayusePrice}]]
                                        </th:block>
                                        </span>
                                        <span class="won">원</span>
                                    </div>
                                </div>
                                <div class="love">
                                    하트
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div id="loc-19" class="loc-content">
                        <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.accomLoc,'조천읍') && state.index < 10}">
                            <div class="itemdetail">
                                <div class="photo">
                                    <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                        <th:block>
                                            <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                alt="">
                                        </th:block>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="itemName">[[${data.subAccomName}]]</div>
                                    <div class="itemLoc">[[${data.accomLoc}]]</div>
                                    <div class="price">
                                        <span class="priceNum">
                                            [[${data.reservationPrice}]]
                                        <th:block th:if="${data.dayuseCan == 'Y'}">
                                            [[${data.dayusePrice}]]
                                        </th:block>
                                        </span>
                                        <span class="won">원</span>
                                    </div>
                                </div>
                                <div class="love">
                                    하트
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div id="loc-20" class="loc-content">
                        <th:block th:each="data, state : ${subAccom}" th:if="${#strings.contains(data.accomLoc,'구좌읍') && state.index < 10}">
                            <div class="itemdetail">
                                <div class="photo">
                                    <div th:if="${img.isMain == 'Y'}" th:each="img : ${data.subAccomImgList}">
                                        <th:block>
                                            <img th:src="${'/img/subaccom/'+ img.attachedFileName}"
                                                alt="">
                                        </th:block>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="itemName">[[${data.subAccomName}]]</div>
                                    <div class="itemLoc">[[${data.accomLoc}]]</div>
                                    <div class="price">
                                        <span class="priceNum">
                                            [[${data.reservationPrice}]]
                                        <th:block th:if="${data.dayuseCan == 'Y'}">
                                            [[${data.dayusePrice}]]
                                        </th:block>
                                        </span>
                                        <span class="won">원</span>
                                    </div>
                                </div>
                                <div class="love">
                                    하트
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
            </div>
            <div class="main three">
                <div class="inner">
                    <div class="headerText">
                        지도 내 검색
                    </div>
                    <div class="m1_right">
                        <div class="map_wrap">
                            <div id="map"></div>
                            <div id="menu_wrap" class="bg_white">
                                <div class="option">
                                    <div>
                                        <form onsubmit="searchPlaces(); return false;">
                                            <input type="text" value="제주 맛집" id="keyword" size="15">
                                            <button type="submit">검색하기</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="result">
                                    <ul id="placesList"></ul>

                                </div>
                                <div id="pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map_info">
            <p style="margin-top:-12px">
                <em class="link">
                    <a href="javascript:void(0);"
                        onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
                    </a>
                </em>
            </p>
            <div id="map"></div>
        </div>
        <div class="m_foot">
            <h3 class="mf_title">자주 찾는 질문</h3>
            <div class="mf_more_btn"><a href="/cs/qnaListForm">더보기</a></div>
            <div class="mf_in">
                <ul>
                    <!-- ------------------------------------------------ -->
                    <li class="mf_qna" th:each="qna, state : ${qnaList}">
                        <div class="mf_qna_question"> <!-- 질문 -->
                            <span class="mf_cateName m2_box">[ [[${qna.qnaCateList.cateName}]] ]</span>
                            <span class="mf_qna_span_q">Q</span>
                            [[${qna.qnaQuestion}]]
                        </div>
                        <div class="mf_qna_answer"> <!-- 대답 -->
                            <span class="mf_box"></span>
                            <span class="mf_qna_span_a">A</span>
                            [[${qna.qnaAnswer}]]
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        </div>
        <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	1faecd944d1bb1ff9e6939d4b20a8146&libraries=services"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/kakaomap.js"></script>
        <script src="/js/slick.min.js"></script>
    </th:block>
</body>

</html>