<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{fragment/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/kakaomap.css">

</head>

<body>
<th:block layout:fragment="content">
<h2>제주그린투어 index</h2>
<a href="/member/loginForm">로그인</a>
<a href="/member/joinForm">회원가입</a>
<a href="/accom/addAccomForm">숙박등록</a>

<th:block>
    <h3>업소 정보 상세보기</h3>
    <div class="row row-cols-5 g-4">
        <a th:href="@{/accom/mainAccomDetail(accomCode=ACCOM_007)}">상세보기</a>
    </div>
</th:block>
<div id="container">
    <div class="top_main">
        <div class="tinner">
            <div class="tm_right">
                <div class="main_slide">
                    <div class="ms_img"><a href=""><img src="img/mainBn_01.jpg" alt=""></a></div>
                    <div class="ms_btn">
                        <p class="ms_prev"><span class="hide">이전으로</span></p>
                        <p class="ms_next"><span class="hide">다음으로</span></p>
                        <p class="ms_paly"><span class="hide">재생하기</span></p>
                        <p class="ms_pause"><span class="hide">멈추기</span></p>
                        <p class="ms_pager"><span>1/8</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="main1">
        <div class="inner">
            <div class="m1_right">
                <div class="map_wrap">
                    <div id="map"></div>
                    <div id="menu_wrap" class="bg_white">
                        <div class="option">
                            <div>
                                <form onsubmit="searchPlaces(); return false;">
                                    키워드 : <input type="text" value="제주 맛집" id="keyword" size="15">
                                    <button type="submit">검색하기</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <ul id="placesList"></ul>
                        <div id="pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="category">
        <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">전체</li>
            <li class="tab-link" data-tab="tab-2">호텔</li>
            <li class="tab-link" data-tab="tab-3">모텔</li>
            <li class="tab-link" data-tab="tab-4">팬션</li>
            <li class="tab-link" data-tab="tab-5">글램핑</li>
        </ul>
    
        <div id="tab-1" class="tab-content current">
            <table>
                <tr>
                    <td>품목 1</td>
                    <td>품목 2</td>
                    <td>품목 3</td>
                    <td>품목 4</td>
                </tr>
                <tr>
                    <td>품목 5</td>
                    <td>품목 6</td>
                    <td>품목 7</td>
                    <td>품목 8</td>
                </tr>
                <tr>
                    <td>품목 5</td>
                    <td>품목 6</td>
                    <td>품목 7</td>
                    <td>품목 8</td>
                </tr>
                <tr>
                    <td>품목 5</td>
                    <td>품목 6</td>
                    <td>품목 7</td>
                    <td>품목 8</td>
                </tr>
            </table>
        </div>
        <div id="tab-2" class="tab-content current">
            <table>
                <tr>
                    <td>품목 1</td>
                    <td>품목 2</td>
                    <td>품목 3</td>
                    <td>품목 4</td>
                </tr>
                <tr>
                    <td>품목 5</td>
                    <td>품목 6</td>
                    <td>품목 7</td>
                    <td>품목 8</td>
                </tr>
            </table>
        </div>
        <div id="tab-3" class="tab-content current">
            <table>
                <tr>
                    <td>품목 1</td>
                    <td>품목 2</td>
                    <td>품목 3</td>
                    <td>품목 4</td>
                </tr>
                <tr>
                    <td>품목 5</td>
                    <td>품목 6</td>
                    <td>품목 7</td>
                    <td>품목 8</td>
                </tr>
            </table>
        </div>
        <div id="tab-4" class="tab-content current">
            <table>
                <tr>
                    <td>품목 1</td>
                    <td>품목 2</td>
                    <td>품목 3</td>
                    <td>품목 4</td>
                </tr>
                <tr>
                    <td>품목 5</td>
                    <td>품목 6</td>
                    <td>품목 7</td>
                    <td>품목 8</td>
                </tr>
            </table>
        </div>
        <div id="tab-5" class="tab-content current">
            <table>
                <tr>
                    <td>품목 1</td>
                    <td>품목 2</td>
                    <td>품목 3</td>
                    <td>품목 4</td>
                </tr>
                <tr>
                    <td>품목 5</td>
                    <td>품목 6</td>
                    <td>품목 7</td>
                    <td>품목 8</td>
                </tr>
            </table>
        </div>
    
    </div>
    
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	1faecd944d1bb1ff9e6939d4b20a8146&libraries=services"></script>
<script src="/js/kakaomap.js"></script>

</th:block>
</body>

</html>