<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- css영역 -->
    <th:block layout:fragment="content_css">
        <link rel="stylesheet" href="/css/csCenter/annDetail.css">
    </th:block>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="wrap">
            <div class="w_in">
                <div class="title_group">
                    <div class="title">공지사항</div>
                </div>
                <div class="content">
                    <div class="title_area"><span class="title_cate">[ [[${annDetail.annCateList.cateName}]]
                            ]</span>[[${annDetail.annTitle}]]<span class="title_date">[[${annDetail.annDate}]]</span>
                    </div>
                    <div class="content_group" th:utext="${annDetail.annContent}">
                        내용 출력
                    </div>
                </div>
            </div>
            <div class="page_group">
                <div class="inquireBtn">
                    <button class="annList" onclick="location.href='/cs/annListForm';">목록</button>
                    <button class="annUpdate"
                        th:onclick="|location.href='@{/cs/updateAnnForm(annNum=${annDetail.annNum})}'|">글 수정</button>
                    <button class="annDelete"
                        th:onclick="|location.href='@{/cs/deleteAnn(annNum=${annDetail.annNum})}'|">글 삭제</button>
                </div>
            </div>
        </div>
    </th:block>

    <!-- js 영역 -->
    <th:block layout:fragment="content_js"></th:block>
</body>

</html>