<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/csCenter_layout}">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- css영역 -->
    <th:block layout:fragment="content_css">
        <link rel="stylesheet" href="/css/csCenter/annList.css">
    </th:block>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="wrap">
            <div class="w_in">
                <div class="title_group">
                    <h3 class="title">공지사항</h3>
                    <div class="search_group">
                        <select name="" id="">
                            <option value="제목">제목</option>
                            <option value="내용">내용</option>
                            <option value="제목 + 내용">제목 + 내용</option>
                        </select>
                        <div class="search_input"><input type="text" placeholder="검색어를 입력해 주세요."></div>
                        <button class="search_btn">검색</button>
                    </div>
                </div>
                <div class="cate_menu">
                    <ul>
                        <li>
                            <a href="/cs/annListForm">전체</a>
                        </li>
                        <li th:each="cate : ${cateList}">
                            <a th:href="@{/cs/annListForm(annCate=${cate.cateCode})}">[[${cate.cateName}]]</a>
                        </li>

                    </ul>
                </div>
                <table width="1000px">
                    <thead width="100%">
                        <tr class="column">
                            <td width="10%">번호</td>
                            <td width="15%">구분</td>
                            <td>제목</td>
                            <td width="15%">등록일</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="no" width="100%" th:each="ann, state : ${annList}">
                            <td>[[${annVO.totalDataCnt - state.index - (annVO.displayDataCnt * (annVO.nowPage - 1))}]]</td>
                            <td>[[${ann.annCateList.cateName}]]</td>
                            <td><a class="annTitle" th:href="@{/cs/annDetailForm(annNum=${ann.annNum})}">[[${ann.annTitle}]]</a></td>
                            <td>[[${ann.annDate}]]</td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn_group">
                    <div class="pageBtn">
                        <a class="page_prevBtn" th:href="@{/cs/annListForm(nowPage=${annVO.beginPage - 1})}"><span th:if="${annVO.prev}">이전</span></a>
    
                        <th:block th:each="pageNum : ${#numbers.sequence(annVO.beginPage, annVO.endPage)}">
                            <a class="page_numBtn" th:href="@{/cs/annListForm(nowPage=${pageNum})}"><span th:text="${pageNum}"></span></a>
                        </th:block>
    
                        <a class="page_nextBtn" th:href="@{/cs/annListForm(nowPage=${annVO.endPage + 1})}"><span th:if="${annVO.next}">다음</span></a>
                    </div>
                    <div class="annBtn">
                        <button onclick="location.href='/cs/annForm';">글 작성</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <!-- js영역 -->
    <th:block layout:fragment="content_js">
        <script src="/js/csCenter/annList.js"></script>
    </th:block>
</body>
</html>