<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/csCenter_layout}">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- css영역 -->
    <th:block layout:fragment="content_css">
        <link rel="stylesheet" href="/css/csCenter/csCenter_main.css">
    </th:block>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="wrap">
            <h3 class="title"><span>제주 그린투어 고객센터</span>
                입니다. 무엇을 도와드릴까요?</h3>
            <div class="w_in">
                <div class="main">
                    <div class="m1">
                        <div class="m_search">
                            <input type="text" placeholder="지주 찾는 질문 검색창" style="outline: 0;">
                            <button>검색</button>
                        </div>
                        <div class="m_keyword">
                            <div class="k_icon">키워드<span class="triangle"></span></div>
                            <a href="">#키워드</a>
                            <a href="">#키워드</a>
                            <a href="">#키워드</a>
                            <a href="">#키워드</a>
                            <a href="">#키워드</a>
                        </div>
                    </div>
                    <div class="m2">
                        <h3 class="m2_title qna">자주 찾는 질문</h3>
                        <div class="m2_more_btn"><a href="/cs/qnaListForm">더보기</a></div>
                        <div class="m2_in">
                            <ul>
                                <!-- ------------------------------------------------ -->
                                <li class="m2_qna" th:each="qna, state : ${qnaList}">
                                    <div class="m2_qna_question"> <!-- 질문 -->
                                        <span class="m2_cateName m2_box">[ [[${qna.qnaCateList.cateName}]] ]</span>
                                        <span class="m2_qna_span_q">Q</span>
                                        [[${qna.qnaQuestion}]]
                                    </div>
                                    <div class="m2_qna_answer"> <!-- 대답 -->
                                        <span class="m2_box"></span>
                                        <span class="m2_qna_span_a">A</span>
                                        [[${qna.qnaAnswer}]]
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                
                </div>



                <div class="side">
                    <div class="s1">
                        <div class="s1_ment1">1:1문의</div>
                        <div class="s1_ment2">궁금하신 사항을 남겨주세요</div>
                        <div class="s1_btn">
                            <button class="s1_btn_left" onclick="location.href='/cs/inquireListForm';">문의내역 확인</button>
                            <button class="s1_btn_right" onclick="location.href='/cs/inquireForm';">문의하기</button>
                        </div>
                    </div>
                    <div class="s2">
                        <div class="s2_title">
                            <div class="m2_title ann">공지사항/당첨자발표</div>
                            <p class="m2_more_btn ann"><a href="/cs/annListForm">더보기</a></p>
                        </div>
                        <div class="s2_annList">
                            <ul>
                                <li th:each="ann, state : ${annList}">
                                    <p class="s2_ann_link">[ [[${ann.annCateList.cateName}]] ]</p>
                                    <p class="s2_ann_title">[[${ann.annTitle}]]</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="s3"></div>
                    <div class="s4"></div>
                </div>
            </div>
        </div>
    </th:block>

    <!-- js영역 -->
    <th:block layout:fragment="content_js">   
        <script src="/js/csCenter/csCenter_main.js"></script>
    </th:block>
    
</body>
</html>