<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/csCenter_layout}">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/csCenter/csCenter_main.css">
</head>
<body>
    <th:block layout:fragment="content">
        <div class="wrap">
            <div class="w_in">
                <div class="main">
                    <div class="m1">
                        <h3 class="m_title"><span>제주 그린투어 고객센터</span>
                        입니다. 무엇을 도와드릴까요?</h3>
                        <div class="m_search">
                        
                        </div>
                    </div>
                    <div class="m2"></div>
                    <div class="m3"></div>
                </div>
                <div class="side">
                    <h3>사이드</h3>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>