<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{fragment/csCenter_layout}">
<head>
<meta charset="UTF-8">
<title></title>
<!-- css영역 -->
<th:block layout:fragment="content_css">
    <link rel="stylesheet" href="/css/csCenter/inquireDetail.css">
</th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="wrap">
        <div class="w_in">
            <div class="box">
                <div>
                    <label for="">제목</label>
                    <div class="">[[${}]]</div>
                </div>
                <div>
                    <label for="">작성자</label>
                    <div class=""></div>
                </div>
                <div>
                    <label for="">작성일</label>
                    <div class=""></div>
                </div>
                <div>
                    <label for="">전화번호</label>
                    <div class=""></div>
                </div>
                <div>
                    <label for="">질문유형</label>
                    <div class=""></div>
                </div>
                <div>
                    <label for="">예약코드</label>
                    <div class=""></div>
                </div>
                <div>
                    <label for="">답변상태</label>
                    <div class=""><a href=""></a></div>
                </div>
                <div>
                    <label for="">문의내용</label>
                    <div class=""></div>
                </div>
                <div>
                    <label for="">답변내용</label>
                    <div class=""></div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
<!-- js영역 -->
<th:block layout:fragment="content_css">
</th:block>
</html>