<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/csCenter_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- css영역 -->
    <th:block layout:fragment="content_css">
        <link rel="stylesheet" href="/css/csCenter/inqDetail.css">
    </th:block>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="wrap">
            <div class="w_in">
                <div class="title">나의 문의</div>
                <div class="box">
                    <div class="inputBox">
                        <div class="label">제목</div>
                        <div class="input title">[[${inqDetail.title}]]</div>
                    </div>
                    <div class="inputBox">
                        <div class="label">작성자</div>
                        <div class="input memeberName">[[${inqDetail.member.memberName}]]</div>
                    </div>
                    <div class="inputBox">
                        <div class="label">작성일</div>
                        <div class="input date">[[${inqDetail.inqDate}]]</div>
                    </div>
                    <div class="inputBox">
                        <div class="label">전화번호</div>
                        <div class="input tel">[[${inqDetail.member.memberTel}]]</div>
                    </div>
                    <div class="inputBox">
                        <div class="label">문의유형</div>
                        <div class="input cateName">[[${inqDetail.inqCateList.cateName}]]</div>
                    </div>
                    <div class="inputBox">
                        <div class="label">답변상태</div>
                        <div class="input isResPonse"><a href="">[[${inqDetail.isResponse}]]</a></div>
                    </div>
                    <div class="inputBox content">
                        <div class="label">문의내용</div>
                        <div class="input answer">
                            <div class="contentText">[[${inqDetail.content}]]</div>
                            <div class="imgBox">
                                <div class="inqImgBlock" th:each="inqImg : ${inqImgList}">
                                    <img th:src="${'/img/cs/'+ inqImg.attachedFileName}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inputBox answer">
                        <div class="label">답변내용</div>
                        <div class="input answer">
                            <div class="contentText" th:if="${inqDetail.isResponse == 'Y'}">[[${response.inqResponse}]]</div>
                            <div class="contentText" th:if="${inqDetail.isResponse == 'N'}">답변을 기다려 주세요.</div>
                            <div class="imgBox">
                                <div class="inqImgBlock" th:if="${inqDetail.isResponse == 'Y'}" th:each="resImg : ${resImgList}" >
                                    <img th:src="${'/img/response/'+ resImg.attachedFileName}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btnBox">
                    <input  class="subBtn" type="button" th:if="${inqDetail.isResponse == 'N'}" value="답변하기" th:onclick="|location.href='@{/cs/responseForm(inqCode=${inqDetail.inqCode})}'|">
                    <input class="subBtn" type="button" value="삭제" th:onclick="|location.href='@{/cs/deleteInq(inqCode=${inqDetail.inqCode})}'|">
                    <input class="subBtn" type="button" value="목록" onclick="location.href='/cs/inquireListForm';">
                </div>
            </div>
        </div>
    </th:block>
</body>
<!-- js영역 -->
<th:block layout:fragment="content_js">
</th:block>

</html>