<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/csCenter_layout}">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- css영역 -->
    <th:block th:fragment="content_css"></th:block>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="wrap">
            <div class="w_in">
                <h3>1:1 문의하기</h3>
                <div>
                    <p>icon 문의하시기 전 확인해 주세요.</p>
                    <p>고객님의 소중한 의견을 빠르고 정확하게 해결하기 위해 최선을 다하겠습니다.</p>
                    <p>문의에 대한 답변은 [마이메뉴 > 마이페이지 > 1:1 문의]에서 확인할 수 있습니다.</p>
                </div>
            </div>
        </div>
    </th:block>
    <!-- js영역 -->
    <th:block th:fragment="content_js"></th:block>
</body>
</html>