<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/myPage_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- css영역 -->
    <th:block layout:fragment="content_css">
        <link rel="stylesheet" href="/css/csCenter/inquireList.css">
    </th:block>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="wrap">
            <div class="title_group">
                <div class="title">문의 내역</div>
            </div>
            <div class="table">
                <div class="tableHeader">
                    <div class="column cate">유형</div>
                    <div class="column name">제목</div>
                    <div class="column date">작성일</div>
                    <div class="column answer">답변상태</div>
                </div>
                <div class="tbody">
                    <div class="tr" th:if="${inqList != null}" th:each="inq, state : ${inqList}">
                        <div class="value cate">[[${inq.inqCateList.cateName}]]</div>
                        <div class="value name"><a
                                th:href="@{/cs/inqDetailForm(inqCode=${inq.inqCode})}">[[${inq.title}]]</a></div>
                        <div class="value date">[[${inq.inqDate}]]</div>
                        <div class="value answer">[[${inq.isResponse}]]</div>
                    </div>
                    <!-- 내용이 없는경우! 디자인 부탁드려요 우량씨 ^^ -->
                    <div class="tr" th:if="${#lists.size(inqList) == 0}">
                        내용이 없습니다!
                    </div>
                </div>
            </div>
            <div>
                <input type="button" onclick="location.href='/cs/inquireForm';" value="문의하기">
            </div>
            <div class="pageBtn" th:if="${#lists.size(inqList) != 0}">
                <a class="page_prevBtn" th:href="@{/cs/inquireListForm(nowPage=${inquireVO.beginPage - 1})}"><span th:if="${inquireVO.prev}">이전</span></a>

                <th:block th:each="pageNum : ${#numbers.sequence(inquireVO.beginPage, inquireVO.endPage)}">
                    <a class="page_numBtn" th:href="@{/cs/inquireListForm(nowPage=${pageNum})}"><span th:text="${pageNum}"></span></a>
                </th:block>

                <a class="page_nextBtn" th:href="@{/cs/inquireListForm(nowPage=${inquireVO.endPage + 1})}"><span th:if="${inquireVO.next}">다음</span></a>
            </div>
        </div>
    </th:block>
    <!-- js영역 -->
    <th:block layout:fragment="content_js"></th:block>
</body>

</html>