<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/csCenter_layout}">
<head>
    <meta charset="UTF-8">
    <title></title>
<!-- css영역 -->
<th:block layout:fragment="content_css">
    <link rel="stylesheet" href="/css/csCenter/qna.css">
</th:block>
</head>
<body>
    <th:block layout:fragment="content">
        <form action="/cs/insertQna" method="post">
            <div class="wrap">
                <div class="w_in">
                    <div class="title">자주 찾는 질문 추가</div>
                    <div class="inputBlock">
                        <div class="inputBox">
                            <div class="label">카테고리</div>
                            <select class="cateCode" name="cateCode" id="">
                                <option value="CATE_001">숙박</option>
                                <option value="CATE_002">결제</option>
                                <option value="CATE_003">혜택</option>
                                <option value="CATE_004">기타</option>
                                <option value="CATE_005">이벤트</option>
                            </select>
                        </div>
                        <div class="inputBox">
                            <div class="label">제목</div>
                            <input type="text" name="qnaQuestion">
                        </div>
                        <div class="inputBox textArea">
                            <div class="label">내용</div>
                            <textarea name="qnaAnswer" id="" cols="60" rows="10"></textarea>
                        </div>
                        </div>
                        <div>
                            <input class="subBtn" type="submit" value="등록하기">
                        </div>
                    </div>
                </div>
        </form>
    </th:block>
<!-- js영역 -->
<th:block layout:fragment="content_js">

</th:block>
</body>
</html>