<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/csCenter_layout}">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- css영역 -->
    <th:block layout:fragment="content_css">
        <link rel="stylesheet" href="/css/csCenter/qnaList.css">
    </th:block>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="wrap">
            <div class="w_in">
                <div class="title_group">
                    <h3 class="title">자주 찾는 질문</h3>
                    <div class="search_group">
                        <form action="/cs/qnaListForm" method="post">
                            <div class="search_input"><input type="text" name="searchData" required></div>
                            <div class="search_btn"><input type="submit" value="검색"></input></div>
                        </form>
                    </div>
                </div>
                <div class="list_group">
                    <div class="l_in">
                        <ul class="contentBox">
                            <li class="qna_d1" th:each="qna, state : ${qnaList}">
                                <div class="qna_question"> <!-- 질문 -->
                                    <span class="qna_span_q">Q</span>
                                    [[${qna.qnaQuestion}]]
                                    <div class="qna_btn">
                                        <input type="button" th:onclick="|location.href='@{/cs/updateQnaForm(qnaCode=${qna.qnaCode})}'|" value="수정">
                                        <input type="button" th:onclick="|location.href='@{/cs/deleteQna(qnaCode=${qna.qnaCode})}'|" value="삭제">
                                    </div>
                                </div>
                                <div class="qna_answer active"> <!-- 대답 -->
                                    <span class="qna_span_a">A</span>
                                    [[${qna.qnaAnswer}]]
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btn_group">
                    <div class="pageBtn">
                        <a class="page_prevBtn" th:href="@{/cs/qnaListForm(nowPage=${searchVO.beginPage - 1})}"><span th:if="${searchVO.prev}">이전</span></a>
    
                        <th:block th:each="pageNum : ${#numbers.sequence(searchVO.beginPage, searchVO.endPage)}">
                            <a class="page_numBtn" th:href="@{/cs/qnaListForm(nowPage=${pageNum})}"><span th:text="${pageNum}"></span></a>
                        </th:block>
    
                        <a class="page_nextBtn" th:href="@{/cs/qnaListForm(nowPage=${searchVO.endPage + 1})}"><span th:if="${searchVO.next}">다음</span></a>
                    </div>
                    <div class="inquireBtn">
                        <button class="qnaFormBtn" onclick="location.href='/cs/qnaForm';">글 추가</button>
                        <button class="inqFormBtn" onclick="location.href='/cs/inquireForm';">문의하기</button>
                    </div>
                </div>
            </div>
        </div>
      
    </th:block>

    <!-- js 영역 -->
    <th:block layout:fragment="content_js">   
        <script src="/js/csCenter/qnaList.js"></script>
    </th:block>
</body>
</html>