<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
<!-- css 영역 -->
<th:block layout:fragment="content_css">

</th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="search">
        <div class="s_in">
            <div class="sEvent">
                <h3>이벤트s</h3>
                <div class="sEvent_in">
                    <div th:if="${variable}">
                        
                    </div>
                </div>
            </div>
            <div class="sMainAcc">
                <h3>메인</h3>
                <div class="sMainAcc_in">
                    <div th:if="${variable}">

                    </div>
                </div>
            </div>
            <div class="sSubAcc">
                <h3>서브</h3>
                <div class="sSubAcc_in">
                    <div th:if="${variable}">

                    </div>
                </div>
            </div>
            <div class="sAnn">
                <h3>공지</h3>
                <div class="sAnn_in">
                    <div th:if="${variable}">

                    </div>
                </div>
            </div>
            <div class="sQna">
                <h3>QNA</h3>
                <div class="sQna_in">
                    <div th:if="${variable}">

                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
<!-- js 영역 -->
<th:block layout:fragment="content_js">

</th:block>
</html>