<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- layout:decorate="~{fragment/main_layout}" -->

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <!-- <th:block layout:fragment="content"> -->
    <style>
        .fc-daygrid-day {
            cursor: pointer;
        }

        .fc-day-sun {
            color: red;
        }

        .fc-day-sat {
            color: blue;
        }
    </style>
    <div id="calendar"></div>
    <form action="">
        <div>
            
            <input type="hidden" class="memberName" value="qqq">
            <input type="hidden" class="subCode" value="001">
            <input type="hidden" class="start" value="2023-10-24">
            <input type="hidden" class="end" value="2023-10-26">
            <input type="hidden" class="price" value="54444">
            <input type="hidden" class="dayuse" value="N"><!--예약 대실 유무-->
        </div>
        <div>
            <input type="hidden" class="memberName" value="eeee">
            <input type="hidden" class="subCode" value="001">
            <input type="hidden" class="start" value="2023-10-25">
            <input type="hidden" class="end" value="2023-10-25">
            <input type="hidden" class="price" value="54444">
            <input type="hidden" class="dayuse" value="Y"><!--예약 대실 유무-->
        </div>
        <div>
            <input type="hidden" class="memberName" value="erer">
            <input type="hidden" class="subCode" value="001">
            <input type="hidden" class="start" value="2023-10-25">
            <input type="hidden" class="end" value="2023-10-28">
            <input type="hidden" class="price" value="54444">
            <input type="hidden" class="dayuse" value="N"><!--예약 대실 유무-->
        </div>
        <div>
            <input type="hidden" class="memberName" value="ttrtr">
            <input type="hidden" class="subCode" value="001">
            <input type="hidden" class="start" value="2023-10-30">
            <input type="hidden" class="end" value="2023-10-31">
            <input type="hidden" class="price" value="54444">
            <input type="hidden" class="dayuse" value="N"><!--예약 대실 유무-->
        </div>
    </form>
    <script src='/dist/index.global.js'></script>
    <script src="/js/admin_calendar.js"></script>
    <!-- </th:block> -->
</body>

</html>