<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- layout:decorate="~{fragment/main_layout}" -->

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <!-- <th:block layout:fragment="content"> -->
    <style>
        .fc-daygrid-day {
            cursor: pointer;
        }

        .fc-day-sun {
            color: red;
        }

        .fc-day-sat {
            color: blue;
        }

        .starbox {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url(/img/emptystar.png);
            background-size: cover;
            /* background-image: linear-gradient(to right, red 50%, blue 50%); */
        }
        .starbox.on{
            background-image: url(/img/star.png);
        }

        .starbox:hover {
            background-image: url(/img/star.png);
            cursor: pointer;
        }
        
        .starbo2{
            display:  inline-block;
            background-image: url(/img/emptystarwhite.png);
            background-size: contain;
            width: 100%; height:100%;
        }
    </style>
    <div style="width: 100px; height: 20px;">
        <span class="starbox" onmouseup="resetStar()" onclick="setStar()">
            <span class="starbox" style="margin-left: 20px;" onclick="setStar()">
                <span class="starbox" style="margin-left: 20px;" onclick="setStar()">
                    <span class="starbox" style="margin-left: 20px;" onclick="setStar()">
                        <span class="starbox" style="margin-left: 20px;" onclick="setStar()">
                        </span>
                    </span>
                </span>
            </span>
        </span>
    </div>
    <div style="width: 100px; height: 20px; background-image: linear-gradient(to right, yellow 50%, transparent 50%)">
        <div class="starbo2">
            
        </div>
    </div>
    
    <div id="calendar"></div>
    <form action="">
        <div>
            <input type="hidden" class="subCodes" value="001">
            <input type="hidden" class="subCodes" value="002">
            <input type="hidden" class="subCodes" value="003">
            <input type="hidden" class="subCodes" value="004">
            <input type="hidden" class="subCodes" value="005"><!--예약 대실 유무-->
        </div>
        <div>
            <div>
                <input type="hidden" class="reservationCode" value="001">
                <input type="hidden" class="memberName" value="qqq">
                <input type="hidden" class="reservationDate" value="2023-10-10">
                <input type="hidden" class="subCode" value="002">
                <input type="hidden" class="start" value="2023-10-24">
                <input type="hidden" class="end" value="2023-10-26">
                <input type="hidden" class="price" value="54444">
                <input type="hidden" class="dayuse" value="N"><!--예약 대실 유무-->
            </div>
            <div>
                <input type="hidden" class="reservationCode" value="002">
                <input type="hidden" class="memberName" value="eeee">
                <input type="hidden" class="reservationDate" value="2023-10-10">
                <input type="hidden" class="subCode" value="002">
                <input type="hidden" class="start" value="2023-10-25">
                <input type="hidden" class="end" value="2023-10-25">
                <input type="hidden" class="price" value="54444">
                <input type="hidden" class="dayuse" value="Y"><!--예약 대실 유무-->
            </div>
            <div>
                <input type="hidden" class="reservationCode" value="003">
                <input type="hidden" class="memberName" value="erer">
                <input type="hidden" class="reservationDate" value="2023-10-10">
                <input type="hidden" class="subCode" value="002">
                <input type="hidden" class="start" value="2023-10-25">
                <input type="hidden" class="end" value="2023-10-28">
                <input type="hidden" class="price" value="54444">
                <input type="hidden" class="dayuse" value="N"><!--예약 대실 유무-->
            </div>
            <div>
                <input type="hidden" class="reservationCode" value="004">
                <input type="hidden" class="memberName" value="ttrtr">
                <input type="hidden" class="reservationDate" value="2023-10-10">
                <input type="hidden" class="subCode" value="002">
                <input type="hidden" class="start" value="2023-10-30">
                <input type="hidden" class="end" value="2023-10-31">
                <input type="hidden" class="price" value="54444">
                <input type="hidden" class="dayuse" value="N"><!--예약 대실 유무-->
            </div>
            <div>
                <input type="hidden" class="reservationCode" value="005">
                <input type="hidden" class="memberName" value="qqq">
                <input type="hidden" class="reservationDate" value="2023-10-10">
                <input type="hidden" class="subCode" value="002">
                <input type="hidden" class="start" value="2023-10-18">
                <input type="hidden" class="end" value="2023-10-20">
                <input type="hidden" class="price" value="54444">
                <input type="hidden" class="dayuse" value="N"><!--예약 대실 유무-->
            </div>
        </div>
        <div>
            <div>
                <input type="hidden" class="reservationCode" value="006">
                <input type="hidden" class="memberName" value="qqq">
                <input type="hidden" class="reservationDate" value="2023-10-10">
                <input type="hidden" class="subCode" value="001">
                <input type="hidden" class="start" value="2023-10-24">
                <input type="hidden" class="end" value="2023-10-26">
                <input type="hidden" class="price" value="54444">
                <input type="hidden" class="dayuse" value="N"><!--예약 대실 유무-->
            </div>
            <div>
                <input type="hidden" class="reservationCode" value="007">
                <input type="hidden" class="memberName" value="eeee">
                <input type="hidden" class="reservationDate" value="2023-10-10">
                <input type="hidden" class="subCode" value="001">
                <input type="hidden" class="start" value="2023-10-25">
                <input type="hidden" class="end" value="2023-10-25">
                <input type="hidden" class="price" value="54444">
                <input type="hidden" class="dayuse" value="Y"><!--예약 대실 유무-->
            </div>
            <div>
                <input type="hidden" class="reservationCode" value="008">
                <input type="hidden" class="memberName" value="erer">
                <input type="hidden" class="reservationDate" value="2023-10-10">
                <input type="hidden" class="subCode" value="001">
                <input type="hidden" class="start" value="2023-10-25">
                <input type="hidden" class="end" value="2023-10-28">
                <input type="hidden" class="price" value="54444">
                <input type="hidden" class="dayuse" value="N"><!--예약 대실 유무-->
            </div>
            <div>
                <input type="hidden" class="reservationCode" value="009">
                <input type="hidden" class="memberName" value="ttrtr">
                <input type="hidden" class="reservationDate" value="2023-10-10">
                <input type="hidden" class="subCode" value="001">
                <input type="hidden" class="start" value="2023-10-30">
                <input type="hidden" class="end" value="2023-10-31">
                <input type="hidden" class="price" value="54444">
                <input type="hidden" class="dayuse" value="N"><!--예약 대실 유무-->
            </div>
            <div>
                <input type="hidden" class="reservationCode" value="010">
                <input type="hidden" class="memberName" value="qqq">
                <input type="hidden" class="reservationDate" value="2023-10-10">
                <input type="hidden" class="subCode" value="001">
                <input type="hidden" class="start" value="2023-10-18">
                <input type="hidden" class="end" value="2023-10-20">
                <input type="hidden" class="price" value="54444">
                <input type="hidden" class="dayuse" value="N"><!--예약 대실 유무-->
            </div>
        </div>
    </form>
    <script src='/dist/index.global.js'></script>
    <script src="/js/admin_calendar.js"></script>
    <!-- </th:block> -->
</body>

</html>