<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <th:block layout:fragment="content">
        <style>
            .fc-daygrid-day {
                cursor: pointer;
            }

            .fc-day-sun {
                color: red;
            }

            .fc-day-sat {
                color: blue;
            }
        </style>
        <div id="calendar"></div>
        <form action="/buy/buyBasket" method="post">

            <th:block th:if="${Reservationlist != null}" th:each="Reservation, state : ${Reservationlist}">
                <input type="hidden" class="start" th:value="${Reservation.stayStartDate}">
                <input type="hidden" class="end" th:value="${Reservation.stayEndDate}">
                <input type="hidden" class="dayuse" value="Y"><!--예약 대실 유무-->
                <th:block th:if="${state.index == 0}">
                    <input type="hidden" class="renttime" value="5"><!-- 대실  시간 -->
                </th:block>
            </th:block>
            <!-- 필수 -->

            <th:block>
                <input type="text" class="checkin" th:value="${SampleSubVO.accomStartTime}"> <!-- 방의 체크인 시간 -->
                <input type="text" class="checkout" th:value="${SampleSubVO.accomEndTime}"> <!-- 방의 체크아웃 시간 -->
                <input type="text" class="renttime" th:value="${SampleSubVO.rentTime}">
                <input type="text" class="candayuse" th:value="${SampleSubVO.dayuseCan}">
                <input type="text" class="subAccomName" th:value="${SampleSubVO.subAccomName}">
                <input type="text" class="accomPrice" th:value="${SampleSubVO.accomPrice}">
                <input type="text" class="dayusePrice" th:value="${SampleSubVO.dayusePrice}">
                

            </th:block>

            <div>
                <input type="hidden" class="start" value="2023-10-24T10:00:00">
                <input type="hidden" class="end" value="2023-10-26T20:00:00">
                <input type="hidden" class="dayuse" value="N"><!--예약 대실 유무-->
            </div>

            <div>
                <input type="hidden" class="start" value="2023-10-22T10:00:00">
                <input type="hidden" class="end" value="2023-10-22T20:00:00">
                <input type="hidden" class="dayuse" value="Y"><!--예약 대실 유무-->
            </div>

            <div>
                <input type="hidden" class="start" value="2023-10-29T10:00:00">
                <input type="hidden" class="end" value="2023-10-30T00:00:00">
                <input type="hidden" class="dayuse" value="Y"><!--예약 대실 유무-->
            </div>


            <div>
                <input type="hidden" name="subAccomCode" th:value="${SampleSubVO.subAccomCode}">
                <input type="text" id="setStartDay" name="stayStartDate" required readonly>
                <input type="text" id="setEndDay" name="stayEndDate"required readonly>
                <input type="number" id="stayDay" name="stayTerm"  readonly>
                <input type="text" id="setdayuse" name="dayuse"  readonly>
            </div>
            <div>
                <input type="button" value="장바구니에 추가">
                <input type="button" value="대실" onclick="turndayuse(this)"><!-- <th:block th:if>로 유무 확인-->
                <input type="button" value="숙박" onclick="turnreserv(this)">
                <input type="submit" value="추가">
            </div>

        </form>
        <script src='/dist/index.global.js'></script>
        <script src="/js/calendar.js"></script>
    </th:block>
</body>

</html>