@charset "utf-8";

.wrap{
    margin: 50px 0;
}

.w_in{
    margin: 0 auto;
    width: 1200px;
}

.title_group{
    margin-bottom: 50px;
}
.title{
    width: 150px;
    font-size: 22px;
    font-weight: 700;
    color: #444;
    border-bottom: 5px solid #dadada;
}

.title_group h3{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}


.title_area{
    border-radius: 7px 7px 0 0;
    position: relative;
    padding: 20px 20px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    font-size: 17px;
}

.title_cate{
    margin-right: 30px;
    color: #1db954;
}

.title_date{
    position: absolute;
    top: 20px;
    right: 20px;
}

.content{
    box-shadow: 0 2px 6px 0 rgba(68,68,68,.08);
    border-radius: 7px;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}

.content_group{
    border-radius: 0 0 7px 7px;
    padding: 50px;
    border-bottom: 1px solid #dadada;
    font-size: 17px;
    margin-bottom: 30px;
}


.table-bordered{

}


table , tr, td{
    border: 1px solid #999;
}

tr:first-child{
    background-color: #1db954;
    color: white;
}


td{
    width: 100px;
}



.inquireBtn{
    display: flex;
    justify-content: center;
}

.inquireBtn button{
    width: 230px;
    height: 40px;
    border-radius: 5px;
    background-color: #03c75a;
    border: 0;
    cursor: pointer;
    color: white;
    border: 1px solid #dadada;
}
.inquireBtn button:hover{
    background-color: #1db954;
}


/* 공지 1번 css */


/*  ㄱ홍지 2번 csss */

