@charset "utf-8";

.ann a{
    color: #1db954;
}


.title_group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.title{
    font-size: 22px;
    font-weight: 700;
}


.search_group{
    display: flex;
}


.search_input{
    margin-left: 15px;
}

.search_btn{
    margin-left: 15px;
}

.cate_menu{
    margin-bottom: 30px;
}

.cate_menu ul{
    display: flex;
}

.cate_menu li{
    width: 200px;
    text-align: center;
    padding: 10px;
    border: 1px solid #999;
}




/* 테이블 영역 */

table{
    text-align: center;
    margin-bottom: 50px;
}

td{
    border: 1px solid #999;
    padding: 15px 10px;
    white-space: nowrap;
}

.column{
    background-color:lightgreen;
    color: #222;
    font-size: 17px;
    font-weight: 500;
}

.annTitle{
    overflow: hidden;
    text-overflow: ellipsis;
    color: #222;
}



/* 페이징 */

.page_prevBtn{
    font-size: 20px;
}

.page_nextBtn{
    font-size: 20px;
}

.page_numBtn{
    font-size: 20px;

}

.pageBtn > a{
    color: #222;
    margin-right: 10px;
}

.btn_group{
    position: relative;
    margin-bottom: 50px;
}

.annBtn{
    position: absolute;
    top: 0;
    right: 0;
}