@charset "utf-8";
/* 기본셋팅, 공통값 */
body, input{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}
img, input, button{
    vertical-align: top;
}
input, button{
    padding: 0;
}
a{
    text-decoration: none;
}
.hide{
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

#wrap{
    min-width: 920px;
}

#inner{
    width: 500px;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: white;
}


.cs_inner{
    width: 1200px;
    margin: 0 auto;
}

.cs_side{
    float: left;
    width: 20%;
    background-color: red;
}

.cs_content{
    float: right;
    width: 80%;
    background-color: blue;
}

