@charset "utf-8";

.w_in{
    display: flex;
}

.main{
    width: 70%;
    margin-right: 30px;
}

.title{
    font-size: 20px;
    margin-bottom: 20px;
}

.title span{
    color: green;
}

.m_search{
    display: flex;
    margin-bottom: 20px;
}

.m_search input{
    width: 87%;
    padding: 15px;
    border: 2px solid #222;
}

.m_search button{
    width: 13%;
    background-color: #222;
    color: white;
    border: 0;
    cursor: pointer;
}

.m_keyword{
    display: flex;
    margin-bottom: 60px;
}

.k_icon{
    position: relative;
    border: 1px solid #999;
    background-color: #999;
    padding: 3px 12px;
    color: white;
    margin-right: 30px;
}

.k_icon .triangle{
    position: absolute;
    top: 6px;
    right: -21px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #999;
}

.m_keyword a{
    color: #999;
    margin-right: 30px;
    line-height: 27px;
}

.m2{
    position: relative;
}

.m2_title{
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 15px;
    border-bottom: 1px solid #222;
}

.m2_more_btn{
    display: flex;
    position: absolute;
    top: 4px;
    right: 30px;
    height: 20px;
}

.m2_more_btn a{
    text-align: center;
    font-size: 17px;
    color: #222;
}

.m2_more_btn a::after{
    position: absolute;
    top: 2px;
    right: -25px;
    width: 22px;
    height: 20px;
    display: inline-block;
    content: "";
    background-image: url(/img/ico-arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.m2_in li{
    position: relative;
    padding: 20px 10px 0 20px;
    border-bottom: 1px solid #999;
    cursor: pointer;
}

.m2_qna_question{
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
}

.m2_qna_answer{
    display: none;
    font-size: 20px;
    margin-bottom: 20px;
}




.m2_qna_question .m2_cateName{
    color: blueviolet; 
}

.m2_qna_span_a, .m2_qna_span_q{
    margin-right: 15px;
}

.m2_box{
    display: inline-block;
    content: "";
    width: 150px;
}

.m2_in li::after{
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    content: "";
    width: 17px;
    height: 17px;
    background-image: url(/img/mball_arrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.m2_in .list_last{
    border-bottom: 1px solid #222;
}






















.side{
    width: 30%;
}

.s1{
    padding: 15px;
    border: 2px solid green;
    margin-bottom: 42px;
}

.s1_ment1{
    font-size: 17px;
    color: #999;
}

.s1_ment2{
    margin-bottom: 10px;
}

.s1_btn button{
    width: 45%;
    height: 30px;
    border: 1px solid #999;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.s1_btn button:hover{
    color: green;
    border: 1px solid green;
}

.s1_btn_left{
    margin-right: 15px;
}

.s1_btn_right{
    color: green;
}

.s2_title{
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #222;
}

.s2_title h3{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}

.s2_more_btn{
    position: absolute;
    top: 5px;
    right: 20px;
}

.s2_more_btn a{
    font-size: 15px;
    color: #222;
}

.s2_more_btn a::after{
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(/img/ico-arrow-right.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    position: absolute;
    top: 3px;
    right: -16px;
}

.s2 li{
    padding: 20px 5px;
    border-bottom: 1px solid #999;
}

.s2 span{
    color: blueviolet;
    margin-right: 30px;
}

