@charset "UTF-8";

.myPageSide5{
    color: #1ab752 !important;
    border-bottom: 2px solid #1ab752 !important;
}



table, tr, td{
    border: 1px solid #999;
    width: 500px;
    height: 30px;
}

.inquireList a{
    color: #1db954;
}

.title_group{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 22px;
    font-weight: 700;
}
.title{
    width: 150px;
    font-size: 22px;
    font-weight: 700;
    color: #444;
    border-bottom: 5px solid #dadada;
    margin-bottom: 20px;
}
.table{
    box-shadow: 0 2px 6px 0 rgba(68,68,68,.08);
    border-radius: 7px;
    width: 998px;
    border: 1px solid #dadada;
    text-align: center;
    margin-bottom: 50px;
}
.column{
    border-bottom: 1px solid #dadada;
    color: #444;
    font-size: 17px;
    font-weight: 700;
    padding: 13px;
    height: 50px;
    box-sizing: border-box;
}
.column.cate{
    width: 167px;
    border-radius: 7px 0 0 0;
    border-right: 1px solid #dadada;
}
.column.date{
    width: 167px;
    border-right: 1px solid #dadada;
}
.column.name{
    width: 500px;
    border-right: 1px solid #dadada;
}
.column.answer{
    width: 164px;
    border-radius: 0 7px 0 0;
}
.tableHeader{
    display: flex;
    height: 50px;
}
.tr{
    display: flex;
    border-bottom: 1px solid #dadada;
}
.tr:last-child{
    border: 0;
}
.tr div{
    font-size: 17px;
}
.value{
    color: #888;
}
.value.cate{
    box-sizing: border-box;
    height: 46px;
    padding:  10px 0;
    width: 167px;
    border-right: 1px solid #dadada;
}
.value.date{
    padding:  10px 0;
    width: 167px;
    border-right: 1px solid #dadada;
}
.value.name{
    color: #888;
    padding:  10px 0;
    width: 500px;
    border-right: 1px solid #dadada;
}
.value.answer{
    padding:  10px 0;
    width: 164px;
}
.value.name a:hover{
    color: #1db954;
}
.value.name a{
    color: #888;
}




/* 페이징 */

.page_prevBtn{
    font-size: 20px;
}

.page_nextBtn{
    font-size: 20px;
}

.page_numBtn{
    font-size: 20px;

}

.pageBtn > a{
    color: #222;
    margin-right: 10px;
}

.btn_group{
    position: relative;
    margin-bottom: 50px;
}

.annBtn button{
    margin-left: 285px;
    border-radius: 5px;
    width: 400px;
    height: 40px;
    background-color: #03c75a;
    border: 1px solid #dadada;
    color: #fff;
}
.annBtn button:hover{
    background-color: #1db954;
}
.pageBtn{
    margin: 0 auto 30px auto;
    width: 230px;
}
.pageBtn span{
    color: #888;
}


