@charset "UTF-8";

.wrap{
    margin: 0 100px;
}
.inquire a{
    color: #1db954;
}


textarea{
    resize: none;
}
.title{
    width: 150px;
    font-size: 22px;
    font-weight: 700;
    color: #444;
    border-bottom: 5px solid #dadada;
    margin-bottom: 20px;
}
.textBox{
    display: flex;
}
.wait{
    font-size: 22px;
    color: #1db954;
    margin-top: -4px;
    margin-right: 5px;
}
.textA{
    font-size: 18px;
    color: #1db954;
    font-weight: 700;
    margin-right: 5px;
}
.text{
    font-size: 18px;
    color: #888;
    margin-right: 5px;
}
.textA:hover{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 0.1em;
}
.textBlock{
    box-sizing: border-box;
    margin-bottom: 20px;
}
.box{
    box-shadow: 0 2px 6px 0 rgba(68,68,68,.08);
    border: 1px solid #dadada;
    border-radius: 7px;
    margin-bottom: 20px;
}
.cateCode{
    width: 100px;
    border-radius: 5px;

    outline: none;
    border: 1px solid #dadada;
    font-size: 18px;
    color: #666;
}
.cateCode:focus{
    border: 1px solid #1ab752;
}
.label{
    text-align: center;
    width: 80px;
    font-size: 20px;
    margin-right: 30px;
    color: #888;
}
.inputBox{
    display: flex;
    padding: 20px 30px;
    border-bottom: 1px solid #dadada;
}
.inputBox.imgLook{
    border: 0;
}
input{
    outline: none;
    border: 0;
    font-size: 16px;
    color: #666;
}
textarea{
    font-size: 18px;
    color: #666;
    outline: none;
    border: 0;
}
.imgSlideList{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.inputBox.imgLook > .label{
    padding: 20px 0;
}
.subBtn{
    cursor: pointer;
    margin-left: 195px;
    margin-bottom: 50px;
    border: 1px solid #dadada;
    border-radius: 5px;
    color: #fff;
    background-color: #03c75a;
    width: 400px;
    height: 50px;
    margin-left: 200px;
}
.subBtn:hover{
    background-color: #1ab752;
}
.memeberName{
    font-size: 19px;
    color: #666;
}
.inputBox.img .label{
    margin-top: 8px;
}
.inqImg{
    color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    background-color: #03c75a;

}
.inputBox.img .upload-name {
    border-radius: 5px;
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}

.inputBox.img label {
    margin-top: -2px;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 5px;
    width: 68px;
    border : 1px solid #dadada;
    font-size: 17px;
    color: #fff;
    vertical-align: middle;
    background-color: #03c75a;
    cursor: pointer;
    height: 25px;
    margin-left: 10px;
}
.inputBox.img label:hover{
    background-color: #1ab752;
}
.inputBox.img input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}