@charset "utf-8";

.wrap{
    margin: 0 100px;
}
.title_group{
    display: flex;
    justify-content: space-between;
}

.title{
    width: 150px;
    font-size: 22px;
    font-weight: 700;
    color: #444;
    border-bottom: 5px solid #dadada;
    margin-bottom: 20px;
}

.search_group{
    display: flex;
}


.search_input{
    margin-left: 15px;
}

.search_btn{
    margin-left: 15px;
}

.list_group{
    margin-bottom: 50px;
}

.qna_d1{
    position: relative;
    padding: 15px 10px 0px 15px;
    border-bottom: 1px solid #dadada;
    cursor: pointer;
}

.qna_d1::after{
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(/img/mball_arrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    opacity: 0.6;

}

.qna_d1.active::after{
    transform: rotate(180deg);
}

.qna_d1:last-child{
    border: 0;
}

.qna_d1 div{
    font-size: 17px;
}


.qna_d1 span{
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    margin-right: 30px;
}
.pageBtn{
    margin-bottom: 30px;
}
.qna_span_q{
    background-color: #999;
}

.qna_span_a{
    background-color: #222;
}

.active .qna_span_q{
    background-color: rgb(22, 161, 22);
}

.qna_answer{
    display: block;
    margin-top: 15px;
    padding-bottom: 15px;
}

.qna_answer.active{
    display: none;
}

.qna_question{
    position: relative;
    margin-bottom: 15px;
}

.page_prevBtn{
    font-size: 15px;
}

.page_nextBtn{
    font-size: 15px;
}

.page_numBtn{
    font-size: 15px;

}

.pageBtn > a{
    color: #222;
    margin-right: 10px;
}

.btn_group{
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.qnaFormBtn, .inqFormBtn{
    margin:0 auto;
    width: 200px;
    height: 30px;
    color: #fff;
    background-color: #03c75a;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.inqFormBtn:hover, .qnaFormBtn:hover{
    background-color: #1ab754;
}

.qnaList a{
    color: #1db954;
}
.contentBox{
    width: 800px;
    border-radius: 7px;
    border: 1px solid #dadada;
    box-shadow: 0 2px 6px 0 rgba(68,68,68,.08);
}
.qna_btn{
    position: absolute;
    right: 45px;
    top: 2px;
}
.qna_btn input{
    font-size: 13px;
    width: 55px;
    height: 28px;
    background-color: #03c75a;
    border: 1px solid #dadada;
    color: #fff;
    border-radius: 5px;
}
.qna_btn input:hover{
    background-color: #1db954;
}