
.hide{
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

#wrap{
    min-width: 600px;
}

#inner{
    width: 500px;
    margin: 0;
    padding: 15px 30px;
    background-color: white;
}
.h_in{
    display: flex;
    justify-content: space-between;
    margin-right: 30%;
}
.h_icon{
    margin-bottom: 30px;
}
.title{
    position: absolute;
    top: 10px;
    left: 41%;
    color: #999;
    font-size: 18px;
    font-weight: 700;
}
.logoA{
    margin-left: 206px;
    display: block;
    width: 200px;
    height: 160px;
}

.h_logo{
    width: 200px;
    height: 160px;
    background-image: url(/img/logo.png);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -99999%;
}

.bi.bi-arrow-left-square-fill:hover{
    fill: rgb(22, 161, 22);
}

.h_icon > .textLogin{

    margin: -21px 0 0 50px;
    font-size: 20px;
    font-weight: 700;
}

.h_icon a{
    
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.contentBlock{
    padding: 15px 30px;
    margin:10px auto;
    width: 500px;
    height: auto;
    border-radius: 7px;
    border: 1px solid #dadada; 
}
.inputIdBlock{
    position: relative;
    width: 502px;
    height: 40px;
    margin-bottom: 20px;
}
#memberId{
    color: #888;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    border: 1px solid #dadada;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}
#memberId:focus{
    border: 1px solid #1ab752;
}
svg{
    position: absolute;
    z-index: 500;
    top: 9px;
    left: 10px;
}
.email_verify{
    position: relative;
    border: 1px solid #dadada;
    border-radius: 7px;
    width: 500px;
    height: auto;
}
.email_verify svg{
    top: 8px;
}
.mb-3{
    height: 40px;
}
#memberEmail, #verify_code{
    margin: 8px 0 0 40px;
    height: 20px;
    outline: none;
    border: 1px solid #dadada;
    color: #888;
    border-radius: 5px;
}
#memberEmail:focus{
    border: 1px solid #1ab752;
}
#email_host:focus{
    border: 1px solid #1ab752;
}
#email_host{
    width: 170px;
    height: 24px;
    border-radius: 5px;
    color: #888;
    border: 1px solid #dadada;
    outline: none;
}
.verify{
    margin-left: 5px;
    border: 1px solid #dadada;
    border-radius: 5px;
    color: #fff;
    background-color: #03c75a;
    letter-spacing: -0.1em;
}
.result{
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
    color: #888;
}
.verify_box{
    display: flex;
    position: relative;
}
#timer{
    margin-left: 10px;
    margin-top: 9px;
}
.verify_box .verify{
    margin-left: 147px;
    margin-top: 8px;
    height: 24px;
}
.alertbox{
    margin-top: 10px;
    margin-left: 40px;
}
#findIdButton{
    width: 400px;
    height: 40px;
    margin: 20px auto;
}