body, input{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}
img, input, button{
    vertical-align: top;
}
input, button{
    padding: 0;
}
a{
    text-decoration: none;
}
.hide{
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

#wrap{
    min-width: 920px;
}
.h_in{
    display: flex;
    justify-content: space-between;
}
.h_icon{
    display: flex;
}
#inner{
    width: 500px;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: white;
}
#header{
    margin-bottom: 40px;
}
.bi.bi-arrow-left-square-fill:hover{
    fill: rgb(22, 161, 22);
}
.textLogin{
    font-size: 20px;
    font-weight: 700;
}

.bi.bi-house-fill:hover{
    fill: rgb(22, 161, 22);
}
.join_input_1{
    padding: 0;

    border-radius: 7px 7px 0 0;
    display: flex;
    border: 1px solid #dadada;
}
.input_memberId{
    position: relative;
}
.bi.bi-person-circle{
    position: absolute;
    z-index: 500;
    top: 0px;
    left: 10px;
}

.input_memberId input{
    box-sizing: border-box;
    margin-left: -1px;
    margin-top: -15px;
    border: 1px solid #dadada;
    border-radius: 7px 7px 0 0;
    width: 500px;
    height: 50px;
    padding: 0 0 0 50px;
}
.input_memberId input:focus{
    border: 1px solid #1ab752;
    outline: none;
    color: #444;
}
.double_check{
    background-color: #03c75a;
    color: #fff;
    border-radius: 7px;
    border: 1px solid #dadada;
    width: 70px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: 10px;
}
.double_check:hover{
    background-color:#1ab752;
}