body,
input {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}

img,
input,
button {
    vertical-align: top;
}

input,
button {
    padding: 0;
}

a {
    text-decoration: none;
}

.hide {
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

#wrap {
    min-width: 920px;
}

.h_in {
    display: flex;
    justify-content: space-between;
}

.h_icon {
    display: flex;
}

#inner {
    width: 500px;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: white;
}

#header {
    margin-bottom: 40px;
}

.bi.bi-arrow-left-square-fill:hover {
    fill: rgb(22, 161, 22);
}

.textLogin {
    font-size: 20px;
    font-weight: 700;
    color: rgb(117, 117, 117);
}

.bi.bi-house-fill:hover {
    fill: rgb(22, 161, 22);
}

.join_input {
    padding: 0;
    position: relative;
    border-radius: 7px 7px 0 0;
    display: flex;

}

.inputMem {
    position: relative;
}

.inputMem.memberId {
    border: 1px solid #dadada;
    border-radius: 7px 7px 0 0;
    width: 498px;
}

.inputMem>svg {
    position: absolute;
    z-index: 500;
    top: 12px;
    left: 10px;
}

.inputMem input {
    box-sizing: border-box;
    border: 1px solid #dadada;
    border-radius: 7px 7px 0 0;
    width: 500px;
    height: 50px;
    padding: 0 0 0 50px;
}

#memberId {
    width: 400px;
    height: 50px;
    border: 0;
}

.join_input_one {
    position: relative;
}

.join_input_one>.inputMem input {
    box-sizing: border-box;
    border: 1px solid #dadada;
    border-radius: 7px 7px 0 0;
    width: 500px;
    height: 50px;
    padding: 0 95px 0 50px;
}

#memberId.no::placeholder {
    color: #ff3f3f;
}

.inputMem input:focus {
    border: 1px solid #1ab752;
    outline: none;
    color: #444;
}

.double_check {
    background-color: #03c75a;
    color: #fff;
    border-radius: 5px;
    /* border: 1px solid #dadada; */
    border: 0;
    width: 90px;
    height: 35px;
    right: 7px;
    top: 8px;
    position: absolute;
}

.double_check:hover {
    background-color: #1ab752;
}

.inputMem>#memberPw {
    position: relative;
    border-top: 0;
    border-radius: 0;
}
.inputMem>#memberPwch {
    position: relative;
    border-top: 0;
    border-radius: 0 0 7px 7px;
}

.inputMem>#memberPw:focus {
    border-top: 1px solid #1ab752;
}
.inputMem>#memberPwch:focus {
    border-top: 1px solid #1ab752;
}
.pw_display {
    z-index: 500;
    margin-top: 14px;
    margin-left: -40px;
}
.inputMem.memberName{
    border-radius: 7px 0 0 0;
}
.inputMem>#memberName {
    position: relative;
    border-radius: 7px 0 0 0;
}

.inputMem>#memberName:focus {
    border-top: 1px solid #1ab752;
}

#memberName {
    width: 250px;
}

.input_gender {
    position: absolute;
    display: flex;
}

.gender_check input[type="radio"] {
    display: none;
}

.gender_check input[type="radio"]+span {
    display: inline-block;
    background: none;
    border: 1px solid #dadada;
    padding: 0px 10px;
    text-align: center;
    width: 70px;
    height: 33px;
    line-height: 33px;
    font-weight: 500;
    cursor: pointer;
}

.gender_check.male input[type="radio"]+span {
    border-radius: 5px 0 0 5px;
}

.gender_check.female input[type="radio"]+span {
    border-radius: 0 5px 5px 0;
}

.gender_check input[type="radio"]:checked+span {
    border: 1px solid #03c75a;
    background: #03c75a;
    color: #fff;

}

.join_input_3_right {
    position: relative;
    width: 250px;
    border: 1px solid #dadada;
    border-left: 0;
    border-radius: 0 7px 0 0;
}

.input_gender {
    position: absolute;
    top: 7px;
    left: 32px;
}

.memberInfo {
    margin-bottom: 30px;
    box-shadow: 0 2px 6px 0 rgba(68,68,68,.08);
}
.memberInfo_2{
    box-shadow: 0 2px 6px 0 rgba(68,68,68,.08);
}

.join_input.four {
    position: relative;
    width: 249px;
    height: 50px;
    border: 1px solid #dadada;
    border-top: 0;
    border-radius: 0;
}

.join_input>svg {
    position: absolute;
    z-index: 500;
    top: 12px;
    left: 10px;
}

.tel1,
.tel2,
.tel3 {
    border-radius: 7px;
    border: 1px solid #dadada;
    color: rgb(117, 117, 117);
    font-weight: 100;
    font-size: 15px;
    width: 50px;
    height: 20px;
    outline: none;
}

.tel1:focus,
.tel2:focus,
.tel3:focus {
    border: 1px solid #1ab752;
}

.input_tel {
    margin-top: 15px;
    margin-left: 48px;
}

.tel2,
.tel3 {
    width: 50px;
    box-sizing: border-box;
    padding: 0 0 0 5px;
    letter-spacing: 3px;
}

.inputDate {
    border: 0;
    outline: none;
}

.join_input.five {
    border: 1px solid #dadada;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    width: 250px;
    height: 50px;
    position: relative;
}

.inputDateDiv {
    display: flex;
    margin-left: 38px;
}

.dateText {
    margin-top: 15px;
    font-size: 15px;
    color: rgb(117, 117, 117);
}

.inputDate {
    margin-top: 1px;
    margin-left: 30px;
    width: 100px;
    color: rgb(117, 117, 117);
}
.callnDate{
    display: flex;
}
.inputMemEmail{
    width:499px;
    height: 50px;
    border: 1px solid #dadada;
    border-top: 0;
    border-radius: 0 0 7px 7px;
    display: flex;
}
#memberEmail{
    outline: 0;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 50px;
    color : rgb(117, 117, 117);
}
.join_input.six{
    position: relative;
    display: block;
}
.inputMemEmail>svg{
    position: absolute;
    z-index: 500;
    top: 12px;
    left: 10px;
}
.mb-3{
    display: flex;
}
.verify{
    background-color: #03c75a;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #dadada; 
    border: 0;
    width: 90px;
    height: 35px;
    right: 7px;
    top: 8px;
    font-size: 12px;
    position: absolute;
}
#email_host{
    border-radius: 7px;
    border: 1px solid #dadada;
    color: rgb(117, 117, 117);
    font-weight: 100;
    font-size: 15px;
    width: 120px;
    height: 20px;
    outline: none;
}
.verify_box{
    width: 499px;
    height: auto;
    border-radius: 0 0 7px 7px;
    border: 1px solid #dadada;
    border-top: 0;
}
.bi.bi-key{
    position: absolute;
    z-index: 500;
    top: 60px;
    left: 10px;
}
#verify_code{
    color: rgb(117, 117, 117);
    outline: 0;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 12px;
}
.verfyBox{
    display: flex;
}
#timer{
    color: #888;

    margin-left: 30px;
    margin-top: 12px;
}
.joinBtnBox{
    width: 500px;
}
.join_btn{
    width: 420px;
    height: 53px;
    border-radius: 6px;
    border: 1px solid #dadada;
    background-color: #03c75a;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    margin: 30px 40px;
}
.join_btn:hover{
    background-color: #1ab752;
}
.alertbox{
    margin: 10px 0 20px 48px;
}
