@charset "utf-8";
/* 기본셋팅, 공통값 */
body, input{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}
img, input, button{
    vertical-align: top;
}
input, button{
    padding: 0;
}
a{
    text-decoration: none;
}
.hide{
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

#wrap{
    min-width: 920px;
    background-color: aliceblue;
}

#inner{
    width: 500px;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: white;
}

.h_icon{
    margin-bottom: 30px;
}

.h_icon span{
    font-size: 20px;
}

.h_icon a{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/img/ico_back_24.png);
    background-size: 100% auto;
    background-position: center;
    text-indent: -99999%;
    margin-right: 10px;
}

.h_logo{
    width: 120px;
    height: 80px;
    background-image: url(/img/logo.png);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -99999%;
    margin: 0 auto 30px auto;
}

.login_input p{
    border: 1px solid #999;
    padding: 15px;
}