@charset "utf-8";
/* 기본셋팅, 공통값 */
body, input{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}
img, input, button{
    vertical-align: top;
}
input, button{
    padding: 0;
}
a{
    text-decoration: none;
}
.hide{
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

#wrap{
    min-width: 920px;
    background-color: aliceblue;
}

#inner{
    width: 500px;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: white;
}

.h_in{
    display: flex;
    justify-content: space-between;
}

.h_left span{
    font-size: 20px;
}

.h_left a{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/img/ico_back_24.png);
    background-size: 100% auto;
    background-position: center;
    text-indent: -99999%;
    margin-right: 10px;
}

.h_right a{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/img/ico_home_24.png);
    background-size: 100% auto;
    background-position: center;
    text-indent: -99999%;
}


.join_input_1{
    display: flex;
    justify-content: space-between;
    border: 1px solid #999;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 5px 20px 0 20px;
}

.double_check button{
    width: 80px;
    height: 30px;
    border-radius: 8px;
}


.join_input_2{
    display: flex;
    justify-content: space-between;
    border: 1px solid #999;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 5px 20px 0 20px;
}

.pw_display button{
    width: 25px;
    height: 25px;
    background-image: url(/img/pw_on.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: transparent;
    text-indent: -99999%;
    cursor: pointer;
    border: 0;

}

.join_input_3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.join_input_3_left{
    width: 65%;
    border: 1px solid #999;
    border-radius: 8px;
    padding: 5px 0 0 20px;
}

.join_input_3_right{
    width: 25%;
    border: 1px solid #999;
    border-radius: 8px;
    padding: 5px 0 0 20px;
}

.join_input_4{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.join_input_4_left{
    width: 50%;
    border: 1px solid #999;
    border-radius: 8px;
}

.input_tel{
    padding-left: 15px;
}

.join_input_4_left .tel1{
    width: 20%;
}

.join_input_4_left .tel2{
    width: 30%;
}

.join_input_4_left .tel3{
    width: 30%;
}

.join_input_4_right{
    width: 48%;
    border: 1px solid #999;
    border-radius: 8px;
}

.input_memberBirth{
    padding-left: 10px;
}


.join_btn{
    width: 80px;
    height: 30px;
}