@charset "utf-8";

html,
body {
    width: 100%;
}

body,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

/*tab css*/
.tab {

    width: 600px;
    height: 290px;
    margin-left: 305px;
}

.tabnav {
    font-size: 0;
    width: 600px;
    border: 1px solid #ddd;
}

.tabnav li {
    display: inline-block;
    height: 46px;
    text-align: center;
    border-right: 1px solid #ddd;
}

.tabnav li a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 3px;
}

.tabnav li a.active:before {
    background: #03c75a;
}

.tabnav li a.active {
    border-bottom: 1px solid #fff;
}

.tabnav li a {
    position: relative;
    display: block;
    background: #f8f8f8;
    color: #000;
    padding: 0 30px;
    line-height: 46px;
    text-decoration: none;
    font-size: 16px;
}

.tabnav li a:hover,
.tabnav li a.active {
    background: #fff;
    color: #03c75a;
}

.tabcontent {
    padding: 20px;
    height: 244px;
    border: 1px solid #ddd;
    border-top: none;
}

.hide {
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

.title {
    position: absolute;
    top: 10px;
    left: 41%;
    color: #999;
    font-size: 18px;
    font-weight: 700;
}

.contentBlock {
    padding: 15px 30px;
    margin: 10px auto;
    width: 500px;
    height: auto;
    border-radius: 7px;
    border: 1px solid #dadada;
}

.inputIdBlock {
    position: relative;
    width: 502px;
    height: 40px;
    margin-bottom: 20px;
}

#memberId {
    color: #888;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    border: 1px solid #dadada;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

#memberId:focus {
    border: 1px solid #1ab752;
}

svg {
    position: absolute;
    z-index: 500;
    top: 9px;
    left: 10px;
}

.email_verify {
    position: relative;
    border: 1px solid #dadada;
    border-radius: 7px;
    width: 500px;
    height: auto;
}

.email_verify svg {
    top: 1px;
}

/* .mb-3{
    height: 40px;
} */
#memberEmail,
#verify_code {
    margin: 1px 0 0 40px;
    height: 20px;
    outline: none;
    border: 1px solid #dadada;
    color: #888;
    border-radius: 5px;
}

#memberEmail:focus {
    border: 1px solid #1ab752;
}

#email_host:focus {
    border: 1px solid #1ab752;
}

#email_host {
    width: 170px;
    height: 24px;
    border-radius: 5px;
    color: #888;
    border: 1px solid #dadada;
    outline: none;
}

.verify {
    margin-left: 5px;
    border: 1px solid #dadada;
    border-radius: 5px;
    color: #fff;
    background-color: #03c75a;
    letter-spacing: -0.1em;
}

.result {
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
    color: #888;
}

.verify_box {
    display: flex;
    position: relative;
}

#timer {
    margin-left: 10px;
    margin-top: 9px;
}

.verify_box .verify {
    margin-left: 147px;
    margin-top: 8px;
    height: 24px;
}

.alertbox {
    margin-top: 10px;
    margin-left: 40px;
}

#findIdButton {
    width: 400px;
    height: 40px;
    margin: 20px auto;
}

.block {
    padding: 15px 30px;
    margin: 10px auto;
    width: 500px;
    height: auto;
    border-radius: 7px;
    border: 1px solid #dadada;
}

.block1.id>svg {
    top: 8px;
}

svg {
    position: absolute;
    z-index: 500;
    top: 10px;
    left: 10px;
}

.block1 {
    position: relative;
    padding: 15px 30px;
    margin: 10px auto;
    height: auto;
    margin-left: 40px;

}

.block1.id {
    width: 120px;
    height: 11px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid #dadada;
}

.memberId {
    margin-top: -7px
}

.changePw {
    position: relative;
    margin-left: 69px;
}

.InputchangePw {
    outline: none;
    border: 1px solid #dadada;
    border-radius: 7px;
    width: 300px;
    height: 35px;
    margin: 5px 0px;
    color: #888;
    box-sizing: border-box;
    padding: auto;
    padding: 0 40px;
}

.InputchangePw:focus {
    border: 1px solid #1ab752;
}

.changeBtn {
    width: 400px;
    height: 40px;
    margin: 5px 113px;
    border: 1px solid #dadada;
    border-radius: 5px;
    color: #fff;
    background-color: #03c75a;
    letter-spacing: -0.1em;
}

.changeBtn:hover {
    background-color: #1ab752;
}

#editMember_2 {
    width: 400px;
    height: 53px;
    border-radius: 6px;
    border: 1px solid #dadada;
    background-color: #03c75a;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    margin-left: 87px;
}

.join_input.four {
    position: relative;
    width: 500px;
    height: 50px;
    border: 1px solid #dadada;
    border-radius: 7px;
    margin-bottom: 15px;
}

.join_input>svg {
    position: absolute;
    z-index: 500;
    top: 12px;
    left: 10px;
}

.tel1,
.tel2,
.tel3 {
    border-radius: 7px;
    border: 1px solid #dadada;
    color: rgb(117, 117, 117);
    font-weight: 100;
    font-size: 15px;
    width: 50px;
    height: 20px;
    outline: none;
}

.tel1:focus,
.tel2:focus,
.tel3:focus {
    border: 1px solid #1ab752;
}

.input_tel {
    margin-top: 15px;
    margin-left: 48px;
}

.tel2,
.tel3 {
    width: 50px;
    box-sizing: border-box;
    padding: 0 0 0 5px;
    letter-spacing: 3px;
}

#editMember_1 {
    width: 400px;
    height: 53px;
    border-radius: 6px;
    border: 1px solid #dadada;
    background-color: #03c75a;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    margin-left: 87px;

}
.myPageSide2{
    color: #1ab752;
}